body {
    padding-top: 60px;
}


.Navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: background-color 0.6s ease;
    background-color: #1f253a;

}

.Navbar.navbar-scrolled {
    background-color: #1F253A;
}

.Navbar>.nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
}

.Navbar .nav-items a {
    color: #ffffff;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
    font-size: 1.6rem;
}

.Navbar .nav-items a.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 0.4s;
}


.Navbar .nav-items a:hover {
    opacity: 1;
}

.Navbar .nav-items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all .40s;
}

.Navbar .nav-items a:hover::before {
    width: 100%;
}

.Navbar .nav-toggle {
    display: none;
}

.Navbar .nav-content-logo {
    display: none;
}

.logo-menu {
    width: 180px;
    height: auto;
    left: 0;
    position: relative;
    transition: all 0.6s ease;
    cursor: pointer;
}

.nav-link img {
    width: 100px;
    height: 100%;
}

.logo-menu.logo-down {
    width: 200px;
    left: 0;
    position: relative;
    top: 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 50px;
}

.nav-toggle {
    position: absolute;
    right: 20px;
}

.nav-logo img {
    visibility: hidden;
    width: 1px;
}

.nav-logo2 img {
    visibility: hidden;
    top: 1px;
    left: 1px;
    width: 1px;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    z-index: 999;
    min-width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.submenu a {
    color: white;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown:hover .submenu,
.dropdown.active .submenu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}


.prueba-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 20vh;
    background-color: #171c1e;
    transition: all 0.4s ease;
    position: relative;
    left: 20px;
}

.prueba-logo.scrold {
    height: 0;
    background-color: transparent;
}

.Navbar.page-contacto {
    background-color: #fff;
    color: #000;
}

.Navbar.page-contacto a {
    color: black;
}

.Navbar.page-contacto .nav-items a::before {
    background: #000000;
}


.soy_mayor_de_edad {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    z-index: 999;
}

.content_mayor_edad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info_modal_mayor_de_edad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #171c1e;
    border: #27314F 8px solid;
    border-radius: 20px;
    width: 500px;
}

.content_img_me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.content_img_me img {
    width: 80%;
}

.content_text_me {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 0 30px;
    font-size: 2rem;
    text-align: center;
}

.close_modal_me {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    transition: all .4s ease;
    background-color: #27314F;
    margin-top: 20px;
}

.close_modal_me:hover {
    background-color: #1E63D3;
    cursor: pointer;
}

@media (max-width: 1220px) {
    .Navbar {
        transition: background-color 0.3s ease;
        background-color: #171c1eee;
        height: 35px;
    }

    .Navbar.navbar-scrolled {
        background-color: #171c1e;
    }

    .Navbar .nav-items {
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background: linear-gradient(120deg, #27314fbd, #1f253ab2, #27314fbd, #1f253ab2, #27314fbd, #1f253ab2, #27314fbd, #1f253ab2);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        gap: 0;
    }


    .Navbar .nav-items a.active::before {
        background-color: white;
    }

    .nav-items img {
        display: none;
    }

    .Navbar>.nav-items>a {
        font-size: 20px;
        color: white;
    }

    .Navbar .nav-items.open {
        transform: translateY(0);
        overflow-y: hidden;
    }

    .card-divider-menu {
        height: 2px;
        background-color: white;
        width: 90%;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-logo img {
        visibility: visible;
        position: relative;
        width: 60%;
        bottom: 60%;
    }

    .nav-logo2 img {
        visibility: visible;
        position: relative;
        top: 120px;
        left: 10%;
        width: 80%;
    }

    .Navbar .nav-toggle {
        display: flex;
        position: absolute;
        top: 0;
        right: 0px;
        width: 40px;
        height: 34px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }

    .Navbar .nav-content-logo {
        display: flex;
        width: 105px;
        padding-left: 15px;
    }

    .Navbar .nav-content-logo a {
        display: flex;
        width: 100%;
    }


    .Navbar .nav-content-logo img {
        width: 100%;
        height: 100%;
    }

    .logo-menu {
        width: 120px;
        left: 0;
        position: relative;
    }

    .nav-toggle .bar {
        width: 20px;
        height: 3px;
        background: white;
        position: relative;
        transition: all 0.3s ease;
    }

    .nav-toggle .bar::before,
    .nav-toggle .bar::after {
        content: "";
        position: absolute;
        height: 3px;
        background: white;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
    }

    .nav-toggle .bar::before {
        top: -8px;
    }

    .nav-toggle .bar::after {
        bottom: -8px;
    }

    .nav-toggle.open .bar {
        background: transparent;
    }

    .nav-toggle.open .bar::before {
        transform: rotate(45deg);
        top: 0;
    }

    .nav-toggle.open .bar::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .prueba-logo img {
        width: 100%;
    }

    .logo-menu {
        width: 200px;
        left: 0;
        position: relative;
        top: 0;
        transition: all 0.6s ease;
    }

    .logo-menu.logo-down {
        width: 200px;
        left: 0;
        position: relative;
        top: 0;
    }

    .prueba-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        background-color: transparent;
        transition: all 0.4s ease;
        position: relative;
        left: 0;
    }

    .prueba-logo.scrold {
        height: 0;
        background-color: transparent;
    }

    .Navbar.page-contacto {
        color: #fff;
        background-color: #000;
    }

    .Navbar.page-contacto a {
        color: white;
    }

    .Navbar.page-contacto .nav-items a::before {
        background: #fff;
    }

     .info_modal_mayor_de_edad {
        width: 380px;
    }

    body {
        padding-top: 34px;
    }

}




/* EFECTO NAVIDAD */


@-moz-keyframes nieve{	
	from{top:-40px;}
    to{top:101%;}
}
@-webkit-keyframes nieve{	
	from{top:-40px;}
    to{top:2000px;}
}
@keyframes nieve{	
	from{top:-40px;}
    to{top:2000px;}
}

@-moz-keyframes horiz2{
    20%{transform:translateX(0);}
    50%{transform:translateX(150px);}
    80%{transform:translateX(0);}
}
@-webkit-keyframes horiz2{
    20%{transform:translateX(0);}
    50%{transform:translateX(150px);}
    80%{transform:translateX(0);}
}
@keyframes horiz2{
    20%{transform:translateX(0);}
    50%{transform:translateX(-70px);}
    80%{transform:translateX(0);}
}

@-moz-keyframes horiz{
    20%{transform:translateX(0);}
    50%{transform:translateX(150px);}
    80%{transform:translateX(0);}
}
@-webkit-keyframes horiz{
    20%{transform:translateX(0);}
    50%{transform:translateX(150px);}
    80%{transform:translateX(0);}
}
@keyframes horiz{
    20%{transform:translateX(0);}
    50%{transform:translateX(150px);}
    80%{transform: translateX(0);}
}
	
.tpl-snow > div{position:fixed;-webkit-animation:ease-in infinite normal;-moz-animation:ease-in infinite normal;animation:ease-in infinite normal;}	

.tpl-snow > div{z-index:9999999999999;width:10px;height:10px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background-color:#fff;-webkit-animation-name:nieve,horiz;-moz-animation-name:nieve,horiz;animation-name:nieve,horiz;}
.tpl-snow > div:nth-of-type(odd){width:5px; height:5px;-webkit-animation-name:nieve,horiz2;-moz-animation-name:nieve,horiz2;animation-name:nieve,horiz2;}

.tpl-snow > div:nth-of-type(1){left:40px;-webkit-animation-duration:5.5s;-moz-animation-duration:5.5s;animation-duration:5.5s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(2){left:120px;-webkit-animation-duration:7s;-moz-animation-duration:7s;animation-duration:7s;}
.tpl-snow > div:nth-of-type(3){left:200px;-webkit-animation-duration:8s;-moz-animation-duration:8s;animation-duration:8s;}
.tpl-snow > div:nth-of-type(4){left:20%;-webkit-animation-duration:6s;-moz-animation-duration:6s;animation-duration:6s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(5){left:30%;-webkit-animation-duration:9s;-moz-animation-duration:9s;animation-duration:9s;}
.tpl-snow > div:nth-of-type(6){left:40%;-webkit-animation-duration:7.2s;-moz-animation-duration:7.2s;animation-duration:7.2s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(7){left:50%;-webkit-animation-duration:10s;-moz-animation-duration:10s;animation-duration:10s;}
.tpl-snow > div:nth-of-type(8){left:60%;-webkit-animation-duration:6.4s;-moz-animation-duration:6.4s;animation-duration:6.4s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(9){left:70%;-webkit-animation-duration:10s;-moz-animation-duration:10s;animation-duration:10s;-webkit-animation-delay:1.4s;-moz-animation-delay:1.4s;animation-delay:1.4s;}
.tpl-snow > div:nth-of-type(10){left:80%;-webkit-animation-duration:8s;-moz-animation-duration:8s;animation-duration:8s;}
.tpl-snow > div:nth-of-type(11){left:90%;-webkit-animation-duration:7.1s;-moz-animation-duration:7.1s;animation-duration:7.1s;-webkit-animation-delay:2s;-moz-animation-delay:2s;animation-delay:2s;}
.tpl-snow > div:nth-of-type(12){left:99%;-webkit-animation-duration:6.6s;-moz-animation-duration:6.6s;animation-duration:6.6s;-webkit-animation-delay:1.6s;-moz-animation-delay:1.6s;animation-delay:1.6s;}
.tpl-snow > div:nth-of-type(13){left:10px;-webkit-animation-duration:10.2s;-moz-animation-duration:10.2s;animation-duration:10.2s;}
.tpl-snow > div:nth-of-type(14){left:180px;-webkit-animation-duration:12s;-moz-animation-duration:12s;animation-duration:12s;}
.tpl-snow > div:nth-of-type(15){left:213px;-webkit-animation-duration:7.3s;-moz-animation-duration:7.3s;animation-duration:7.3s;-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s;}
.tpl-snow > div:nth-of-type(16){left:23%;-webkit-animation-duration:9.2s;-moz-animation-duration:9.2s;animation-duration:9.2s;}
.tpl-snow > div:nth-of-type(17){left:38%;-webkit-animation-duration:5s;-moz-animation-duration:5s;animation-duration:5s;}
.tpl-snow > div:nth-of-type(18){left:45%;-webkit-animation-duration:15s;-moz-animation-duration:15s;animation-duration:15s;}
.tpl-snow > div:nth-of-type(19){left:58%;-webkit-animation-duration:5s;-moz-animation-duration:5s;animation-duration:5s;}
.tpl-snow > div:nth-of-type(20){left:64%;-webkit-animation-duration:12s;-moz-animation-duration:12s;animation-duration:12s;}
.tpl-snow > div:nth-of-type(21){left:76%;-webkit-animation-duration:5.6s;-moz-animation-duration:5.6s;animation-duration:5.6s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(22){left:86%;-webkit-animation-duration:8.5s;-moz-animation-duration:8.5s;animation-duration:8.5s;}
.tpl-snow > div:nth-of-type(23){left:83%;-webkit-animation-duration:14.4s;-moz-animation-duration:14.4s;animation-duration:14.4s;}
.tpl-snow > div:nth-of-type(24){left:95%;-webkit-animation-duration:12s;-moz-animation-duration:12s;animation-duration:12s;}
.tpl-snow > div:nth-of-type(25){left:55px;-webkit-animation-duration:8.7s;-moz-animation-duration:8.7s;animation-duration:8.7s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;animation-delay:1.2s;}
.tpl-snow > div:nth-of-type(26){left:133px;-webkit-animation-duration:5.2s;-moz-animation-duration:5.2s;animation-duration:5.2s;}
.tpl-snow > div:nth-of-type(27){left:215px;-webkit-animation-duration:10.4s;-moz-animation-duration:10.4s;animation-duration:10.4s;-webkit-animation-delay:1.6s;-moz-animation-delay:1.6s;animation-delay:1.6s;}
.tpl-snow > div:nth-of-type(28){left:26%;-webkit-animation-duration:9s;-moz-animation-duration:9s;animation-duration:9s;}
.tpl-snow > div:nth-of-type(29){left:33%;-webkit-animation-duration:12s;-moz-animation-duration:12s;animation-duration:12s;}
.tpl-snow > div:nth-of-type(30){left:49%;-webkit-animation-duration:9.4s;-moz-animation-duration:9.4s;animation-duration:9.4s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(31){left:55%;-webkit-animation-duration:9.1s;-moz-animation-duration:9.1s;animation-duration:9.1s;}
.tpl-snow > div:nth-of-type(32){left:68%;-webkit-animation-duration:9.6s;-moz-animation-duration:9.6s;animation-duration:9.6s;-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s;}
.tpl-snow > div:nth-of-type(33){left:73%;-webkit-animation-duration:12.4s;-moz-animation-duration:12.4s;animation-duration:12.4s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(34){left:85%;-webkit-animation-duration:9s;-moz-animation-duration:9s;animation-duration:9s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;animation-delay:1.5s;}
.tpl-snow > div:nth-of-type(35){left:93%;-webkit-animation-duration:5s;-moz-animation-duration:5s;animation-duration:5s;}
.tpl-snow > div:nth-of-type(36){left:99%;-webkit-animation-duration:10.6s;-moz-animation-duration:10.6s;animation-duration:10.6s;}
.tpl-snow > div:nth-of-type(37){left:15px;-webkit-animation-duration:9.6s;-moz-animation-duration:9.6s;animation-duration:9.6s;}
.tpl-snow > div:nth-of-type(38){left:99px;-webkit-animation-duration:7.5s;-moz-animation-duration:7.5s;animation-duration:7.5s;}
.tpl-snow > div:nth-of-type(39){left:260px;-webkit-animation-duration:11s;-moz-animation-duration:11s;animation-duration:11s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(40){left:28%;-webkit-animation-duration:19s;-moz-animation-duration:19s;animation-duration:19s;}
.tpl-snow > div:nth-of-type(41){left:35%;-webkit-animation-duration:14s;-moz-animation-duration:14s;animation-duration:14s;}
.tpl-snow > div:nth-of-type(42){left:43%;-webkit-animation-duration:5.6s;-moz-animation-duration:5.6s;animation-duration:5.6s;}
.tpl-snow > div:nth-of-type(43){left:53%;-webkit-animation-duration:8.8s;-moz-animation-duration:8.8s;animation-duration:8.8s;-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.tpl-snow > div:nth-of-type(44){left:66%;-webkit-animation-duration:16s;-moz-animation-duration:16s;animation-duration:16s;}
.tpl-snow > div:nth-of-type(45){left:78%;-webkit-animation-duration:6s;-moz-animation-duration:6s;animation-duration:6s;}
.tpl-snow > div:nth-of-type(46){left:88%;-webkit-animation-duration:9.5s;-moz-animation-duration:9.5s;animation-duration:9.5s;-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s;}
.tpl-snow > div:nth-of-type(47){left:94%;-webkit-animation-duration:7.6s;-moz-animation-duration:7.6s;animation-duration:7.6s;}
.tpl-snow > div:nth-of-type(48){left:96%;-webkit-animation-duration:8.2s;-moz-animation-duration:8.2s;animation-duration:8.2s;-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s;}

@media(max-width:600px){
	.tpl-snow > div:nth-of-type(24) ~ *{display:none;}
}

@media(max-width:800px){
	.tpl-snow > div:nth-of-type(36) ~ *{display:none;}
}
