<section class="Navbar">
    <div>
        <a href=""  data-target="/components/home/index.html" onclick="mostrarLoader()">
            <img class="logo-menu"src="/resources/marcopolo.png" />
        </a>

    </div>

    <nav class="nav-items" id="navItems">
        <div class="nav-logo">
            <img src="/resources/marcopolo.png" alt="logo" />
        </div>
        <a href="#incio"  data-target="/components/home/index.html">INICIO</a>
        <div class="card-divider-menu"></div>
        <a href="#casino-page" data-target="/components/casinos/casinos.html">CASINOS</a>
        <div class="card-divider-menu"></div>
        <a href="#"  data-target="/components/experiencias/experiencias.html">EXPERIENCIAS</a>
        <div class="card-divider-menu"></div>
        <a href="#promociones-page" 
            data-target="/components/promociones/promociones.html">PROMOCIONES</a>
        <div class="card-divider-menu"></div>
        <a href="#clubnavegantes-page" 
            data-target="/components/clubnavegantes/clubnavegantes.html">CLUB NAVEGANTES</a>
        <div class="card-divider-menu"></div>
        <a href="#contacto-page"  data-target="/components/contacto/contacto.html">CONTACTO</a>
        <div class="card-divider-menu"></div>
        
        <div class="nav-logo2">
            <img src="/resources/Recurso-11.png" alt="logo" />
        </div>
    </nav>

    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
</section>