<section class="Navbar">
    <div>
        <img class="logo-menu" src="/resources/marcopolo.png" alt="logo" />
    </div>

    <nav class="nav-items" id="navItems">
        <div class="nav-logo">
            <img src="/resources/marcopolo.png" alt="logo" />
        </div>
        <a href="#incio" onclick="scrollToTop()" data-target="/components/home/index.html">Inicio</a>
        <div class="card-divider-menu"></div>
        <a href="#casino-page" onclick="scrollToTop()" data-target="/components/casinos/casinos.html">Casinos</a>
        <div class="card-divider-menu"></div>
        <a href="#promociones-page" onclick="scrollToTop()" data-target="/components/promociones/promociones.html">Promociones</a>
        <div class="card-divider-menu"></div>
        <a href="#clubnavegantes-page" onclick="scrollToTop()" data-target="/components/clubnavegantes/clubnavegantes.html">Club navegantes</a>
        <div class="card-divider-menu"></div>
        <a href="#contacto-page" onclick="scrollToTop()" data-target="/components/contacto/contacto.html">Contacto</a>
        <div class="card-divider-menu"></div>
        <div class="nav-logo2">
            <img src="/resources/Recurso-11.png" alt="logo" />
        </div>
    </nav>

    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
</section>