<section class="Navbar">
    <a href="#">
        <img class="logo-menu" src="/resources/marcopolo.png" alt="logo" />
    </a>

    <nav class="nav-items" id="navItems">
        <div class="nav-logo">
            <img src="/resources/marcopolo.png" alt="logo" />
        </div>
        <a href="../home/inicio.html" data-target="/components/home/inicio.html">Inicio</a>
        <div class="card-divider-menu"></div>
        <a href="#" data-target="components/casinos/casinos.html">Casinos</a>
        <div class="card-divider-menu"></div>
        <a href="#" data-target="promociones.html">Promociones</a>
        <div class="card-divider-menu"></div>
        <a href="#" data-target="clubnavegantes.html">Club navegantes</a>
        <div class="card-divider-menu"></div>
        <a href="#" data-target="contacto.html">Contacto</a>
        <div class="card-divider-menu"></div>
        <div class="nav-logo2">
            <img src="/resources/Recurso-11.png" alt="logo" />
        </div>
    </nav>

    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
</section>