.title-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* background-image: url(/resources/fondo-blanco-abstracto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


.start-game-text {
    width: 100%;
    text-align: center;
}

.start-game-text h1 {
    padding: 20px 0;
}

.content-img-game {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.content-img-game::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, black, rgba(0, 0, 0, 0));
    z-index: 1;
}

.content-img-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-img-game p {
    position: absolute;
    top: 40%;
    left: 15vw;
    z-index: 10;
    color: white;
    border-bottom: #fff 1px solid;
    pointer-events: none;
    font-family: 'lovelace', sans-serif !important;
    font-size: 5rem;
}


.acerca-game {
    width: 100%;
    text-align: center;
}

.content-desc-game {
    padding: 5px 20px;
}

.desc-game-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}


.content-desc-game-text {
    display: flex;
}

.content-desc-game-text p {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 1.6rem;
}

.content-card-game {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-game-info {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.img-card-game {
    display: flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.img-card-game img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    overflow: hidden;
}

.img-card-game img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.text-card-game {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: start;
    background-color: #1F253A;
    position: relative;
    text-align: start;
}

.text-card-game>span {
    color: #fff;
    font-size: 1.2rem;
}

.content-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 3px;
}

.content-icon svg {
    display: flex;
    width: 15px;
    height: 15px;
    color: rgb(209, 209, 209);
}

.content-media-game {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    width: 100%;
}

.card-media-game {
    display: flex;
    width: 100%;
    height: 400px;
}

.reverse-card {
    flex-direction: row-reverse;
}

.card-media-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.card-media-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.card-media-r iframe {
    width: 100%;
    height: 350px;
}


.content_form_head {
    position: absolute;
    width: 100px;
    background-color: transparent;
    height: 1px;
    top: 40%;
    left: 12vw;
    z-index: 100;
    transform: rotate(-90deg);
}

.progress-fill-head {
    width: 100%;
    /* Asegura que ocupe todo el ancho de la barra */
    height: 100%;
    --c: no-repeat linear-gradient(rgb(255, 255, 255) 0 0);
    background: var(--c), var(--c), transparent;
    background-size: 60% 100%;
    animation: movehead 4.2s infinite;
}

@keyframes movehead {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}

@media(max-width:1366px) {
    .card-game-info {
        width: 400px;
    }

    .img-card-game {
        height: 205px;
    }

    .content_form_head{
        left: 130px;
    }
}

@media (max-width: 768px) {
    .card-media-game {
        flex-direction: column;
        height: auto;
    }

    .content-img-game {
        height: 200px;
    }

    .card-media-l {
        width: 100%;
    }

    .card-media-r {
        width: 100%;
    }

    .card-media-r iframe {
        width: 100%;
        height: 200px;
    }

    .start-game-text h1 {
        padding-top: 20px;
    }

    .content-desc-game {
        padding: 0;
    }

    .content-desc-game-text {
        gap: 20px;
        flex-direction: column;
    }

    .content-desc-game-text p {
        border-top: #000 1px solid;
        width: 100%;
    }

    .content-card-game {
        width: 100%;
    }

    .img-card-game {
        height: 250px;
    }

    .content-img-game p {
        left: 50%;
        transform: translateX(-50%);
    }

    .content_form_head {
        display: none;
    }

}