<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MarcoPolo: Viernes de Locura.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_BONO_EXPRESS.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_BONO_EXPRESS_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section style="display:  none;" class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section style="display:  none;" class="container">
                <div class="terminos-condiciones">
                    <h1 class="type-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section style="display:  none;" class="container">
                <div class="container-termi">
                    <h1>Viernes de Locura</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />
                    <h3>Horario</h3>
                    <ul>
                        <li>Realizar la distribución de los sorteos en el siguiente horario: </li>
                        <ul>
                            <li>Sección maquinas: A las 11:00 pm </li>
                            <li>Sección Mesas: A la 1:00 am </li>
                        </ul>
                    </ul>
                    <br />
                    <h3>Mecánica del Juego</h3>
                    <br />
                    <ul>
                        <li>Una vez elegido el primer tiquete, este participante obtiene automáticamente
                            un
                            bono en dinero promocional.
                            Posteriormente, se procederá a sortear tres (3) bonos adicionales por valores
                            diferentes. </li>
                        <li>Todos los participantes resultan ganadores. </li>
                    </ul>

                    <br />
                    <h3>A Tenes en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en secciones diferentes.
                        </li>
                        <li>Esta promoción es exclusivamente presencial.</li>
                        <li>Con la tarjeta MYMAWI las recompensas serán mejores.</li>
                    </ul>

                    <br />
                    <h3>Premios</h3>
                    <br />
                    <ul>
                        <li>Los premios pueden <strong>variar según tu posición</strong>.</li>
                    </ul>
                    <br />
                    <h3>Horarios del Sorteo</h3>
                    <br />

                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <a href="#viernesdelocura" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Viernes de Locura</h2>
                            <img src="/resources/logo_viernes_locura.png" alt="MarcoPolo">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#dadosmagicos" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Dados Mágicos</h2>
                            <img src="/resources/logo_dados_magicos.png" alt="MarcoPolo">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/02/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>28/02/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container" id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>