<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dados de Poker</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="promocion-img">
                        <img src="/resources/dadospoker.png" />
                    </div>
                    <div class="promocion-text">
                        <h1 class="type3-h1">¡Dados de Póker!, La suerte es tuya</h1>
                        <div class="scroll-down-indicator">
                            <span class="arrow"></span>
                            <span class="arrow"></span>
                            <span class="arrow"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type2-h1">Términos y Condiciones</h1>

                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>DADOS DE PÓKER</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <ul>
                        <li>Una vez alcanzado el puntaje requerido, el jugador recibirá automáticamente un tiquete, el
                            cual podrá redimir en el sorteo correspondiente.</li>
                    </ul>

                    <h3>Mecánica del Juego</h3>
                    <ul>
                        <li>Los tiquetes se deben depositar en la urna establecida.</li>
                        <li>El director seleccionará un tiquete al azar y llamará al participante.</li>
                        <li>El participante recibirá cinco dados con caras personalizadas (As, Rey, Reina, Jack, 10 y 9)
                            y deberá agitarlos en un vaso especial antes de lanzarlos dentro de un cajón.</li>
                        <li>Solo se permite una oportunidad de lanzamiento. No se autorizan repeticiones en ninguna
                            circunstancia, a no ser que el participante NO salga favorecido se repite la acción.</li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la combinación obtenida y la categoría del jugador.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>

                    <h2>Condiciones</h2>
                    <h3>Disposiciones Generales</h3>
                    <ul>
                        <li>La validez de cada lanzamiento será supervisada por personal autorizado.</li>
                        <li>Cualquier intento de manipulación del juego anulará automáticamente la participación.</li>
                        <li>La promoción puede estar sujeta a cambios o cancelaciones según disposiciones internas o
                            normativas locales.</li>
                    </ul>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/06/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/06/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="section-slider-casinos">
                    <h1 class="type2-h1">Te invitamos a conocer nuestros casinos</h1>
                    <br />
                    <div class="slider-container">
                        <button class="slider-nav left" id="btn-prev">&#10094;</button>
                        <div class="slider-track" id="sliderTrack">
                            <div class="slide">
                                <div class="card">
                                    <a href="#barranquilla">

                                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                                        <p>Barranquilla, Mall plaza Buenavista</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#calisur">

                                        <img src="/resources/marcopoloHolguines.png" alt="">
                                        <p>Cali Sur, Holguines T.C.</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#bogota">
                                        <img src="/resources/marcopoloBogota.png" alt="">
                                        <p>Bogotá</p>
                                    </a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="card">
                                    <a href="#calioeste">
                                        <img src="/resources/marcopoloLocalInter.png" alt="">
                                        <p>Cali Oeste, Hotel Intercontinental</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#barranquilla">

                                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                                        <p>Barranquilla, Mall plaza Buenavista</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#calisur">
                                        <img src="/resources/marcopoloHolguines.png" alt="">
                                        <p>Cali Sur, Holguines T.C.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="card">
                                    <a href="#bogota">
                                        <img src="/resources/marcopoloBogota.png" alt="">
                                        <p>Bogotá,</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#barranquilla">

                                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                                        <p>Barranquilla, Mall plaza Buenavista</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#calisur">

                                        <img src="/resources/marcopoloHolguines.png" alt="">
                                        <p>Cali Sur, Holguines T.C.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="card">
                                    <a href="#calisur">
                                        <img src="/resources/marcopoloHolguines.png" alt="">
                                        <p>Cali Sur, Holguines T.C.</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#calioeste">
                                        <img src="/resources/marcopoloLocalInter.png" alt="">
                                        <p>Cali Oeste, Hotel Intercontinental</p>
                                    </a>
                                </div>
                                <div class="card">
                                    <a href="#barranquilla">
                                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                                        <p>Barranquilla, Mall plaza Buenavista</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="slider-nav right" id="btn-next">&#10095;</button>
                    </div>

                    <div class="dots" id="dots"></div>
                </div>
            </section>
        </div>
    </section>
</body>

</html>