<!DOCTYPE html>
<html>

<head>
    <title>Página de Casinos - Casino Marco Polo</title>
</head>

<body>
    <div class="container-contact">
        <!-- <section class="banner-start" id="contact-page">
            <div class="banner-content">
                <h1>Conócenos</h1>
            </div>
        </section> -->
        <section class="contact-form">
            <div class="content-contact">
                <div class="container-formulario">
                    <h1 class="type2-h1">Contáctanos</h1>
                    <form method="POST" class="formulario-contacto" id="formulario-contacto"
                        onsubmit="return enviarFormularioContacto(event)">
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" id="telefono" name="telefono" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad">
                        </div>
                        <div class="form-group">
                            <input type="text" id="direccion" name="direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="fecha_solicitud">Fecha de Solicitud:</label>
                            <input type="date" id="fecha_solicitud" name="fecha_solicitud">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción de la Solicitud:</label>
                            <textarea id="descripcion" name="descripcion" rows="5" required></textarea>
                        </div>
                        <div class="thechecks">
                            <div class="checkbox-group">
                                <input type="checkbox" id="es_cliente" name="es_cliente" value="si">
                                <label for="es_cliente">Soy cliente actual</label>
                            </div>
                            <div class="checks-cliente-terminos">
                                <input type="checkbox" id="aceptoTerminos" name="acepto_terminos" value="acepto"
                                    required>
                                <label for="aceptoTerminos">Acepto los
                                    <a href="/terminos-y-condiciones" target="_blank">Términos y Condiciones</a>
                                    y la
                                    <a href="/politica-de-privacidad" target="_blank">Política de Privacidad</a>
                                    .</label>
                            </div>
                        </div>
                        <div class="btn-contact-send">
                            <button type="submit" class="boton-enviar">Enviar / Registrar</button>
                        </div>
                        <!-- <div class="registro-invitacion">
                            <p>¿Te gustaría registrarte para obtener beneficios adicionales?</p>
                            <a href="/registro" class="boton-registro">Regístrate aquí</a>
                        </div> -->
                    </form>
                    <div id="mensaje-contacto"></div>
                </div>
            </div>
        </section>
        <div class="img-test-container-dados item">
            <img class="img-test-dados" src="/resources/dados2.png" />
        </div>
        <div class="img-test-container-ruleta item">
            <img class="img-test-ruleta" src="/resources/ruleta-no.png" />
        </div>
        <div class="img-test-container-carta1 item">
            <img class="img-test-carta1" src="/resources/carta1.png" />
        </div>
        <div class="img-test-container-carta2 item">
            <img class="img-test-carta2" src="/resources/carta6.png" />
        </div>
    </div>

</body>

</html>