<section title="Membresia MYMAWI" class="content-membresia-entretenimiento">
  <div class="container">
    <div class="item content-info-membresia-entretenimiento">
      <div class="card-view-entretenimiento">
        <img src="/resources/MY-MAWI-BLANCO.png" />
      </div>
      <div class="info-card-entretenimiento">
        <p><strong>Beneficios</strong> exclusivos <strong>MYMAWI</strong>.</p>
      </div>
      <div class="actions-card-entretenimiento">
        <a href="#membresia">Mas información</a>
      </div>
    </div>
  </div>
</section>