.content-membresia-entretenimiento {
  width: 100%;
  background-color: #1d1d1f;
  height: auto;
}

.content-info-membresia-entretenimiento {
  display: flex;
  justify-content: center;
}

.card-view-entretenimiento {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 33%;
}

.card-view-entretenimiento img {
  width: 50%;
}

.info-card-entretenimiento {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 33%;
  color: white;
}

.actions-card-entretenimiento {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 33%;
}

.actions-card-entretenimiento a {
  color: white;
  transition: all 0.4s ease;
}

.actions-card-entretenimiento a:hover {
  color: rgb(168, 168, 168);
}

@media(max-width: 768px) {
  .card-view-entretenimiento img {
    width: 100%;
  }
}