@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

/* HERO FULLSCREEN */
.con-cas .hero-casinos {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    overflow: hidden;
}

.con-cas .hero-casinos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../resources/Marco-Polo-3.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.con-cas .hero-content {
    text-align: center;
}

.con-cas .hero-casinos .hero-content h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #f3ec78, #af4261);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: movimiento-gradiente 2s linear infinite alternate;
}

@keyframes movimiento-gradiente {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.con-cas .hero-casinos .hero-content p {
    color: #fff;
    font-size: 1.2rem;
}

.con-cas .games-section {
    margin-top: 20px;
}

.con-cas .game-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.con-cas .game-card {
    width: 200px;
    text-align: center;
}

.con-cas .promotions-casinos {
    margin-top: 20px;
    text-align: center;
}


/* TIPOS DE CASINOS */
.con-cas .types-casinos {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 60px; */
    padding: 30px;
    background:
        linear-gradient(#1f253aee, #1f253a),
        url(../../resources/s2.jpg) center/cover no-repeat;
    color: white;
    margin-top: 5%;}

.con-cas .snip1482 {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    background: transparent;
    padding: 20px;
    text-align: left;
}

.con-cas .types-casinos .snip1482 .types-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.con-cas .snip1482 img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.con-cas .snip1482 figcaption {
    width: 100%;
    padding: 20px;
}

.con-cas .snip1482 h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.6s ease;
}

.con-cas .snip1482 p {
    font-size: 1rem;
    line-height: 1.5;
    transition: transform 0.6s ease;
}


/* .con-cas .snip1482:hover h2,
.con-cas .snip1482:hover p {
    transform: translateX(-10%);
    opacity: 1;
} */

/* LOCALIZACIONES */

.con-cas .mapas-casinos{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.con-cas .mapas-casinos .map-casinos iframe {
    border-radius: 10px;
    
}


.con-cas .mapas-casinos .map-casinos h1{
    color: #F6921E;
}

.con-cas .map-casinos {
    margin-top: 25px;
    margin-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}



/* STAFF */
.con-cas .staff-casinos {
    background-image:
        linear-gradient(#1f253a, #1f253ada),
        url(../../resources/s1.jpg);
    height: auto;
}

.con-cas .staff-casinos .content-casinos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-cas .staff-casinos .staff-casinos-img {
    margin-top: 10%;
}

.con-cas .staff-casinos .marco-polo-image {
    width: 100%;
}

.con-cas .staff-casinos .marco-polo-text {
    padding: 15px;
    width: 40%;
    background: white;
    height: auto;
    transform: translate(-10%, -50%);
}

.con-cas .staff-casinos .marco-polo-text h2 {
    color: #9B2738;
}


.con-cas .staff-casinos .marco-polo-text p{
    color: #27314f;
}



/* HORARIO DE CASINO */
.horario-casinos {
    background:
    linear-gradient(#1f253a, #1f253ae3),
    url(../../resources/bg-home.jpg) center/cover no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}

.horario-casinos .horario-content {
    margin-top: 20px;

}


.horario-casinos .horario-ciudades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.horario-casinos .horario-casinos-img {
    width: 50%;
}

.horario-casinos .horario-casinos-img .horario-box-left {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22.5px;
}


.horario-casinos .horario-casinos-img .horario-image {
    width: 40%;
    transition: transform 0.3s ease;
}

.horario-casinos .horario-casinos-img .horario-image:hover {
    transform: scale(1.12);
    transition: transform 0.3s ease;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {

    .con-cas .hero-casinos{
        margin-top: 18%;
    }

    .con-cas .hero-casinos .hero-content h1{
        font-size: 40px;
    }

    .con-cas .game-list {
        flex-direction: column;
        align-items: center;
    }

    .con-cas .types-casinos .snip1482 {
        display: contents;
        max-width: 90%;
        padding: 20px;
    }

    .con-cas .snip1482 figcaption {
        width: 100%;
    }

    .con-cas .snip1482 img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .con-cas .staff-casinos .content-casinos {
        height: auto;
    }

    .con-cas .staff-casinos .staff-casinos-img {
        padding: 30px;
    }



    .con-cas .staff-casinos .marco-polo-text {
        width: 80%;
        height: auto;
        transform: translateY(-40%);
    }

    .con-cas .types-casinos {
        gap: 10px;
        padding: 20px;
    }

    .con-cas .mapas-casinos h1{
        font-size: 18px;
    }


    .con-cas .mapas-casinos .map-casinos {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .con-cas .mapas-casinos .map-casinos iframe {
        border-radius: 20px;
        padding: 15px;
        width: auto;

    }

    .con-cas .mapas-casinos .map-casinos h1 {
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .con-cas .horario-casinos .horario-content img {
        width: 100%;
        object-fit: cover;
    }

    .horario-casinos .horario-casinos-img {
        width: 100%;
    }

    .horario-casinos .horario-casinos-img .horario-box-left {
        display: grid;
    }
    .horario-casinos .horario-casinos-img .horario-image {
        width: 100%;
    }

    .horario-casinos .horario-content h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }




}