.hero-casinos {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)),
        url(../../resources/s3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.hero-content {
    text-align: center;
}

.games-section {
    margin-top: 20px;
}

.game-list {
    display: flex;
    justify-content: space-around;
}

.game-card {
    width: 200px;
    text-align: center;
}

.promotions-casinos {
    margin-top: 20px;
    text-align: center;
}

.con-cas h1,
h2,
p,
a {
    font-family: 'TT Interphases Pro Variable', sans-serif;
}

.types-casinos {
    opacity: 100%;
    background-image:
        linear-gradient(#1f253aee, #1f253a),
        url(../../resources/s2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30%;
}

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

.types-casinos .snip1482 {
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin: 10px 20px;
    /* min-width: 230px; */
    max-width: 50%;
    /* min-height: 220px; */
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: transparent;
    font-size: 16px;
    padding: 15%;
}

.types-casinos .snip1482 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.types-casinos .snip1482 img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.055);
}

.types-casinos .snip1482 figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
}

.types-casinos .snip1482 h2,
.types-casinos .snip1482 p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
    font-size: 30px;
}

.types-casinos .snip1482 h2 {
    font-family: 'Playfair Display', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 2.2rem;
}

.types-casinos .snip1482 p {
    font-size: 1rem;
}

.types-casinos .snip1482 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.types-casinos .snip1482:hover img,
.types-casinos .snip1482.hover img {
    width: 100%;
    left: 30%;
}

.types-casinos .snip1482:hover figcaption h2,
.types-casinos .snip1482.hover figcaption h2,
.types-casinos .snip1482:hover figcaption p,
.types-casinos .snip1482.hover figcaption p {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
}


.staff-casinos {
    background-image:
        linear-gradient(#1f253a, #1f253ada),
        url(../../resources/s1.jpg);
    height: 100vh;
}

.staff-casinos .content-casinos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.staff-casinos .marco-polo-image {
    /* transform: translateX(8%); */
    width: 100%;
}

.staff-casinos .marco-polo-text {
    padding: 15px;
    transform: translate(-40%, -100px);
    width: 40%;
    background: white;
    height: 150px;
}

.staff-casinos .marco-polo-text h2 {
    color: #1f253a;
    font-family: 'TT Interphases Pro Variable', sans-serif;
}