<!DOCTYPE html>
<html>

<head>
    <title>Página de Casinos - Casino Marco Polo</title>
</head>

<body>

    <div class="con-cas">

        <!-- HERO FULLSCREEN -->
        <section class="hero-casinos" id="casinos-page">
            <!-- <video autoplay muted loop class="video-bg">
                <source src="https://www.youtube.com/watch?v=FAajXAuUcVA" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video> -->
            <div class="hero-content container item">
                <h1 class="type2-h1">El Juego Empieza Donde la Suerte Nunca Duerme</h1>
            </div>
        </section>

        <!-- SEGUNDA SECTION -->
        <section class="second-section">
            <div class="container">
                <section class="hero">
                    <h1 class="type-h1">Nuestros Casinos, Tu Destino Favorito</h1>
                    <p class="item">Explora nuestras sedes en todo el país y sumérgete en un ambiente lleno de emoción,
                        juegos de última generación y atención personalizada.
                        Cada uno de nuestros casinos ha sido diseñado para
                        brindarte una experiencia inolvidable desde el primer paso.</p>
                </section>

                <section class="caspian-section">
                    <div class="caspian-content">
                        <h2>Diversión en Cada Espacio</h2>
                        <p>
                            Ya sea que prefieras las tragamonedas,
                            las mesas de póker o la adrenalina de la ruleta americana,
                            en nuestros casinos encontrarás lo que buscas.
                            Disfruta de zonas VIP,
                            promociones exclusivas y todo lo que necesitas para jugar como tú quieres.
                        </p>
                        <!-- <button class="btn-design2 titulor" onclick="toMas()">Más</button> -->
                    </div>
                    <div class="caspian-image">
                        <img src="/resources/dancing-girl.png" alt="Caspian's" />
                    </div>
                </section>
            </div>
        </section>
        <!-- TYPES CASINOS FULLSCREEN -->
        <section class="types-casinos">
            <div class="snip1482">
                <div class="types-content">
                    <div>
                        <h2 class="type2-h1">CASINO MARCO POLO</h2>
                        <p>Gira, tira o sortea para conseguir tu próxima victoria.
                            Desde clásicos estratégicos como la ruleta americana hasta
                            la suerte de la ruleta, queremos que todos se sientan como en casa.</p>
                    </div>
                </div>
                <img class="titulo" src="/resources/interior.png" alt="Casino Marco Polo 1" />
            </div>
            <div class="snip1482">
                <div class="types-content">
                    <div>
                        <h2 class="type2-h1">ATENCIÓN Y TRATO EXCLUSIVO</h2>
                        <p>Gira, tira o sortea para conseguir tu próxima victoria.
                            Con un trato super premium de nuestros dealers siéntete como en casa,
                            apostando disfruta de las mejores bebidas y los mejores pasabocas
                            para un mejor ambiente para tu suerte.</p>
                    </div>
                </div>
                <img class="titulo" src="/resources/deal98.png" alt="Casino Marco Polo 1" />
            </div>
        </section>

        <!-- SECTION DE NOCHE -->
        <section class="section-noche">
            <section class="nightlife-header">
                <h1>ESTA NOCHE ESTÁ HECHA PARA LA EMOCIÓN</h1>
                <p>
                    MARCO POLO lleva tu vida nocturna a otro nivel. Brinda en elegantes salones, y luego baila toda la
                    noche en la pista principal o en la espectacular zona exclusiva.
                </p>
            </section>

            <section class="card-grid container">
                <div class="card-grid-content">
                    <!-- Card 1 -->
                    <div class="card-noche">
                        <div class="card-noche-img">
                            <img src="/resources/IMG_0166.jpg" alt="Vanderpump Cocktail Garden">
                        </div>
                        <div class="card-content">
                            <h3>CON MESAS EXCLUSIVAS</h3>
                            <small>MARCO POLO</small>
                            <p>
                                MARCO POLO trae su diversa variación en mesas y juegos, con los nuevos locales, con una
                                carta de cócteles artesanales y una selección de aperitivos...
                            </p>
                            <div class="card-footer">
                                <span class="titulo">→</span>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card-noche">
                        <div class="card-noche-img">
                            <img src="/resources/people-play.png" alt="Montecristo Cigar Bar">
                        </div>
                        <div class="card-content">
                            <h3>BAKARA & BLACKJACK</h3>
                            <small>MARCO POLO</small>
                            <p>
                                Este salón combina una exquisita selección de puros con whiskies finos y juegos de azar
                                en
                                un ambiente contemporáneo.
                            </p>
                            <div class="card-footer">
                                <span class="titulo">→</span>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="card-noche">
                        <div class="card-noche-img">
                            <img src="/resources/IMG_0170.jpg" alt="Caspians">
                        </div>
                        <div class="card-content">
                            <h3>CASINOS</h3>
                            <small>MARCO POLO</small>
                            <p>
                                Descubre los casinos de confianza de tu ciudad,
                                un paraíso escondido donde la indulgencia se
                                fusiona con la aventura. Disfruta de los exquisitos pasabocas,
                                tipos de carnes muy frescos y
                                cocteles y bebidas audaces...
                            </p>
                            <div class="card-footer">
                                <!-- <button class="purple-button titulo" onclick="vidanocturna()">Vida nocturna</button> -->
                                <span class="titulo">→</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- HORARIO CASINOS -->

        <section class="horario-casinos">

            <div class="horario-content">
                <h1 class="type2-h1">HORARIOS</h1>
            </div>
            <div class="horario-ciudades container titulo">
                <div class="card-horario">
                    <div class="card-horario-img">
                        <img src="/resources/sede-bogota.png" alt="HorarioBarran" class="horario-image">
                    </div>
                    <div class="card-horario-content">
                        <h1>MÁQUINAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 10:00 AM a 6:00 AM</p>
                        <h3>DOMINGO Y FESTIVOS:</h3>
                        <p>De 12:00 AM a 5:00 AM</p>
                        <small>*Solo lunes festivos*</small>
                        <br />
                        <h1>MESAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 02:00 PM a 05:00 AM</p>
                        <h3>SÁBADOS, DOMINGOS Y FESTIVOS</h3>
                        <p>De 07:00 PM a 05:00 AM</p>
                        <br />
                        <p>Cra. 15 #100-76</p>
                        <p>📞Cel: 318-338-4656</p>
                    </div>
                </div>
                <div class="card-horario">
                    <div class="card-horario-img">
                        <img src="/resources/sede-barranquilla.png" alt="HorarioBarran" class="horario-image">
                    </div>
                    <div class="card-horario-content">
                        <h1>MÁQUINAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 10:00 AM a 6:00 AM</p>
                        <h3>DOMINGO Y FESTIVOS:</h3>
                        <p>De 12:00 AM a 5:00 AM</p>
                        <small>*Solo lunes festivos*</small>
                        <br />
                        <p>Centro Comercial Mallplaza</p>
                        <br />
                        <p>📞Cel: 316-085-9199</p>
                    </div>
                </div>
                <div class="card-horario">
                    <div class="card-horario-img">
                        <img src="/resources/sede-inter.png" alt="HorarioBarran" class="horario-image">
                    </div>
                    <div class="card-horario-content">
                        <h1>MÁQUINAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 09:00 AM a 6:00 AM</p>
                        <h3>DOMINGO Y FESTIVOS:</h3>
                        <p>De 12:00 AM a 6:00 AM</p>
                        <br />
                        <h1>MESAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 04:00 PM a 06:00 AM</p>
                        <h3>DOMINGOS Y FESTIVOS</h3>
                        <p>De 07:00 PM a 05:00 AM</p>
                        <br />
                        <p>Hotel InterContinental</p>
                        <p>📞Cel: 315-564-9496</p>
                        <p>📞Cel: 318-237-9683</p>
                    </div>
                </div>
                <div class="card-horario">
                    <div class="card-horario-img">
                        <img src="/resources/sede-holguines.png" alt="HorarioBarran" class="horario-image">
                    </div>
                    <div class="card-horario-content">
                        <h1>MÁQUINAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 10:00 AM a 12:00 AM</p>
                        <h3>DOMINGO Y FESTIVOS:</h3>
                        <p>De 12:00 AM a 09:00 PM</p>
                        <br />
                        <h1>MESAS</h1>
                        <h3>LUNES A SÁBADOS:</h3>
                        <p>De 12:00 PM a 12:00 PM</p>
                        <h3>DOMINGOS Y FESTIVOS</h3>
                        <p>De 01:00 PM a 09:00 PM</p>
                        <br />
                        <p>Holguines Trade Center</p>
                        <p>Cra. 100 #11-60, L-200 (Torre Pance)</p>
                        <p>📞Cel: 318-338-4656</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- MAPAS DEL LOS CASINOS -->
        <section>
            <div class="mapas-casinos">
                <h1 class="type-h1">UBICACIÓN DE NUESTROS CASINOS</h1>
                <div class="map-casinos">
                    <div>
                        <h1>SEDE BARRANQUILLA</h1>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <h1>SEDE BOGOTA</h1>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4772047635433!2d-74.05000976723088!3d4.686819557814184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abde306ddc1%3A0xd87e4a68938251c0!2zQ3JhLiAxNSAjIDEwMC03NiwgVXNhcXXDqW4sIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses!2sco!4v1745857314522!5m2!1ses!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="map-casinos">
                    <div>
                        <h1>SEDE HOLGUINES</h1>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.908634134753!2d-76.54216163462709!3d3.3725075423425954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a17a55c60df5%3A0xf8f1ed27d927b75c!2sCra.%20100%20%2311-60%20l%20200%2C%20Ciudad%20Jard%C3%ADn%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1745857520053!5m2!1ses!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <h1>SEDE HOTEL INTERCONTINENTAL</h1>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.5578966946487!2d-76.5412328387482!3d3.4505325518536214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a66530081067%3A0x948c3ed83b5ac8d8!2sInterContinental%20Cali%2C%20an%20IHG%20Hotel!5e0!3m2!1ses!2sco!4v1745857838047!5m2!1ses!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</body>

</html>