<!DOCTYPE html>
<html>

<head>
    <title>Página de Casinos - Casino Marco Polo</title>
</head>

<body>

    <div class="con-cas" >

            <!-- HERO FULLSCREEN -->
            <section class="hero-casinos" id="casinos-page">
                <div class="hero-content">
                    <h1>Descubre la Emoción de Nuestros Casinos</h1>
                    <p>Explora una variedad de juegos y experiencias únicas.</p>
                </div>
            </section>

            <!-- HORARIO CASINOS -->


        
            <!-- TYPES CASINOS FULLSCREEN -->
            <section class="types-casinos">
                <figure class="snip1482">
                    <figcaption>
                        <h2>CASINO MARCO POLO</h2>
                        <p>Gira, tira o sortea para conseguir tu próxima victoria. 
                            Desde clásicos estratégicos como la ruleta americana hasta 
                            la suerte de la ruleta, queremos que todos se sientan como en casa.</p>
                    </figcaption>
                    <img src="/../../resources/Pai-Gow.jpg" alt="Casino Marco Polo 1" />
                </figure>
        
                <figure class="snip1482">
                    <img src="/../../resources/bg-home-02.jpg" alt="Casino 2" />
                    <figcaption>
                        <h2>CASINO MARCO POLO VIP</h2>
                        <p>Sube la apuesta y tus expectativas. Sal del casino y adéntrate en un entorno 
                            de juego exclusivo y privado con mesas de límite alto,
                            tragamonedas y un bar privado.</p>
                    </figcaption>
                </figure>
            </section>
        
            <!-- STAFF FULLSCREEN -->
            <section class="staff-casinos">
                <div class="content-casinos">
                    <div class="staff-casinos-img">
                        <img src="../../resources/dancing-girl.png" alt="Marco Polo" class="marco-polo-image">
                    </div>
                    <div class="marco-polo-text">
                        <h2>Marco Polo</h2>
                        <p>
                            Marco Polo es una persona sofisticada, que le gustan los buenos lugares. Es un joven adulto,
                            universitario o profesional con su carrera terminada. Puede ser un pequeño empresario o un
                            emprendedor independiente aún en proceso de consolidarse.
                        </p>
                    </div>
                </div>
            </section>

            <section class="horario-casinos">
                <div class="horario-content">
                   <!-- <img src="../../resources/horarios-removebg-preview.png" alt="Horario"> -->
                <h1>HORARIOS</h1>
                </div>
                <div class="horario-ciudades">
                    <div class="horario-casinos-img">
                        <div class="horario-box-left">
                            <img src="../../resources/Horarios-HS-Marcopolo-Barranquilla-removebg-preview.png" alt="HorarioBarran"
                                class="horario-image">
                            <img src="../../resources/Horarios-HS-Marcopolo-Bogota-removebg-preview.png" alt="HorarioBogo" 
                                class="horario-image">
                        </div>
                        <div class="horario-box-rigth">
                            <img src="../../resources/Horarios-HS-Marcopolo-Holguines-removebg-preview.png" alt="HorarioHolguines"
                                class="horario-image">
                            <img src="../../resources/Horarios-HS-Marcopolo-Intercontinental-removebg-preview.png" alt="HorarioInter"
                                class="horario-image">
                        </div>
            
                    </div>
                </div>
            </section>
        
        </div>
        
</body>

</html>