@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

/* HERO FULLSCREEN */
.con-cas .hero-casinos {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    overflow: hidden;
}

.con-cas .hero-casinos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../resources/casino-banner.png);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.con-cas .hero-content {
    text-align: center;
}

.con-cas .hero-casinos .hero-content h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #f3ec78, #af4261);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: movimiento-gradiente 2s linear infinite alternate;
}

@keyframes movimiento-gradiente {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.con-cas .hero-casinos .hero-content p {
    color: #fff;
    font-size: 1.2rem;
}

/* SEGUNDA SECTION VIDA DE ALTO NIVEL */

.second-section{
    padding: 0 0px 50px 0px;
    background-color: white;
}

.second-section .hero {
    text-align: center;
    padding: 50px 20px;
    background-color: white;

  }
  
  .second-section .hero h1 {
    font-size: 50px;
    color: #27314F;
  }
  
  .second-section .hero p {
    font-size: 16px;
    color: #27314F;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .second-section .caspian-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #111;
    color: #fff;
    height: auto;
    padding-top: 30px;

  }
  
  .second-section .caspian-content {
    flex: 1;
    padding: 60px 40px;
    min-width: 300px;
  }
  
  .second-section .caspian-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .second-section .caspian-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .second-section .caspian-image {
    flex: 1;
    min-width: 300px;
  }
  
  .second-section .caspian-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  

@media (max-width: 768px) {
    .second-section{
        padding: 0px 0px 0px 0px;
        background-color: white;
    }
}

/* TIPOS DE CASINOS */
.con-cas .types-casinos {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 60px; */
    padding: 30px;
    background:
        linear-gradient(#1f253aee, #1f253a),
        url(../../resources/s2.jpg) center/cover no-repeat;
    color: white;
}

.con-cas .snip1482 {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    background: transparent;
    padding: 20px;
    text-align: left;
}

.con-cas .types-casinos .snip1482 .types-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.con-cas .snip1482 img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.con-cas .snip1482 figcaption {
    width: 100%;
    padding: 20px;
}

.con-cas .snip1482 h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.6s ease;
}

.con-cas .snip1482 p {
    font-size: 1rem;
    line-height: 1.5;
    transition: transform 0.6s ease;
}




/* .con-cas .snip1482:hover h2,
.con-cas .snip1482:hover p {
    transform: translateX(-10%);
    opacity: 1;
} */

/* SECTINO DE NOCHE */

.section-noche{
    background-color: white;
}

.section-noche .nightlife-header {
    text-align: center;
    padding: 60px 20px 30px;
  }
  
  .section-noche .nightlife-header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #27314F;
  }
  
  .section-noche .nightlife-header p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    color: #27314F;
  }
  
  .section-noche .card-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    justify-content: center;
  }

  .section-noche .card-grid .card-grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
    margin: 0 auto;
  }
  
  .section-noche .card-noche {
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .section-noche .card-noche .card-noche-img{
    overflow: hidden;
    height: 250px;
  }
  
  .section-noche .card-noche .card-noche-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
  }

  .section-noche .card-noche img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
  
  .section-noche .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .section-noche .card-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #27314F;
  }
  
  .section-noche .card-content small {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .section-noche .card-content p {
    font-size: 14px;
    color: #444;
    flex-grow: 1;
  }
  
  .section-noche .card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
  }
  
  .section-noche .card-footer a {
    color: #0077cc;
    text-decoration: none;
    font-weight: 500;
  }
  
  .section-noche .card-footer span {
    font-size: 18px;
    color: #777;
  }

@media screen and (max-width: 768px) {
    .section-noche .card-grid {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .section-noche .card-noche {
        min-width: 100%;
      }
      
    
}

/* STAFF */
.con-cas .staff-casinos {
    background-image:
        linear-gradient(#1f253ad7, #1f253a),
        url(../../resources/s1.jpg);
    height: auto;
}

.con-cas .staff-casinos .content-casinos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-cas .staff-casinos .staff-casinos-img {
    margin-top: 10%;
}

.con-cas .staff-casinos .marco-polo-image {
    width: 100%;
}

.con-cas .staff-casinos .marco-polo-text {
    padding: 15px;
    width: 40%;
    background: white;
    height: auto;
    transform: translate(-10%, -50%);
}

.con-cas .staff-casinos .marco-polo-text h2 {
    color: #9B2738;
}


.con-cas .staff-casinos .marco-polo-text p{
    color: #27314f;
}

/* TODA LA NOCHE MARCOPOLO */


  @media (max-width: 768px) {
    .black-box {
        width: 95%;
        min-height: auto; /* La altura se ajusta al contenido */
        height: 60vh;
        padding: 15px;
    }

    .floating-image {
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .text-content {
        flex-direction: column; /* Apilar el texto y el botón en pantallas pequeñas */
        align-items: flex-start; /* Alinear a la izquierda */
        bottom: 15px;
        left: 15px;
        width: calc(100% - 30px);
        gap: 10px;
    }

    .text-content h2 {
        font-size: 1.2em;
    }

    .text-content p {
        font-size: 0.85em;
    }

    .text-content button {
        font-size: 0.8em;
        padding: 8px 15px;
        width: fit-content; /* El botón ocupa el ancho de su contenido */
    }
}


/* LOCALIZACIONES */

.con-cas .mapas-casinos{
    background-image:
        linear-gradient(#ffffff, #ffffffb6),
        url(../../resources/s1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #27314F;
}

.con-cas .mapas-casinos .map-casinos iframe {
    border-radius: 10px;
    
}


.con-cas .mapas-casinos .map-casinos h1{
    color: #F6921E;
}

.con-cas .map-casinos {
    margin-top: 25px;
    margin-bottom: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}



/* HORARIO DE CASINO */
.horario-casinos {
    /* background:
    linear-gradient(#1f253ad7, #1f253a),
    url(../../resources/bg-home.jpg) center/cover no-repeat; */
    background: linear-gradient(90deg,#CE2441 50%, #27314F 50% );
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}

.horario-casinos .horario-content {
    margin-top: 20px;

}


.horario-casinos .horario-ciudades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.horario-casinos .horario-casinos-img {
    width: 50%;
}

.horario-casinos .horario-casinos-img .horario-box-left {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22.5px;
}


.horario-casinos .horario-casinos-img .horario-image {
    width: 40%;
    transition: transform 0.3s ease;
}

.horario-casinos .horario-casinos-img .horario-image:hover {
    transform: scale(1.12);
    transition: transform 0.3s ease;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {

    .con-cas .hero-casinos{
        margin-top: 18%;
    }

    .con-cas .hero-casinos .hero-content h1{
        font-size: 40px;
    }

    .con-cas .game-list {
        flex-direction: column;
        align-items: center;
    }

    .con-cas .types-casinos .snip1482 {
        display: contents;
        max-width: 90%;
        padding: 20px;
    }

    .con-cas .snip1482 figcaption {
        width: 100%;
    }

    .con-cas .snip1482 img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .con-cas .staff-casinos .content-casinos {
        height: auto;
    }

    .con-cas .staff-casinos .staff-casinos-img {
        padding: 30px;
    }



    .con-cas .staff-casinos .marco-polo-text {
        width: 80%;
        height: auto;
        transform: translateY(-40%);
    }

    .con-cas .types-casinos {
        gap: 10px;
        padding: 20px;
    }

    .con-cas .mapas-casinos h1{
        font-size: 18px;
    }


    .con-cas .mapas-casinos .map-casinos {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .con-cas .mapas-casinos .map-casinos iframe {
        border-radius: 20px;
        padding: 15px;
        width: auto;

    }

    .con-cas .mapas-casinos .map-casinos h1 {
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .con-cas .horario-casinos .horario-content img {
        width: 100%;
        object-fit: cover;
    }

    .horario-casinos .horario-casinos-img {
        width: 100%;
    }

    .horario-casinos .horario-casinos-img .horario-box-left {
        display: grid;
    }
    .horario-casinos .horario-casinos-img .horario-image {
        width: 100%;
    }

    .horario-casinos .horario-content h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }




}