<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Vuelvete asociado</title>

</head>

<body>
    <section class="item-fondo1">
        <div class="container">
            <div class="content-asociado">
                <div class="frases-tarjeta item">
                    <h1>YA ESTAS MUY CERCA</h1>
                    <h1>DE VOLVERTE UN ASOCIADO.</h1>
                    <h1>DISFRUTA Y GANA</h1>
                    <h1>Y VIVE UNA EXPERIENCIA CON </h1>
                    <h1>MARCO POLO.</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="img-test-container-aso titulol">
        <img class="img-test-aso" src="/resources/ruleta2.png" />
    </section>
    <section class="item-fondo2">
        <div class="container">
            <div class="content-asociado">
                <div>
                    <!-- <section class="solicitud-tarjeta-asociado titulo">
                        <div class="formulario-asociado">
                            <h2>Vuelvete ASOCICADO</h2>
                            <form id="form-asociado" onsubmit="return false;">
                                <input type="text" id="nombre-asociado" name="nombre" placeholder="Nombre completo"
                                    required>
                                <input type="email" id="email-asociado" name="email" placeholder="Correo electrónico"
                                    required>
                                <input type="tel" id="telefono-asociado" name="telefono" placeholder="Teléfono"
                                    required>
                                <input type="text" id="direccion-asociado" name="direccion" placeholder="Dirección"
                                    required>
                                <input type="text" id="ciudad-asociado" name="ciudad" placeholder="Ciudad" required>
                                <select name="tipo_tarjeta" required>
                                    <option value="">Selecciona un tipo de tarjeta</option>
                                    <option value="1">Tarjeta Oro</option>
                                    <option value="2">Tarjeta Platino</option>
                                    <option value="3">Tarjeta VIP</option>
                                </select>
                                <div style="display: flex;justify-content: flex-end;">
                                    <button class="purple-button" type="button"
                                        onclick="enviarAsociado()">Solicitar</button>
                                </div>
                            </form>
                            <div id="form-message-asociado"></div>
                        </div>
                    </section> -->
                </div>
                <div style="z-index: 1;">
                    <div class="frases-tarjeta item">
                        <h1>LLENA EL FORMULARIO</h1>
                        <h1>Y ENVIA TUS DATOS.</h1>
                        <h1>Y VUELVETE UN ASOCIADO PROMETEDOR.</h1>
                        <h1>HAZLO SEGURO,</h1>
                        <h1>HAZLO CON MARCO POLO.</h1>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="img-test-container-aso2 titulol">
        <img class="img-test-aso2" src="/resources/carta2.png" />
    </section>
    <section class="item-fondo-asociado3">
        <div class="container">
            <div class="content-asociado">
                <div>
                    <div class="frases-tarjeta titulor">

                        <h1>DISFRUTA DE TODOS LOS BENEFICIOS</h1>
                        <h1>DE SER UN ASOCIADO.</h1>
                        <h1>DISFRUTA Y GANA</h1>
                        <h1>Y JUEGA CON TU SUERTE </h1>
                        <h1>JUEGA CON MARCO POLO.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>