<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/registro/registro.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Registro-Marco polo</title>
</head>

<body>
  <div class="loading" id="loading">
    <div class="card-loader">
      <div class="card-face"><img src="/resources/loader.png" /></div> <!-- As de espadas unicode -->
    </div>
  </div>
  <div id="registro" class="register">
    <div class="registro-logo">
      <a href="../../" data-target="/components/home/index.html">
        <img class="logo-menu" src="/resources/marcopolo.png" />
      </a>
    </div>

    <div class="container-register">
      <form id="registro-form" class="form-register" onsubmit="return registercliente(event)">
        <h1>Regístrate</h1>
        <input type="text" id="nombre-register" name="nombre" placeholder="Nombre" required autocomplete="name" />
        <input type="email" id="correo-register" name="correo" placeholder="Correo" required autocomplete="email" />
        <input type="text" id="documento-register" name="documento" placeholder="# de documento" required
          autocomplete="off" />
        <input type="tel" id="telefono-register" name="telefono" placeholder="Teléfono" required autocomplete="tel" />
        <input type="text" id="direccion-register" name="direccion" placeholder="Dirección" required
          autocomplete="street-address" />
        <input type="password" id="contraseña-register" name="contraseña" placeholder="Contraseña" required
          autocomplete="new-password" />
        <input type="password" id="confirmar-contraseña-register" name="confirmar-contraseña"
          placeholder="Confirmar Contraseña" required autocomplete="new-password" />
        <label>Fecha de nacimiento:</label>
        <input type="date" id="fecha-nacieminto-register" name="fecha" required autocomplete="bday" />
        <div style="display: flex; justify-content: space-between; gap: 30px;">
          <button type="button" class="btn-design1" id="inicio" onclick="iniciopage()">Regresar</button>
          <button type="submit" class="btn-design1">Registrar</button>
        </div>
        <div id="usercreate"></div>
      </form>
    </div>
  </div>

  <script>
    window.addEventListener("load", function () {
      const loading = document.getElementById("loading");
      loading.style.display = "none";
    });

    window.addEventListener("DOMContentLoaded", () => {
    const params = new URLSearchParams(window.location.search);
    const correo = params.get("email");
    const inputCorreo = document.getElementById("correo-register");

    if (correo && inputCorreo) {
      inputCorreo.value = decodeURIComponent(correo);
    }
  });

    
function registercliente(e) {
  e.preventDefault(); // Evita que se recargue
  const loading = document.getElementById("loading");
  const form = document.getElementById("registro-form");
  const formData = new FormData(form);
  const message = document.getElementById("usercreate");
  const contraseña = formData.get("contraseña");
  const confirmar = formData.get("confirmar-contraseña");

  console.log("entro a la funcion");
  if (!form) return;

  if (contraseña !== confirmar) {
    alert("Las contraseñas no coinciden.");
    return;
  }
  if (loading) loading.style.display = "flex";

  const url = "registro-cliente.php"
  fetch(url, {
    method: "POST",
    body: formData,
  })
    .then((response) => response.text())
    .then((data) => {
      setTimeout(() => {
        if (loading) loading.style.display = "none";
        message.innerHTML = '<div class="success-message">' +
          '<strong>¡Éxito!</strong> Datos enviados correctamente.</div>';
      }, 1000);

      form.reset();

      setTimeout(() => {
        message.innerHTML = "";
      }, 5000);
      // window.location.href = "../../";
    })
    .catch((error) => {
      if (loading) loading.style.display = "none";
      message.innerHTML = `<div style="color: red;">Error al enviar: ${error.message}</div>`;
      setTimeout(() => {
        message.innerHTML = "";
      }, 5000);
      console.error(error);
    });

};

    function iniciopage() {
      console.log("prueba regreso");
      window.location.href = "../../";
    }

  </script>
  <script></script>
</body>

</html>