<!DOCTYPE html>
<html>

<head>
  <title>Membresia - Casino Marco Polo</title>
</head>

<body>
  <section class="fondo">
    <section>
      <div class="container">
        <div class="banner-obten-tarjeta">
          <div>
            <div class="content-image" style="text-align: center;">
              <img class="item" src="/resources/MY-MAWI-CARD-PLATINO.png" />
            </div>
            <div class="scroll-down-indicator">
              <span class="arrow"></span>
              <span class="arrow"></span>
              <span class="arrow"></span>
            </div>
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta">
          <div class="titulo tarjeta-img">
            <img class="efecto-gota-d" src="/resources/people-mymawi-1.png" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">TARJETA MYMAWI</h1>
            <br />
            <p>Haz parte de la comunidad Marco Polo a través de la tarjeta de membresía MYMAWI, es gratis y te permite
              tener una mejor administración de tus fondos y premios en relación a los juegos y obtener múltiples
              beneficios adicionales.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta view-reverse">
          <div class="tarjeta-img">
            <img class="titulo efecto-gota-i" src="/resources/IMG_4460-2.jpg" />
          </div>
          <div class="tarjeta-desc ">
            <h1 class="type3-h1">BENEFICIOS DE LA TARJETA MYMAWI</h1>
            <br />
            <p>Usando permanentemente la tarjeta MYMAWI podrás disfrutar, entre otros, de los siguientes beneficios:</p>
            <br />
            <ul>
              <li>Administrar tu dinero (Cobrar o Recargar).</li>
              <li>Participar en progresivos misteriosos.</li>
              <li>Recibir bonos en dinero promocional.</li>
              <li>Transportar créditos en la tarjeta de una máquina a otra.</li>
              <li>Canjear los puntos obtenidos por dinero productos o servicios.</li>
              <li>Ganar bonos para eventos especiales como día de la madre, día del padre, halloween,
                cumpleaños, año nuevo chino, etc.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta">
          <div class="tarjeta-img">
            <img class="titulo efecto-gota-d" src="/resources/IMG_4689.jpg" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">PORQUE SI</h1>
            <h1 class="type3-h1">Y PORQUE NO</h1>
            <br />
            <p>La tarjeta Mymawi SIEMPRE genera puntos, independientemente de si ganas o no ganas en el juego. Por eso
              la Tarjeta Mymawi es la mejor opción para sumar siempre</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta view-reverse">
          <div class="tarjeta-img">
            <img class="titulo efecto-gota-i" src="/resources/IMG_4643.jpg" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">¿QUÉ ES DINERO PROMOCIONAL?</h1>
            <br />
            <p>Cuando una persona obtiene un premio en una promoción este se paga en “dinero promocional”, esta en una
              cifra representada en pesos pero que sólo sirve para jugar. El dinero promocional se carga a la tarjeta
              Mymawi y listo! puedes continuar tu juego.</p>
            <p>La tarjeta diferencia los saldos de dinero real y dinero promocional, privilegiando el uso del dinero
              promocional, a medida que un jugador gana con dinero promocional, éste se convierte en dinero real para
              ser cobrado o seguir divirtiéndose en nuestras máquinas.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="divider-section-section"></div>
      <section class="titulo" id="promocion-seccion">
      </section>
    </section>
    <section class="container">
      <section style="margin-top: 20px;margin-bottom: 20px;" id="ubicacion-seccion">
      </section>
      <div class="divider-section-section"></div>
    </section>
    <br /><br /><br />
  </section>
</body>

</html>