.content-acordeon-mymawi {
  display: flex;
  width: 100%;
  position: relative;
}

.acordeon-mymawi {
  width: 33.33%;
  height: 450px;
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}

.acordeon-mymawi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;
}


.acordeon-mymawi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.acordeon-mymawi:hover {
  width: 50%;
}

.content-title-mymawi {
  position: absolute;
  top: 375px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}

.content-text-mymawi {
  text-align: center;
  padding: 40px 0;
}

.background-mymawi {
  background-color: #1F253A;
}

.content-beneficios-mymawi {
  display: flex;
  gap: 20px;
  padding: 30px 0;
}

.beneficios-left {
  width: 50%;
}

.beneficios-left img {
  width: 100%;
  height: 100%;
}

.beneficios-rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.beneficios-rigth ul {
  padding-left: 30px;
}

.background-mymawi h2,
.background-mymawi p {
  color: white;
}

.beneficios-reverse {
  flex-direction: row-reverse;
}

@media(max-width: 768px) {
  .content-beneficios-mymawi.content-beneficios-mymawi {
    flex-direction: column;
  }

  .beneficios-left {
    width: 100%;
  }

  .beneficios-rigth {
    width: 100%;
  }

  .beneficios-rigth h2 {
    text-align: center;
  }

}