<!DOCTYPE html>
<html>

<head>
  <title>Membresia - Casino Marco Polo</title>
</head>

<body>
  <section class="fondo">
    <div class="content-title-mymawi">
      <div class="container">
        <img src="/resources/benner-mymawi.png" alt="marcopolo">
      </div>
    </div>
    <div class="container">
      <div class="content-beneficios-mymawi">
        <div class="beneficios-left">
          <img class="item" src="/resources/IMG_4558.jpg" alt="marcopolo">
        </div>
        <div class="beneficios-rigth">
          <h2 class="item type-h1">BENEFICIOS DE LA TARJETA MYMAWI</h2>
          <br />
          <p>Usando permanentemente la tarjeta MYMAWI podrás disfrutar, entre otros, de los siguientes beneficios:</p>
          <br />
          <ul>
            <li>Administrar tu dinero (Cobrar o Recargar).</li>
            <li>Participar en progresivos misteriosos.</li>
            <li>Recibir bonos en dinero promocional.</li>
            <li>Transportar la tarjeta de una máquina a otra.</li>
            <li>Canjear los puntos obtenidos por dinero, productos o servicios.</li>
            <li>Ganar bonos para eventos especiales como día de la madre, día del padre, halloween,
              cumpleaños, año nuevo chino, etc.</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="background-mymawi">
      <div class="container">
        <div class="content-beneficios-mymawi beneficios-reverse">
          <div class="beneficios-left">
            <img class="titulor" src="/resources/IMG_4460-2.jpg" alt="marcopolo">
          </div>
          <div class="beneficios-rigth">
            <h2 class="titulo type-h1">PORQUE SI</h2>
            <h2 class="titulo type-h1">Y PORQUE NO</h2>
            <br />
            <p class="titulo">La tarjeta Mymawi SIEMPRE genera puntos, independientemente de si ganas o no ganas en el
              juego. Por eso
              la Tarjeta Mymawi es la mejor opción para sumar siempre.</p>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content-beneficios-mymawi">
        <video class="beneficios-left" loop controls playsinline webkit-playsinline>
            <source src="/resources/DINERO-PROMOCIONAL-MYMAWI.mp4" type="video/mp4">
        </video>
        <div class="beneficios-rigth">
          <h2 class="titulo type-h1">¿QUÉ ES DINERO PROMOCIONAL?</h2>
          <br />
          <p class="titulo">Cuando una persona obtiene un premio en una promoción este se paga en “dinero promocional”,
            esta en una
            cifra representada en pesos pero que sólo sirve para jugar. El dinero promocional se carga a la tarjeta
            Mymawi y listo! puedes continuar tu juego.</p>
          <br />
          <p class="titulo">La tarjeta diferencia los saldos de dinero real y dinero promocional, privilegiando el uso
            del dinero
            promocional, a medida que un jugador gana con dinero promocional, éste se convierte en dinero real para
            ser cobrado o seguir divirtiéndose en nuestras máquinas.</p>

          <br />
        </div>
      </div>
    </div>
<div class="background-mymawi">
  <section class="container">
    <div class="divider-section-section"></div>
    <section class="titulo" id="promocion-seccion">
    </section>
  </section>
</div>
    <section class="container">
      <section style="margin-top: 20px;margin-bottom: 20px;" id="ubicacion-seccion">
      </section>
      <div class="divider-section-section"></div>
    </section>
    <br /><br /><br />
  </section>
</body>

</html>