/* .content-acordeon-mymawi {
  display: flex;
  width: 100%;
  position: relative;
}

.acordeon-mymawi {
  width: 33.33%;
  height: 450px;
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}

.acordeon-mymawi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;
}


.acordeon-mymawi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.acordeon-mymawi:hover {
  width: 50%;
} */

.content-title-mymawi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1F253A;
  /* background-image: url(/resources/benner-mymawi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; */
}

.content-img-mymawi {
  display: flex;
  width: 100%;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.content-img-mymawi img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-text-mymawi {
  text-align: center;
  padding: 40px 0;
}

.background-mymawi {
  background-color: #1F253A;
}

.content-beneficios-mymawi {
  display: flex;
  gap: 10px;
  padding: 30px 0;
}

.beneficios-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.beneficios-left img {
  width: 100%;
  height: auto;
}

.beneficios-rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.beneficios-rigth p {
  line-height: 2rem;

}

.beneficios-rigth ul {
  line-height: 2rem;
  padding-left: 30px;
}

.background-mymawi h2,
.background-mymawi p {
  color: white;

}

.beneficios-reverse {
  flex-direction: row-reverse;
}


.content_form_head {
  position: absolute;
  width: 316px;
  background-color: transparent;
  height: 1px;
  top: 230px;
  left: -132px;
  z-index: 100;
  transform: rotate(-90deg);
}

.progress-fill-head {
  width: 100%;
  /* Asegura que ocupe todo el ancho de la barra */
  height: 100%;
  --c: no-repeat linear-gradient(rgb(255, 255, 255) 0 0);
  background: var(--c), var(--c), transparent;
  background-size: 60% 100%;
  animation: movehead 4.2s infinite;
}

@keyframes movehead {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

._content_divider_section {
  padding: 20px 0;
}

@media(max-width:1366px) {
  .content-title-mymawi {
    height: auto;
  }


  .beneficios-rigth h2 {
    font-size: 3.2rem;
  }

  .content_form_head {
    width: 240px;
    left: -100px;
    top: 185px;
  }
}

@media(max-width:880px) {
  .beneficios-rigth h2 {
    font-size: 2rem;
  }

  .beneficios-rigth {
    font-size: 1.5rem;
  }
}


@media(max-width: 768px) {
  .content-beneficios-mymawi.content-beneficios-mymawi {
    flex-direction: column;
  }

  .beneficios-left {
    width: 100%;
  }

  .beneficios-rigth {
    width: 100%;
  }

  .beneficios-rigth h2 {
    text-align: center;
  }

  .content-acordeon-mymawi {
    pointer-events: none;
  }

  .content_form_head {
    width: 100px;
    top: 98px;
    left: -45px;
  }

  ._content_divider_section {
    padding: 0 20px;
  }

}