<!DOCTYPE html>
<html>

<head>
  <title>Membresia - Casino Marco Polo</title>
</head>

<body>
  <section class="fondo">
    <section>
      <div class="content-acordeon-mymawi">
        <div class="acordeon-mymawi">
          <img src="/resources/people-mymawi-1.png" alt="marcopolo">
        </div>
        <div class="acordeon-mymawi">
          <img src="/resources/banner-home.png" alt="marcopolo">
        </div>
        <div class="acordeon-mymawi">
          <img src="/resources/mp3.jpg" alt="marcopolo">
        </div>
      </div>
      <div class="content-title-mymawi">
        <h2 class="type1-h1-bold">MYMAWI</h2>
      </div>
    </section>



    <div class="container">
      <div class="content-text-mymawi">
        <h1 class="type-h1">Ábrele la puerta</h1>
        <h1 class="type-h1">a tu casino favorito.</h1>
        <br />
        <p class="type3-h1">Haz parte de la comunidad <strong>Marco Polo</strong> y <strong
          style="color: red;">Aladdin</strong> a través de la tarjeta de membresía
          <strong style="color: red;">MYMAWI</strong>, es
          <strong style="color: red;">GRATIS</strong> y te permite
          tener una mejor administración de tus fondos y premios en relación a los juegos y obtener múltiples
          <strong style="color: red;">beneficios</strong> adicionales.
        </p>
      </div>
    </div>

    



    <section class="container">
      <div class="divider-section-section"></div>
      <section class="titulo" id="promocion-seccion">
      </section>
    </section>
    <section class="container">
      <section style="margin-top: 20px;margin-bottom: 20px;" id="ubicacion-seccion">
      </section>
      <div class="divider-section-section"></div>
    </section>
    <br /><br /><br />
  </section>
</body>

</html>