<!DOCTYPE html>
<html>

<head>
  <title>Página de Promociones - Casino Marco Polo</title>
</head>

<body>
  <div class="container-promo">
    <section class="section-start" id="promociones-page">
      <div class="content-start">
        <h1>Bienvenido a las Promociones</h1>
        <p>Descubre las mejores promociones y ofertas exclusivas para nuestros jugadores.</p>
      </div>
    </section>

    <!-- <section class="section-promo" id="promociones-list">
            <div class="promo-content">
                <h1>Promociones Actuales</h1>
            </div>
        </section> -->
    <!-- OFERTAS -->
    <section class="deals-padre">
      <div class=" deals-section">
        <div class="deals-header">
          <h2>OFERTAS</h2>
          <p>Es tu momento de consentirte en MARCO POLO. Con estas magníficas ofertas en hoteles,
            tienes más motivos para quedarte y relajarte como un buen MARCO POLO..</p>
          <a href="#">Ver todas las ofertas &rsaquo;</a>
        </div>

        <div class="deals-cards">
          <div class="deal-card">
            <img src="/resources/casino-en-vivo.jpg" alt="Hotel Room">
            <div class="deal-content">
              <h3>HASTA UN 20 % DE DESCUENTO</h3>
              <p class="subtitle">Oferta semestral</p>
              <p>Ahorra en tu próxima jugada de MARCO POLO® desde ahora hasta el 1 de mayo de 2025.</p>
              <button class="purple-button titulo">RESERVA AHORA</button>
            </div>
          </div>

          <div class="deal-card">
            <img src="/resources/s2.jpg" alt="Couple Shopping">
            <div class="deal-content">
              <h3>AHORROS POR COMPRA ANTICIPADA</h3>
              <p class="subtitle">Hasta un 30% de descuento</p>
              <p>Planifica con antelación y obtén hasta un 30% de descuento en estancias del casino haciendo uso de la
                tarjeta MYMAWI..</p>
              <button class="purple-button titulo">RESERVA AHORA</button>
            </div>
          </div>

          <div class="deal-card">
            <img src="/resources/bg-home.jpg" alt="Caesars Sportsbook">
            <div class="deal-content">
              <h3>JUEGA Y GiRA... COMO UNA RULETA</h3>
              <p>Estancias en hoteles, experiencias gastronómicas y de entretenimiento: cada apuesta suma para estos
                beneficios exclusivos y mucho más con CASINO MARCO POLO®.</p>
              <button class="purple-button titulo">DESCARGA AHORA</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PROMO DETALLE -->
    <section>
      <div class="promo-details">
        <figure class="snip1482">
          <figcaption>
            <form id="promosnip">
              <h2>Trato exclusivo</h2>
              <p>Siente un competidor VIP, con un trato especial y esclusivo
                de parte de nuestros dealers
                sientete comodo al planificar tus jugadas, siempre que juegues
                tendras un placer abundante de atencion.</p>
              <div class="button-container titulor">
                <button type="submit" class="purple-button">REGISTRATE</button>
                <button class="learn-more">CONOCER MAS</button>
              </div>
            </form>
          </figcaption>
          <img src="/../../resources/casino-en-vivo-2.png" alt="Casino Marco Polo 1" />
        </figure>
        <figure class="snip1482">
          <figcaption>
            <form id="promosnip2">
              <h2>CASINO MARCO POLO</h2>
              <p>Gira, tira o sortea para conseguir tu próxima victoria.
                Desde clásicos estratégicos como la ruleta americana hasta
                el juego Blackjack, queremos que todos se sientan como en casa.</p>
              <div class="button-container titulor">
                <button type="submit" class="purple-button">REGISTRATE</button>
                <button class="learn-more">CONOCER MAS</button>
              </div>
            </form>
          </figcaption>
          <img src="/../../resources/IMG_0170.jpg" alt="Casino Marco Polo 1" />
        </figure>
      </div>
    </section>

    <!-- ULTIMA SECTION PROMOCION -->

  </div>

  <script>
    const registerPromo = document.getElementById('promosnip');
    if (registerPromo) {
      registerPromo.addEventListener('submit', function (event) {
        event.preventDefault(); // Evita el envío del formulario por defecto
        window.location.href = '/components/registro/registro.html';
        // Aquí puedes agregar la lógica para enviar el correo electrónico a tu servidor
      });
    }

    const registerPromo2 = document.getElementById('promosnip2');
    if (registerPromo2) {
      registerPromo2.addEventListener('submit', function (event) {
        event.preventDefault(); // Evita el envío del formulario por defecto
        window.location.href = '/components/registro/registro.html';
        // Aquí puedes agregar la lógica para enviar el correo electrónico a tu servidor
      });
    }
  </script>
</body>

</html>