.container-promo .section-start {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    overflow: hidden;
}

.container-promo .section-start::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../resources/bg-home.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}



/* OFERTA */
.container-promo  .deals-section {
    padding: 40px;
    background: #fff;
    font-family: Arial, sans-serif;
  }
  
  .container-promo .deals-header {
    margin-bottom: 30px;
  }
  
  .container-promo .deals-header h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #273142;
  }
  
  .container-promo .deals-header p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    max-width: 600px;
  }
  
  .container-promo .deals-header a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .container-promo .deals-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .container-promo .deal-card {
    background: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .container-promo .deal-card img {
    width: 100%;
    height: auto;
  }
  
  .container-promo .deal-content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-promo .deal-content h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .container-promo .deal-content .subtitle {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
  }
  
  .container-promo .deal-content p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .container-promo .deal-content button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
  }
  
  .container-promo .deal-content button:hover {
    background: #333;
  }
  

.container-promo .section-start .content-start {
    text-align: center;
    position: relative;
    z-index: 1;
}

.container-promo .section-start .content-start h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #f3ec78, #af4261);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: movimiento-gradiente 2s linear infinite alternate;
}

.container-promo .section-start .content-start p {
    color: #fff;
    font-size: 1.2rem;
}

@keyframes movimiento-gradiente {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.container-promo .section-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-promo .section-promo .promo-content {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
}

.container-promo .section-promo .promo-content h1{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
}

.container-promo .card-divider-promo {
    height: 2px;
    background-color: white;
    width: 100%;
}

.container-promo .section-promo .promo-list {
    padding: 5%;
}

.container-promo .section-promo .promo-list .promo-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}


/* PROMO DETALLE */

.container-promo .promo-details{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 60px; */
    padding: 30px;
    background:
        linear-gradient(#1f253ade, #1f253a),
        url(../../resources/IMG_0167.jpg) center/cover no-repeat;
    background-size: cover;
    color: white;
}

.container-promo .snip1482 {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    background: transparent;
    padding: 20px;
    text-align: left;
}

.container-promo .snip1482 img {
    width: 60%;
    height: auto;
    object-fit: contain;
    transition: border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .container-promo .snip1482 img:hover {
    box-shadow: 0px 0px 15px 5px #fff; 
    -webkit-box-shadow: 0px 0px 15px 5px #fff; 
  }
.container-promo .snip1482 figcaption {
    width: 40%;
    padding: 20px;
}

.container-promo .snip1482 h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.6s ease;
}

.container-promo .snip1482 p {
    font-size: 1rem;
    line-height: 1.5;
    transition: transform 0.6s ease;
}

@media (max-width: 768px) {
    .container-promo .section-start {
        margin-top: 18%;
    }
    .container-promo .section-promo .promo-content {
        margin-top: 20%;
        margin-bottom: 2%;
        color: #fff;
        font-size: 20px;
    }

    .container-promo .section-start .content-start h1 {
        font-size: 40px;
    }

    .container-promo .section-start .content-start p {
        font-size: 20px;
    }

    .container-promo .promo-details{
        gap: 10px;
        padding: 20px;
    }
    .container-promo .snip1482 {
        display: contents;
        max-width: 90%;
        padding: 20px;
    }

    .container-promo .snip1482 figcaption {
        width: 100%;
    }
    .container-promo.snip1482 img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

}