.container-promo .section-start {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-promo .section-start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/resources/promociones.png);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}


/* OFERTA */

.container-promo .deals-padre {
  /* background: linear-gradient(0deg, #27314F 50%, #fff 50%); */
background-color: white;
}

.container-promo .deals-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 40px;
  margin-bottom: 20px;
}

.container-promo .deals-header {
  padding-bottom: 20px;
}

.container-promo .deals-header h2 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #273142;
}

.container-promo .deals-header p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  max-width: 600px;
}

.container-promo .deals-header a {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.container-promo .deals-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  width: 100%;
  margin: 0 auto;
}

.container-promo .deal-card {
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container-promo .deal-card .deal-card-img {
  overflow: hidden;
  height: 250px;
}

.container-promo .deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.container-promo .deal-card img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container-promo .deal-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-promo .deal-content h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #27314F;
}

.container-promo .deal-content .subtitle {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.container-promo .deal-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #333;
}

.container-promo .section-start .content-start {
  text-align: center;
  position: relative;
  z-index: 1;
}

.container-promo .section-start .content-start h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #f3ec78, #af4261);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: movimiento-gradiente 2s linear infinite alternate;
}

.container-promo .section-start .content-start p {
  color: #fff;
  font-size: 1.2rem;
}

@keyframes movimiento-gradiente {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.container-promo .section-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-promo .section-promo .promo-content {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
}

.container-promo .section-promo .promo-content h1 {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
}

.container-promo .card-divider-promo {
  height: 2px;
  background-color: white;
  width: 100%;
}

.container-promo .section-promo .promo-list {
  padding: 5%;
}

.container-promo .section-promo .promo-list .promo-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* OFERTAS CASINO EXCLUSIVAS */
.container-ofertas {
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ofertas-promo {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.ofertas-promo img {
  width: 10%;
  height: auto;

}




/* NUEVO FORMA DE CUADRO  */


.container-promo .container-apuesta {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px;
  background:
    linear-gradient(#1f253a, #1f253a00),
    url(/resources/fondo-color-global.png) center/cover no-repeat;
  background-size: cover;
  color: white;
}

.container-promo .container-apuesta .apuesta-deportiva {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;

}

.container-promo .container-apuesta .apuesta-deportiva .apuesta-left {
  flex: 50%;
}

.container-promo .container-apuesta .apuesta-deportiva .apuesta-left p {
  color: #fff;
  margin-top: 10px;
}

.container-promo .container-apuesta .apuesta-deportiva .apuesta-buttons {
  display: flex;
  /* Para colocar los botones uno al lado del otro */
  gap: 20px;
  /* Espacio entre los botones */
  margin-top: 20%;
}

.container-promo .container-apuesta .book-now {
  background-color: #6622F8;
  /* Rojo similar al de la imagen */
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  /* Bordes ligeramente redondeados */
  transition: background-color 0.3s ease;
  /* Transición suave al pasar el ratón */
}

.container-promo .container-apuesta .book-now:hover {
  background-color: #2C16B0;
  /* Un tono de rojo más oscuro al pasar el ratón */
}

.container-promo .container-apuesta .learn-more {
  background-color: transparent;
  /* Fondo transparente */
  color: #2C16B0;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  /* Para poder posicionar el pseudo-elemento del subrayado */
  transition: color 0.3s ease;
  /* Transición suave al pasar el ratón */
}

.container-promo .container-apuesta .learn-more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  /* Ajusta la distancia del subrayado al texto */
  width: 100%;
  height: 1px;
  background-color: #2C16B0;
  transform: scaleX(0);
  /* El subrayado inicialmente no es visible */
  transform-origin: left center;
  transition: transform 0.3s ease;
  /* Transición suave para la aparición del subrayado */
}

.container-promo .container-apuesta .learn-more:hover {
  color: #6622F8;
  /* Un tono de gris al pasar el ratón */
}

.container-promo .container-apuesta .learn-more:hover::after {
  transform: scaleX(1);
  /* El subrayado se expande al pasar el ratón */
}



.container-promo .container-apuesta .apuesta-deportiva .apuesta-rigth {
  flex: 0 0 50%;
  overflow: hidden;

}

.container-promo .container-apuesta .apuesta-deportiva .apuesta-rigth img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.container-promo .container-apuesta .apuesta-deportiva .apuesta-rigth img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* ENTRADA */

.promo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  /* background: linear-gradient(32deg, #27314F 80%, #ffffff 10%); */
  background-image: url(/resources/fondo-color-global2.png);
  background-size: cover;
  background-position: center;
}

.promo-title .content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 40px;
}

.promo-title .content-img {
  flex: 1.5;
  overflow: hidden;
}
.promo-title .content-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.promo-title .content-img img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.promo-title .content-text {
  flex: 0.5;
  color: white;
}


@media (max-width: 768px) {
  .container-promo .section-promo .promo-content {
    margin-top: 20%;
    margin-bottom: 2%;
    color: #fff;
    font-size: 20px;
  }

  .container-promo .section-start .content-start h1 {
    font-size: 40px;
  }

  .container-promo .section-start .content-start p {
    font-size: 20px;
  }

  /* OFERTA */

  .container-promo .container-apuesta {
  height: auto;
  padding: 0;
  gap: 0;
  }

  /* SECTION IMAGEN */
  .promo-title .content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    gap: 30px;
  }

  .promo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* background: linear-gradient(32deg, #27314F 80%, #ffffff 10%); */
    background-image: url(/resources/fondo-color-global2.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

  .promo-title .content-img img {
    width: 100%;
  }
  .promo-title .content-text {
   display: contents;
  }

}