.container-promo .section-start {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    background-image:linear-gradient(180deg, #27314f8a, #27314f8a),  url(/resources/fondo-azul-patron-abstracto.jpg);
  background-size: cover;
  background-position: center;
}

.container-promo .section-start .content-start p {
  font-size: 22px;
}

/* .container-promo .section-start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  url(/resources/fondo-azul-patron-abstracto.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
} */

.content-start {
  text-align: center;
  color: white;
}

.content-start h2 {
    color: #fff;
    text-shadow:
        0 0 6px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff;
}

.content-vigencia-promo {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  left: 50%;
  top: 50vh;
  transform: translateX(-50%);
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #343840;
}

.vigencia-promo-text {
  border-right: 5px solid #343840;
  padding-right: 15px;
}


.content-membresia-entretenimiento {
    width: 100%;
    background-color: #1d1d1f;
    height: auto;
}

.content-info-membresia-entretenimiento {
    display: flex;
    justify-content: center;
}

.card-view-entretenimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
}

.card-view-entretenimiento img {
    width: 50%;
}

.info-card-entretenimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
    color: white;
}

.actions-card-entretenimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
}

.actions-card-entretenimiento a {
    color: white;
    transition: all 0.4s ease;
}

.actions-card-entretenimiento a:hover {
    color: rgb(168, 168, 168);
}


/* NUEVO FORMA DE CUADRO  */


.container-promo .container-section-promo {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px;
  background:
    url(/resources/fondo-color-global.png) center/cover no-repeat;
  background-size: cover;
  color: white;
}

.container-promo .container-section-promo .apuesta-deportiva {
  position: relative;
  /* Necesario para posicionar hijos absolutos */
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-left {
  width: 50%;
  height: 100%;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-left p {
  color: #fff;
  margin-top: 10px;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 20px;
}

.apuesta-buttons2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 20px;
}

.container-promo .container-section-promo .apuesta-deportiva button {
  padding: 10px 20px;
  height: auto;
  width: auto;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-rigth {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-rigth img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.container-promo .container-section-promo .apuesta-deportiva .apuesta-rigth img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ENTRADA */

.scroll-down-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  animation: float 1.5s ease-in-out infinite;
}

.arrow {
  width: 20px;
  height: 20px;
  border-left: 4px solid #efb810;
  border-bottom: 4px solid #efb810;
  transform: rotate(-45deg);
  animation: bounce 1.5s infinite;
  opacity: 0.7;
}

.arrow:nth-child(2) {
  animation-delay: 0.2s;
}

.arrow:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
    opacity: 0.7;
  }

  50% {
    transform: translateY(10px) rotate(-45deg);
    opacity: 1;
  }
}


.apuesta-buttons a,
.apuesta-buttons2 a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #1F253A;
  transition: all 0.2s ease;
}

.apuesta-buttons a:hover,
.apuesta-buttons2 a:hover {
  color: #fff;
  width: 125px;
  background-color: #27314F;
}

.link-flecha {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.link-flecha::after {
  content: "→";
  position: absolute;
  opacity: 0;
  right: -40px;
  transition: all 0.3s ease;
}

.link-flecha:hover::after {
  opacity: 1;
  right: 8px;
}



.content-promociones {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding: 20px;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}

.card-promociones {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 25px;
}

.card-promociones h1 {
  color: #171c1e;
}

.card-content-img {
  width: 100%;
  height: 750px;
  overflow: hidden;
  border-radius: 20px;

}

.card-content-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;
  border-radius: 20px;
}

.card-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content-text {
  display: flex;
  height: auto;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 50%;
  padding: 20px;
  left: 20px;
  bottom: 20px;
}

.card-content-text h2 {
  color: white;
  text-shadow: 2px 2px 2px #171c1e;
}



@media (max-width: 768px) {
 
    .promo-section {
        text-align: center;
    }

    .card-promociones {
        flex-direction: column;
    }

    .card-promociones-reverse {
        flex-direction: column;
    }

    .card-content-img {
        width: 100%;
        height: 250px;
    }

    .card-content-text {
        width: auto;
    }

    .card-content-text a {
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
        background-color: #fff;
        color: #171c1e;
        transition: all 0.2s ease;
        width: auto;
    }
  
  .content-vigencia-promo {
    max-width: 400px;
    font-size: 1rem;
    text-align: center;
  }

  .container-promo .section-start {
    
height: 70vh;
  }
  
  .content-vigencia-promo{
    top: 60vh;
  }

  .card-view-entretenimiento img{
    width: 100%;
  }
  
  .info-card-entretenimiento{
    font-size: 1rem;
    text-align: center;
  }
}
