<!DOCTYPE html>
<html>

<head>
    <title>Página de Promociones - Casino Marco Polo</title>
</head>

<body>
    <div class="container-promo">
        <section class="section-start" id="promociones-page">
            <div class="content-start">
                <h1>Bienvenido a las Promociones</h1>
                <p>Descubre las mejores promociones y ofertas exclusivas para nuestros jugadores.</p>
            </div>
        </section>

        <section class="section-promo" id="promociones-list">
            <div class="promo-content">
                <h1>Promociones Actuales</h1>
                <div class="card-divider-promo"></div>
            </div>
            <div class="promo-list">
                <img src="/resources/Marco-Polo-3.jpg" alt="Promoción destacada" class="promo-image" id="promo-image" />
            </div>
        </section>

        <section>
            <div class="promo-details">
                <figure class="snip1482">
                    <figcaption>
                        <h2>Trato esclusivo</h2>
                        <div class="linea-horizontal"></div>
                        <p>Siente un competidor VIP, con un trato especial y esclusivo 
                            de parte de nuestros dealers
                            sientete comodo al planificar tus jugadas, siempre que juegues
                            tendras un placer abundante de atencion.</p>
                    </figcaption>
                    <img src="/../../resources/casino-en-vivo.jpg" alt="Casino Marco Polo 1" />
                </figure>
                <figure class="snip1482">
                    <figcaption>
                        <h2>CASINO MARCO POLO</h2>
                        <div class="linea-horizontal"></div>
                        <p>Gira, tira o sortea para conseguir tu próxima victoria.
                            Desde clásicos estratégicos como la ruleta americana hasta
                            el juego Blackjack, queremos que todos se sientan como en casa.</p>
                    </figcaption>
                    <img src="/../../resources/IMG_0170.jpg" alt="Casino Marco Polo 1" />
                </figure>
                <figure class="snip1482">
                    <figcaption>
                        <h2>USA TU TARJETA</h2>
                        <div class="linea-horizontal"></div>
                        <p>Ven y saca tu tarjeta MYMAWI y aprovecha todo la verdadera Promocion
                            ganando y acumulando puntos para poder gastar en el casino y seguir 
                            retando tu suerte.</p>
                    </figcaption>
                    <img src="/../../resources/tarjeta-mymawi.png" alt="Casino Marco Polo 1" />
                </figure>
            </div>
        </section>

    </div>

    <script src="/promociones.js"></script>
</body>

</html>