<!DOCTYPE html>
<html>

<head>
  <title>Promociones - Casino Marco Polo</title>
</head>

<body>
  <section class="container-promo">
    <section class="section-start" id="promociones-page">
      <div class="content-start container item">
        <h1 class="type2-h1">Vive nuestras promociones</h1>
        <br />
        <p class="item">Disfruta de nuestros bonos, sorteos y beneficios exclusivos que hacen de cada visita una
          experiencia inolvidable... Juega más, gana más y aprovecha cada oportunidad con nuestras increíbles
          promociones.
        </p>
      </div>

    </section>
    <div class="">
      <div class="content-vigencia-promo">
        <div class="vigencia-promo-text">
          Cada mes podrás disfrutar de diferentes promociones
        </div>
        <div style="margin-left: 5px;" id="cuenta-regresiva"></div>
      </div>
    </div>
    <section class="container-section-promo">
      <h1 style="text-align: center;padding: 10px;" class="type2-h1">Promociones vigentes</h1>
      <!-- <div class="container">
        <div class="apuesta-deportiva view-reverse">
          <div class="apuesta-left">
            <h1 class="type2-h1">Lámpara de la Suerte</h1>
            <p class="item">Descubre la magia de la Lámpara de la Suerte,
              un símbolo de fortuna que ilumina tus mejores momentos.
              Con solo un deseo y una chispa de esperanza,
              esta lámpara te conecta con la energía positiva del juego,
              atrayendo oportunidades, premios y experiencias inolvidables.
              Déjala encendida y deja que la suerte haga el resto.</p>
            <div class="apuesta-buttons titulol">
              <button class="btn-design1" onclick="toLampara()">Saber más >></button>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/lamparadelasuerte.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva">
          <div class="apuesta-left">
            <h1 class="type2-h1">Giro Dorado</h1>
            <p class="titulor">Prepárate para vivir la emoción del Giro Dorado,
              donde cada vuelta puede convertir tu momento en oro.
              Esta experiencia única combina la adrenalina del juego con el brillo de la fortuna,
              ofreciéndote la posibilidad de ganar premios brillantes y momentos inolvidables.
              ¡Da el giro y deja que la suerte te sorprenda!</p>
            <div class="apuesta-buttons2 titulor">
              <button class="btn-design1" onclick="toGiroDorado()">Saber más >></button>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/girodorado.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva view-reverse">
          <div class="apuesta-left">
            <h1 class="type2-h1">Dados de Póker</h1>
            <p class="titulol">Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra.
              Cada tiro es una mezcla perfecta de estrategia, azar y emoción, donde los números pueden llevarte directo
              a la victoria.
              Siente la adrenalina con cada lanzamiento y demuestra que, en este juego, el ganador eres tú.</p>
            <div style="justify-content: flex-end;" class="apuesta-buttons titulol">
              <button class="btn-design1" onclick="toDadosPoker()">Saber más >></button>
            </div>
          </div>
          <div class="apuesta-rigth item">
            <img src="/resources/dadospoker.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div> -->
      <div class="container">
        <div class="apuesta-deportiva view-reverse">
          <div class="apuesta-left">
            <h1 class="type2-h1">MYMAWI Te Premia</h1>
            <p class="item">Cada visita, cada jugada, cada momento cuenta. Esta es nuestra forma de agradecerte por
              seguir creyendo en nosotros. Disfruta recompensas exclusivas, sorpresas increíbles y beneficios pensados
              para ti. ¡Porque en MYMAWI, los verdaderos protagonistas son nuestros jugadores! ¡Entre más juegas, más
              ganas!</p>
            <div class="apuesta-buttons titulol">
              <a href="#mymawitepremia" class="link-flecha">Saber más</a>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/MYMAWI-PREMIA.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva">
          <div class="apuesta-left">
            <h1 class="type2-h1">Cascada de Premios</h1>
            <p class="titulor">La “Cascada de Premios” es una experiencia pensada para nuestros jugadores más fieles. Al
              utilizar tu tarjeta MYMAWI y cumplir con ciertas condiciones de juego, podrás obtener tiquetes dorados que
              te permitirán participar en sorteos con bonos que llegan hasta los $400.000. Entre más juegues, más
              oportunidades tendrás. ¡Participar es tan sencillo como jugar y disfrutar!</p>
            <div class="apuesta-buttons2 titulor">
              <a href="#cascadapremios" class="link-flecha">Saber más</a>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/PROMO-CASCADA-PREMIOS.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva view-reverse">
          <div class="apuesta-left">
            <h1 class="type2-h1">GANA YA</h1>
            <p class="item">“Gana Ya” es la forma más rápida de premiar tu suerte. Esta promoción está diseñada para
              entregarte bonos inmediatos en momentos aleatorios durante tu experiencia en las máquinas o mesas. Sin
              dinámicas, sin requisitos complejos. Solo necesitas estar presente y jugar con tu tarjeta MYMAWI activa.
              Si tu nombre es llamado, el premio es tuyo. Así de simple.</p>
            <div class="apuesta-buttons titulol">
              <a href="#ganaya" class="link-flecha">Saber más</a>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/PROMO-GANAYA.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva">
          <div class="apuesta-left">
            <h1 class="type2-h1">Bingo Locura</h1>
            <p class="titulor">Con “Bingo Locura” llevamos este clásico a otro nivel. Partidas con más premios, más
              ganadores y más oportunidades de llevarte bonos promocionales. ¡Prepárate para gritar BINGO más veces que nunca!</p>
            <div class="apuesta-buttons2 titulor">
              <a href="#bingolocura" class="link-flecha">Saber más</a>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/PROMO-BINGO-LOCURA.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="apuesta-deportiva view-reverse">
          <div class="apuesta-left">
            <h1 class="type2-h1">Super Bingo</h1>
            <p class="item">“Super Bingo” es nuestra edición especial donde todo es mayor: más participantes, más
              premios y más emoción por ronda. Estas partidas son limitadas y se celebran en horarios clave, con bonos
              promocionales de alto valor. Si eres fan del bingo tradicional, esta versión te hará
              vivir una experiencia inolvidable en cada jugada.</p>
            <div class="apuesta-buttons titulol">
              <a href="#superbingo" class="link-flecha">Saber más</a>
            </div>
          </div>
          <div class="apuesta-rigth">
            <img src="/resources/PROMO-SUPER-BINGO.png" alt="Casino Marco Polo 1" />
          </div>
        </div>
      </div>
      <section class="container">
        <section id="ubicacion-seccion">
        </section>
      </section>
    </section>
  </section>
</body>

</html>