.fondo{
    background-image: url(/resources/fondo-color-global2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-game {
    color: white;
}

.title-game {
    padding-top: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-games {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    
}

.mesas {
    height: auto;
}

.title-mesas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    margin-top: 10%;

}

.apuesta-deportiva {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.apuesta-deportiva .apuesta-left {
    flex: 50%;
}

.apuesta-deportiva .apuesta-left p {
    color: #fff;
    margin-top: 10px;
}

.apuesta-deportiva .apuesta-buttons {
    display: flex;
    /* Para colocar los botones uno al lado del otro */
    gap: 20px;
    /* Espacio entre los botones */
    margin-top: 20%;
}


.apuesta-deportiva .apuesta-rigth {
    width: 50%;
    height: 50%;
    overflow: hidden;

}

.apuesta-deportiva .apuesta-rigth img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.apuesta-deportiva .apuesta-rigth img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.apuesta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20%;
}


@media (max-width: 768px) {
    .apuesta-deportiva {
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .apuesta-deportiva .apuesta-rigth {
        width: 100%;
        height: 100%;
    }

    .apuesta-deportiva .apuesta-rigth img {
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease;
        -webkit-transition: -webkit-transform 0.4s ease;
    }

    .title-mesas{
    height: 25vh;
}
}