.content-banner-entretenimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 600px;
    position: relative;
}

.info-game-entretenimiento {
    width: 100%;
    height: auto;
    background-color: #1d1d1f;
    position: relative;
    bottom: 0;
}

.content-info-game-entretenimiento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: white;
}

.content-info-game-entretenimiento a {
    color: #c0c0c0;
    transition: all 0.4s ease;
}

.content-info-game-entretenimiento a:hover {
    color: #707070;
}


.section-mesas-entretenimiento {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    line-height: 10rem;
}

.section-mesas-entretenimiento h1 {
    color: #fff;
    text-shadow:
        0 0 8px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff;
    font-size: 71px;
}

.content-card-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 32px;
    max-width: 1100px;
}

.card-juegos:hover .card-juegos-text>p {
    color: #1F253A;
}

.card-juegos:hover .card-juegos-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-juegos {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 420px;
}

.card-juegos-img {
    width: 300px;
    height: 175px;
    overflow: hidden;
}

.card-juegos-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.card-juegos-img img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-juegos-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 275px;
    padding: 20px 0;
}

.card-juegos-text>h2 {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

.card-juegos-text p {
    font-size: 1.6rem;
    color: rgb(153, 153, 153);
}

.divider-card {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
}

.content-btn-game {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width:768px) {
    .card-juegos {
        width: 90%;
        border-radius: 15px;
    }

    .card-juegos-img {
        width: 100%;
    }

    .card-juegos-text {
        width: 100%;
    }

    .section-mesas-entretenimiento {
        line-height: normal;
        padding: 0;
    }
}

.content-membresia-entretenimiento-j {
    width: 100%;
    background-color: #1d1d1f;
    height: auto;
}

.content-info-membresia-entretenimiento-j {
    display: flex;
    justify-content: center;
}

.card-view-entretenimiento-j {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
}

.card-view-entretenimiento-j img {
    width: 50%;
}

.info-card-entretenimiento-j {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
    color: white;
}

.actions-card-entretenimiento-j {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 33%;
}

.actions-card-entretenimiento-j a {
    color: white;
    transition: all 0.4s ease;
}

.actions-card-entretenimiento-j a:hover {
    color: rgb(168, 168, 168);
}

@media (max-width:768px) {

    .content-banner-entretenimiento {
        height: 500px;
    }

    .content-info-reverse-entretenimiento {
        flex-direction: row;
    }

    .card-view-entretenimiento-j {
        width: 100%;
    }

    .card-view-entretenimiento-j img {
        width: 100%;
    }

    .actions-card-entretenimiento-j a {
        font-size: 1.5rem;
    }

    .info-card-entretenimiento-j {
        font-size: 1rem;
        text-align: center;
    }

    .actions-card-entretenimiento-j {
        width: 100%;
    }

    .content-info-entretenimiento {
        flex-direction: column-reverse;
    }

    .content-desc-entretenimiento {
        width: 100%;
    }

    .content-text-title-entretenimiento {
        width: 100%;
    }

    .card-juegos-text p {
        font-size: 1.4rem;
    }

    .video-container-entretenimiento {
        padding: 40px;
        height: auto;
    }

    .section-mesas-entretenimiento h1 {
        font-size: 52px;
        padding: 0 10px;
    }
}

.body-lock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.modal h2,
.modal h3,
.modal h4 {
    color: #1F253A;
}


.modal-content2 {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-body {
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 10px;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content2>h2 {
    text-align: center;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


.styled-table-container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.styled-table-container th,
.styled-table-container td {
    padding: 12px 16px;
    text-align: left;
}

.styled-table-container thead {
    background: linear-gradient(to right, #27314f, #1F253A, #27314f, #1F253A, #27314f, #1F253A, #27314f, #1F253A, #27314f, #1F253A, #27314f, #1F253A, #27314f, #1F253A);
    color: #ffffff;
}

.styled-table-container tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
}

.styled-table-container tbody tr:hover {
    background-color: #f0e6ff;
}

.styled-table-container td {
    color: #333;
}

.border-limit {
    border-left: 5px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
}