<!DOCTYPE html>
<html>

<head>
    <title>Juegos Marco polo</title>
</head>

<body>
    <section class="fondo">
        <div class="container">
            <div class="section-game">
                <!-- <div class="title-game">
                    <h1 class="type2-h1">Juegos</h1>
                    <br />
                    <p class="type5-h1">En MARCO POLO puedes encontrar una gran variedad de juegos, servicios y
                        ambientes diseñados para el entretenimiento y la emoción.</p>
                </div> -->
                <div class="content-games">
                    <div class="mesas">
                        <div style="text-align: center;" class="title-mesas">
                            <h1 class="type2-h1">Juegos</h1>
                            <br />
                            <p class="type5-h1">En MARCO POLO se pueden encontrar una gran variedad de juegos, servicios y ambientes diseñados para el entretenimiento y la emoción.</p>
                        </div>
                        <br />
                        <br />
                        <div class="content-mesas">
                            <div class="apuesta-deportiva view-reverse">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Baccarat</h1>
                                    <p>Elegancia y sencillez con grandes emociones. 
                                    Apuesta por el jugador, la banca o el empate y deja que las cartas hablen.</p>
                                    <div style="justify-content: flex-end;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/baccarat-carrusel.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                            <div class="apuesta-deportiva">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Blackjack</h1>
                                    <p>El clásico de los casinos. Suma 21, vence al crupier y disfruta de una experiencia rápida, estratégica y emocionante.</p>
                                    <div style="justify-content: flex-start;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/blackjack-carrusel.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                            <div class="apuesta-deportiva view-reverse">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Ruleta</h1>
                                    <p>¡Siente la emoción de cada giro! La Ruleta Americana te espera con su doble cero, giros vertiginosos y la adrenalina de apostar al rojo, negro o tu número de la suerte. ¡Haz tu jugada y deja que la suerte decida!</p>
                                    <div style="justify-content: flex-end;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/ruleta.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                            <div class="apuesta-deportiva">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Hipódromo</h1>
                                    <p>¡Vive la pasión de las carreras! Apuesta por tu caballo favorito y siente la emoción de la velocidad y la victoria en cada galope.</p>
                                    <div style="justify-content: flex-start;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/hipodromo.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                            <div class="apuesta-deportiva view-reverse">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Poker</h1>
                                    <p>Estrategia, intuición y nervios de acero. Enfrenta a otros jugadores y demuestra quién domina la mesa con la mejor mano.</p>
                                    <div style="justify-content: flex-end;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/poker.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                            <div class="apuesta-deportiva">
                                <div class="apuesta-left">
                                    <h1 class="type2-h1">Slots</h1>
                                    <p>Luces, sonidos y premios instantáneos. Gira los rodillos y descubre si hoy es tu día de suerte con cada tirada.</p>
                                    <div style="justify-content: flex-start;" class="apuesta-buttons">
                                        <button class="btn-design1">Saber mas >></button>
                                        <!-- <button class="learn-more">CONOCER MAS</button> -->
                                    </div>
                                </div>
                                <div class="apuesta-rigth item">
                                    <img src="/resources/slots.png" alt="Casino Marco Polo 1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>