<section id="toPromo" class="container navigation-ubicacionesU">
    <div title="Juegos MarcoPolo" class="carousel-infiniteU">
        <h1 style="text-align: center;" class="type2-h1">Entretenimiento y Servicios:</h1>
        <br />
        <div id="toCasinos" class="carousel-trackU">
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4593.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Baccarat</p>
            </div>
            <div class="slideU">
                <img src="/resources/blackjack-carrusel.png" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">BlackJack</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4480.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Hipódromo</p>
            </div>
           <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4593.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Baccarat</p>
            </div>
            <div class="slideU">
                <img src="/resources/blackjack-carrusel.png" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">BlackJack</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4480.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Hipódromo</p>
            </div><div class="slideU">
                <img src="/resources/ruleta.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4593.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Baccarat</p>
            </div>
            <div class="slideU">
                <img src="/resources/blackjack-carrusel.png" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">BlackJack</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4480.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Hipódromo</p>
            </div><div class="slideU">
                <img src="/resources/ruleta.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4593.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Baccarat</p>
            </div>
            <div class="slideU">
                <img src="/resources/blackjack-carrusel.png" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">BlackJack</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4480.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Hipódromo</p>
            </div><div class="slideU">
                <img src="/resources/ruleta.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/IMG_4593.jpg" alt="MarcoPolo" />
                <p class="type5-h1" style=" text-align: center;">Baccarat</p>
            </div>

        </div>
    </div>
</section>