<section id="toPromo" class="container navigation-ubicacionesU">
    <div class="carousel-infiniteU">
        <h1 style="text-align: center;" class="type2-h1">Entretenimiento y Servicios:</h1>
        <br />
        <div id="toCasinos" class="carousel-trackU">
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
            <div class="slideU">
                <img src="/resources/ruleta.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Ruleta electrónica</p>
            </div>
            <div class="slideU">
                <img src="/resources/slots.jpg" alt="1" />
                <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
            </div>
        </div>
    </div>
</section>