<section class="promocion-container">
  <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
    <h1 class="type2-h1">Vive nuestras promociones</h1>
  </div>
  <section class="card-view ">
    <div class="content-card-promo">
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/lamparadelasuerte.png" alt="Imagen 1" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">Lámpara de la Suerte</h1>
          <p>
            Descubre la magia de la Lámpara de la Suerte,
            un símbolo de fortuna que ilumina tus mejores momentos.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toLampara()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/girodorado.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">
            Giro Dorado
          </h1>
          <p>
            Prepárate para vivir la emoción del Giro Dorado,
            donde cada vuelta puede convertir tu momento en oro.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toGiroDorado()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/dadospoker.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">
            Dados de Póker
          </h1>
          <p>
            Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toDadosPoker()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
    </div>
    <br />
      <button style="margin-bottom: 20px;" class="btn-design2" onclick="saberMasPromo()">Saber más</button>
  </section>
</section>