/* PROMOCIONES */
.promocion-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

}

.content-title-promo {
  text-align: center;
  height: auto;
}

.content-title-promo h1 {
  color: #27314F;
  padding: 20px 0;
}

.promocion-container .card-view {
  text-align: center;
}

.promocion-container .card-view .content-card-promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.promocion-container .card-view .card-promo {
  width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.promocion-container .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.promocion-container .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.promocion-container .card-image img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.promocion-container .card-divider {
  height: 2px;
  background-color: #000;
  width: 100%;
}

.promocion-container .card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.promocion-container .card-content h1 {
  margin-bottom: 12px;
}

.promocion-container .card-content p {
  font-size: 16px;
  color: #1f253a;
}


@media (max-width: 768px) {

  .promocion-container {
    height: auto;

  }

  .card-view {
    flex-direction: column;
    align-items: center;
  }

  .card-promo {
    width: 90%;
  }

  .promo h1 {
    font-size: 2rem;
  }

  .card-view .card-promo {
    width: 100%;
  }

  .content-title-promo h1 {
    margin-bottom: 5px;
  }

}

@media (max-width: 480px) {
  .promocion-container {
    padding: 10px 0;
  }

  .promo h1 {
    font-size: 1.6rem;
  }

  .card-content p {
    font-size: 14px;
  }

}