<section class="promocion-container">
  <div class="content-title-promo">
    <h2 class="type-h1">Promociones activas</h2>
  </div>
  <section class="card-view">
    <div class="content-card-promo">
      <!-- <section class="card-promo">
        <div class="card-image">
          <img src="/resources/lamparadelasuerte.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">Lámpara de la Suerte</h1>
          <p>
            Descubre la magia de la Lámpara de la Suerte,
            un símbolo de fortuna que ilumina tus mejores momentos.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toLampara()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/girodorado.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">
            Giro Dorado
          </h1>
          <p>
            Prepárate para vivir la emoción del Giro Dorado,
            donde cada vuelta puede convertir tu momento en oro.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toGiroDorado()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/dadospoker.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">
            Dados de Póker
          </h1>
          <p>
            Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toDadosPoker()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section> -->
      <!-- <section class="card-promo">
        <div style="background-color: #1F253A;" class="card-image">
          <img src="/resources/MYMAWI-PREMIA.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">MYMAWI Te premia</h1>
          <p>
            Participa en nuestra promoción y acumula beneficios cada vez que juegas. Regalos, bonos y premios te están
            esperando. Solo por ser cliente.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toMymawitepremia()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: #1F253A;" class="card-image">
          <img src="/resources/PROMO-CASCADA-PREMIOS.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">Cascada de Premios</h1>
          <p>
            ¡Viernes de pura emoción! Cada viernes de julio puedes participar por bonos instantáneos en nuestras
            máquinas y mesas.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toCascadapremios()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: #1F253A;" class="card-image">
          <img src="/resources/PROMO-GANAYA.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">Gana ya</h1>
          <p>
            Premios al instante, sin esperas. ¡Solo juega, participa y gana en segundos!
          </p>
          <br />
          <br />
          <div class="content-btn-promo" >
            <button onclick="toGanaya()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: #1F253A;" class="card-image">
          <img src="/resources/PROMO-BINGO-LOCURA.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">Bingo Locura</h1>
          <p>
            ¡Bingo con más emoción y más premios! Disfruta partidas especiales y sorpresas únicas.
          </p>
          <div class="content-btn-promo" >
            <button onclick="toBingolocura()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: #1F253A;" class="card-image">
          <img src="/resources/PROMO-SUPER-BINGO.png" alt="MarcoPolo" />
        </div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">Super Bingo</h1>
          <p>
            Una partida, muchos ganadores. Participa en sesiones de alto impacto.
          </p>
          <br />
          <div class="content-btn-promo" >
            <button onclick="toSuperbingo()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section> -->
      <!-- <a href="#blackjackexpress">
        <section class="card-promo">
          <div style="background-color: #1F253A;" class="card-image">
            <img src="/resources/PROMO-BLACK-JACK-EXPRESS.png" alt="MarcoPolo" />
          </div>
          <div class="card-content">
            <h1 style="color: #1F253A;" class="type4-h1">BlackJack Express</h1>
            <p>
              Participa en nuestra promoción BlackJack Express y prepárate para vivir la emoción del juego como nunca
              antes.
            </p>
            <div class="content-btn-promo" >
              <button onclick="toBlackJackExpress()" class="btn-design1">Conocer promoción</button>
            </div>
          </div>
        </section>
      </a>
      <a href="#trenpremios">
        <section class="card-promo">
          <div style="background-color: #1F253A;" class="card-image">
            <img src="/resources/PROMO-TREN-PREMIOS.png" alt="MarcoPolo" />
          </div>
          <div class="card-content">
            <h1 style="color: #1F253A;" class="type4-h1">Tren de Premios</h1>
            <p>
              Cada parada es una nueva oportunidad de ganar bonos, promociones y recompensas exclusivas.
            </p>
            <div class="content-btn-promo">
              <button onclick="toTrenPremios()" class="btn-design1">Conocer promoción</button>
            </div>
          </div>
        </section>
      </a> -->
      <div id="cubo1-mp">
        <!-- <div class="content-card-promo">
          <a href="#matchperfecto">
            <section class="card-promo">
              <div style="background-color: #1F253A;" class="card-image">
                <img src="/resources/PROMO_MATCH_PERFECTO.png" alt="MarcoPolo" />
              </div>
              <div class="card-content">
                <h1 style="color: #1F253A;" class="type4-h1">El Match Perfecto</h1>
                <p>
                  ¿Listo para el reto? Juega El Match Perfecto, encuentra las parejas y gana en grande.
                </p>
                <br />
                <div class="content-btn-promo">
                  <button onclick="toMatchPerfecto()" class="btn-design1">Conocer promoción</button>
                </div>
              </div>
            </section>
          </a>
          <a href="#flechazocupido">
            <section class="card-promo">
              <div style="background-color: #1F253A;" class="card-image">
                <img src="/resources/PROMO_FLECHAZO_CUPIDO.png" alt="MarcoPolo" />
              </div>
              <div class="card-content">
                <h1 style="color: #1F253A;" class="type4-h1">El Flechazo de Cupido</h1>
                <p>
                  Vive la emoción de El Flechazo de Cupido: pon a prueba tu puntería, suma cupidos y acércate a premios
                  que
                  te harán latir más fuerte.
                </p>
                <div class="content-btn-promo">
                  <button onclick="toFlechazoCupido()" class="btn-design1">Conocer promoción</button>
                </div>
              </div>
            </section>
          </a>
        </div> -->
      </div>


      <div id="cubo2-mp">
        <!-- <div class="content-card-promo">
          <a title="Promoción Halloween Misterioso" href="#halloweenmisterioso">
            <section class="card-promo">
              <div style="background-color: #1F253A;" class="card-image">
                <img src="/resources/PROMO_HALLOWEEN_MISTERIOSO.png" alt="MarcoPolo" />
              </div>
              <div class="card-content">
                <h1 style="color: #1F253A;" class="type4-h1">Halloween Misterioso</h1>
                <p>
                  ¿Listo para el reto? Juega y saca la ficha con más valor, te atreves a retar tu suerte y ganar en
                  grande.
                </p>
                <br />
                <div class="content-btn-promo">
                  <button onclick="toMatchPerfecto()" class="btn-design1">Conocer promoción</button>
                </div>
              </div>
            </section>
          </a>
          <a title="Promoción Los Nueve Portales" href="#losnueveportales">
            <section class="card-promo">
              <div style="background-color: #1F253A;" class="card-image">
                <img src="/resources/PROMO_LOS_NUEVE_PORTALES.png" alt="MarcoPolo" />
              </div>
              <div class="card-content">
                <h1 style="color: #1F253A;" class="type4-h1">Los Nueve Portales</h1>
                <p>
                  Vive la emoción de los Nueve Portales: Llega a cada portal, descubre sus secretos y gana premios que
                  te
                  harán temblar más fuerte.
                </p>
                <div class="content-btn-promo">
                  <button onclick="toFlechazoCupido()" class="btn-design1">Conocer promoción</button>
                </div>
              </div>
            </section>
          </a>
        </div> -->
      </div>


      <div style="display: none;" id="cubo3-mp">
        <!-- <div class="content-card-promo">
          <section title="Promoción Acumula y Gana" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#acumulaygana">
                <img src="/resources/PROMO_ACUMULA_Y_GANA_MP.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Acumula y Gana</h1>
              <p>
                ¿Listo para el reto? Juega, Acumula y Gana. Te atreves a vivir el premio acumulado mas grande.
              </p>
              <div class="content-btn-promo">
                <a href="#acumulaygana" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Promoción Dados de Póker" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#dadospoker">
                <img src="/resources/PROMO_DADOS_DE_POKER_MP.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Dados de Póker</h1>
              <p>
                Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra de las 5 figuras que Aladdin
                tiene para ti.
              </p>
              <div class="content-btn-promo">
                <a href="#dadospoker" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Promoción Ruleta de la Suerte" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#ruledelasuerte">
                <img src="/resources/PROMO_RULETA_DA_LA_SUERTE_MP.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Ruleta de la Suerte</h1>
              <p>
                Elige tu número y con él puede ser elegido para ser el ganador número uno.
              </p>
              <div class="content-btn-promo">
                <a href="#ruledelasuerte" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div> -->
      </div>

      <div style="display: none;" id="cubo4-mp">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#mymawitepremia">
                <img src="/resources/benner-mymawi.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <p>
                Participa en nuestra promoción y acumula beneficios cada vez que juegas. Regalos, bonos y premios te
                están
                esperando. </p>
              <div class="content-btn-promo">
                <a href="#mymawitepremia" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Tren de Premios" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#trenpremios">
                <img src="/resources/PROMO-TREN-PREMIOS.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Tren de Premios</h1>
              <p>
                Cada parada es una nueva oportunidad de ganar bonos, promociones y recompensas exclusivas.

              </p>
              <div class="content-btn-promo">
                <a href="#trenpremios" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div style="display: none;" id="promociones_enero_2026">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#mymawitepremia">
                <img src="/resources/benner-mymawi.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <p>
                Participa en nuestra promoción y acumula beneficios cada vez que juegas. Regalos, bonos y premios te
                están
                esperando. </p>
              <div class="content-btn-promo">
                <a href="#mymawitepremia" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Mr. Bonus" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#mr_bonus">
                <img style="width: 150px;" src="/resources/MRBONUS_LOGO.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Mr. Bonus</h1>
              <p>Él es el maestro del azar, el caballero de la fortuna…
                Mr. Bonus llega para llenar tus noches de emoción y premios.</p>
              <div class="content-btn-promo">
                <a href="#mr_bonus" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <br />
    <!-- <button class="btn-design1" onclick="saberMasPromo()">Saber más</button> -->
  </section>
</section>