<section class="promocion-container">
  <div class="content-title-promo">
    <h2 id="_title_promos_view_" class="type-h1">Promociones activas</h2>
  </div>
  <section class="card-view">
    <div class="content-card-promo">
      <div style="display: none;" id="promociones_enero">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#mymawitepremia">
                <img src="/resources/benner-mymawi.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <div class="content-btn-promo">
                <a href="#mymawitepremia" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Mr. Bonus" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#mr_bonus">
                <img style="width: 150px;" src="/resources/MRBONUS_LOGO.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Mr. Bonus</h1>
              <div class="content-btn-promo">
                <a href="#mr_bonus" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div style="display: none;" id="promociones_febrero">
        <div class="content-card-promo">
          <section title="Dados Mágicos" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#dadosmagicos">
                <img style="width: 200px;" src="/resources/logo_dados_magicos.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Dados Mágicos</h1>
              <div class="content-btn-promo">
                <a href="#dadosmagicos" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Lampara de la Suerte" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#lampara">
                <img style="width: 200px;" src="/resources/logo.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Lámpara de la Suerte</h1>
              <div class="content-btn-promo">
                <a href="#lampara" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>


          <section title="Viernes de Locura" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#viernesdelocura">
                <img style="width: 200px;" src="/resources/logo_viernes_locura.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Viernes de Locura</h1>
              <div class="content-btn-promo">
                <a href="#viernesdelocura" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Bono Express" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#bonoexpress">
                <img style="width: 200px;" src="/resources/logo_bono_express.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Bono Express</h1>
              <div class="content-btn-promo">
                <a href="#bonoexpress" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

        </div>
      </div>
      <div style="display: none;" id="promociones_marzo">
        <div class="content-card-promo">
          <section title="Promoción Ruleta de Premios" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#ruletadepremios">
                <img style="width: 200px;" src="/resources/logo_ruleta_premios.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Ruleta de Premios</h1>
              <div class="content-btn-promo">
                <a href="#ruletadepremios" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>


          <section title="Promoción Vuelta al Mundo" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#vueltalmundo">
                <img style="width: 200px;" src="/resources/Logo_vuelta.png" alt="MarcoPolo" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vuelta al Mundo</h1>
              <div class="content-btn-promo">
                <a href="#vueltalmundo" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div style="display: none;" id="promociones_abril">
        <div class="content-card-promo">
          <section title="Promoción 88 Fortunes" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#fortunes88">
                <img style="width: 200px;" src="/resources/logo_88_fortune.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">88 Fortunes</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#fortunes88" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Bola Dorada" class="card-promo">
            <div style="background-color: #1F253A;" class="card-image">
              <a href="#boladorada">
                <img style="width: 200px;" src="/resources/logo_bola_dorada.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Bola Dorada</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#boladorada" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div style="display: none;" id="promociones_mayo">
        <div class="content-card-promo">
          <section title="Promoción BlackJack Express" class="card-promo">
            <div class="card-image">
              <a href="#blackjackexpress">
                <img style="width: 200px;" src="/resources/Logo-black-jack-express.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">BlackJack Express</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#blackjackexpress" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Dados de Póker" class="card-promo">
            <div class="card-image">
              <a href="#dadospoker">
                <img style="width: 200px;" src="/resources/LOGO-DADOS-DE-POKER.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Dados de Póker</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#dadospoker" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

        </div>
      </div>
      <div style="display: none;" id="promociones_junio">
        <div class="content-card-promo">
          <section title="Promoción Jugada Ganadora" class="card-promo">
            <div class="card-image">
              <a href="#jugadaganadora">
                <img style="width: 200px;" src="/resources/logo_jugada_ganadora_.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Jugada Ganadora</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#jugadaganadora" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Fiebre Futbolera" class="card-promo">
            <div class="card-image">
              <a href="#fiebrefutbolera">
                <img style="width: 200px;" src="/resources/logo_FF.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Fiebre Futbolera</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#fiebrefutbolera" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

        </div>
      </div>
      <div style="display: none;" id="promociones_agosto">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div class="card-image">
              <a href="#mymawitepremia">
                <img style="width: 200px;" src="/resources/MY-MAWI-BLANCO.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#mymawitepremia" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Tren de Premios" class="card-promo">
            <div class="card-image">
              <a href="#trenpremios">
                <img style="width: 200px;" src="/resources/logo-tren.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Tren de Premios</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#trenpremios" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div style="display: none;" id="promociones_septiembre">
        <div class="content-card-promo">
          <section title="El Flechazo de Cupido" class="card-promo">
            <div class="card-image">
              <a href="#flechazocupido">
                <img style="width: 200px;" src="/resources/logo_flechazo_cupido.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">El Flechazo de Cupido</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#flechazocupido" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Match Perfecto" class="card-promo">
            <div class="card-image">
              <a href="#matchperfecto">
                <img style="width: 200px;" src="/resources/logo_match_perfecto.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Match Perfecto</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#matchperfecto" class="btn-design1">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <br />
  </section>
</section>