<!DOCTYPE html>
<html>

<head>
    <title>Página de experiencias - Casino Marco Polo</title>
</head>

<body>
    <section class="first-section">
        <!-- <video autoplay muted loop class="video-bg">
            <source src="resources/video4.mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
        </video> -->
        <div class="first-content container item">
            <h1 class="type3-h1">EXPERIENCIAS</h1>
            <h1 class="type5-h1">QUE DEJAN</h1>
            <h1 class="type5-h1">HUELLA</h1>
        </div>
    </section>
    <section class="fondo-xp">
        <section class="container-experiences">
            <div class="experiences-section">
                <div class="center-text container">
                    <h2 class="type-h1">Experiencias que querras vivir.</h2>
                    <p>En <strong>MARCO POLO</strong>, cada visita es una oportunidad para disfrutar de 
                        sabores inigualables. Ofrecemos una gran variedad de opciones <strong>gastronómicas</strong> , 
                        desde exquisitas carnes hasta alternativas más ligeras y sofisticadas.
                         <strong> La calidad, el sabor y la presentación</strong> se combinan para brindar momentos memorables
                         que complementan perfectamente la emoción del juego y <strong> el ambiente exclusivo del casino</strong>.</p>
                </div>
                <div class="experiences-grid container">
                    <div class="restaurant-card">
                        <div class="restaurand-card-img">
                            <img src="/resources/comida1.jpg" alt="The Mayfair Supper Club" />
                        </div>
                        <div class="card-content">
                            <h3>Cocina</h3>
                            <p>Variedad de tipos de proteina</p>
                            <p class="status open">Disponible </p>
                            <p class="info">$$$ • Pesos</p>
                        </div>
                    </div>

                    <div class="restaurant-card">
                        <div class="restaurand-card-img">
                            <img src="/resources/comida2.jpg" alt="Best Friend" />
                        </div>
                        <div class="card-content">
                            <h3>Bebibas</h3>
                            <p>Variedad de bebidas</p>
                            <p class="status open">Disponible</p>
                            <p class="info">$$ • Pesos</p>
                        </div>
                    </div>

                    <div class="restaurant-card">
                        <div class="restaurand-card-img">
                            <img src="/resources/comida3.jpg" alt="Amaya" />
                        </div>
                        <div class="card-content">
                            <h3>Presentacion</h3>
                            <p>Gran ambiente para disfrutar</p>
                            <p class="status open">Disponible </p>
                            <p class="info">$$$ • Pesos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-card">
            <div class="member-card titulo container" id="member-card">
                <div class="member-content">
                    <div class="icon">​💳​</div>
                    <p><strong>Los miembros disfrutan de recomendaciones gastronómicas únicas</strong></p>
                    <button type="button" onclick="toRegister()">Registrate</button>
                </div>
            </div>
        </section>
        <section>
            <div class="section-suerte">
                <h1 class="type-h1">Aumenta más tus experiencias.</h1>
                <div class="cards-suerte container">
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp1.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Juegos, mesas y maquinas</h3>
                            <p>Juega y participa en todos los juegos que tenemos disponible en CASINO MARCO POLO.</p>
                        </div>
                    </div>
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp2.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Prueba tu suerte en la ruleta</h3>
                            <p>Gira la rueda, elige tu número o color y deja que la fortuna decida.
                                La ruleta americana es uno de los juegos más icónicos del casino y
                                vivir ese instante en que la bola rebota es simplemente electrizante.</p>
                        </div>
                    </div>
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp3.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Disfruta de un cóctel en un ambiente elegante</h3>
                            <p>Los bares del casino ofrecen una selección de bebidas premium,
                                desde tragos clásicos hasta cócteles exclusivos.
                                Relájate, conversa o celebra tus jugadas con una copa en la mano.</p>
                        </div>
                    </div>
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp4.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Relájate en espacios premium</h3>
                            <p>Algunos casinos incluyen áreas lounge o zonas privadas donde puedes desconectarte,
                                disfrutar de un ambiente más tranquilo,
                                simplemente observar el movimiento mientras recargas energías.</p>
                        </div>
                    </div>
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp5.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Vive la emoción de las tragamonedas</h3>
                            <p>las tragamonedas ofrecen entretenimiento instantáneo y la posibilidad de llevarte
                                increíbles
                                premios.</p>
                        </div>
                    </div>
                    <div class="card-suerte">
                        <div class="card-img-suerte">
                            <img src="/resources/xp6.png" />
                        </div>
                        <div class="card-content-suerte">
                            <h3>Celebra tus eventos especiales con estilo</h3>
                            <p>Cumpleaños, aniversarios o simplemente una noche diferente…
                                el CASINO MARCO POLO es el lugar perfecto para celebrarlo con lujo,
                                juegos y atención personalizada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="diagonal-bg">
        <div class="experiences-title container">
            <div class="text1">
                <h1 class="titulor">Descubre el lado exclusivo del entretenimiento.
                    En Casino Marco Polo, cada experiencia está diseñada para que
                    sientas la emoción, <br />
                    el lujo y la adrenalina de ser parte de algo único.<br />
                    🍷 bebidas premium y 🃏 juegos de alto nivel te esperan.<br />
                    Vive lo extraordinario.<br /> Vive Marco Polo. </h1>
            </div>
            <div class="text2">
                <h1 class="titulol">No es solo un juego, es una experiencia que recordarás.
                    Vive el lujo, la emoción y el trato exclusivo que solo en Casino Marco Polo puedes encontrar.
                    ¿Estás listo para sentirte verdaderamente VIP? </h1>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script>
        const formularioMember = document.getElementById('member-card');
        if (formularioMember) {
            formularioMember.addEventListener('submit', function (event) {
                event.preventDefault(); // Evita el envío del formulario por defecto
                loading.style.display = "flex";
                window.scrollTo(0, 0);
                navegarA(`/components/contacto/contacto.html`);
                window.location.hash = '';
                // Aquí puedes agregar la lógica para enviar el correo electrónico a tu servidor
            });
        }
    </script>
</body>

</html>