<!DOCTYPE html>
<html>

<head>
    <title>Página de experiencias - Casino Marco Polo</title>
</head>

<body>
    <section class="first-section">
        <div class="first-content">
            <h1>EXPERIENCIAS</h1>
        </div>
    </section>
    <section class="container-experiences">
        <div class="experiences-section">
            <h2>Experiencias que querras vivir.</h2>
            <div class="experiences-grid">
                <div class="restaurant-card">
                    <div class="restaurand-card-img">
                        <img src="/resources/comida1.jpg" alt="The Mayfair Supper Club" />
                    </div>
                    <div class="card-content">
                        <h3>Cocina</h3>
                        <p>Variedad de tipos de proteina</p>
                        <p class="status open">Disponible </p>
                        <p class="info">$$$ • Pesos</p>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurand-card-img">
                        <img src="/resources/comida2.jpg" alt="Best Friend" />
                    </div>
                    <div class="card-content">
                        <h3>Bebibas</h3>
                        <p>Variedad de bebidas</p>
                        <p class="status open">Disponible</p>
                        <p class="info">$$ • Pesos</p>
                    </div>
                </div>

                <div class="restaurant-card">
                    <div class="restaurand-card-img">

                        <img src="/resources/comida3.jpg" alt="Amaya" />
                    </div>
                    <div class="card-content">
                        <h3>Presentacion</h3>
                        <p>Gran ambiente para disfrutar</p>
                        <p class="status open">Disponible </p>
                        <p class="info">$$$ • Pesos</p>
                    </div>
                </div>

                <div class="member-card item" id="member-card">
                    <div class="member-content">
                        <div class="icon">​💳​</div>
                        <p><strong>Los miembros disfrutan de recomendaciones gastronómicas únicas</strong></p>
                        <button type="button" onclick="toRegister()">Registrate</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="section-suerte">
            <h1>Aumenta más tus experiencias.</h1>
            <div class="cards-suerte">
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp1.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Juegos mesas y maquinas</h3>
                        <p>Juega y participa en todos los juegos que tenemos disponible en CASINO MARCOPOLO.</p>
                    </div>
                </div>
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp2.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Mesas</h3>
                        <p>Disfruta de tus juegos en la diversas mesas que
                            tiene CASINO MARCOPOLO, prueba y gana en cualquier juego.</p>
                    </div>
                </div>
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp3.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Variedad de bebibas</h3>
                        <p>Disfruta de tus bebibas mientras tu estas en una de tu aventuras.</p>
                    </div>
                </div>
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp4.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Atención premiun</h3>
                        <p>Disfruta de tus juegos y retos mientras disfrutas
                            de la mejor atención que puedes tener en CASINO MARCOPOLO.</p>
                    </div>
                </div>
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp5.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Seguridad</h3>
                        <p>Disfruta de tus juegos y retos mientras estas en un
                            ambiente seguro, donde nadie afectara tu manera de ganar.</p>
                    </div>
                </div>
                <div class="card-suerte">
                    <div class="card-img-suerte">
                        <img src="/resources/xp6.png" />
                    </div>
                    <div class="card-content-suerte">
                        <h3>Excelente ambiente</h3>
                        <p>Disfruta de un ambiente agradable e inspirador en CASINO MARCOPOLO
                            para tus juegos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="diagonal-bg">
        <div class="experiences-title container">
            <div class="text1">
                <h1 class="titulol">Descubre el lado exclusivo del entretenimiento.
                    En Casino Marco Polo, cada experiencia está diseñada para que
                    sientas la emoción, <br />
                    el lujo y la adrenalina de ser parte de algo único.<br />
                    🍷 bebidas premium y 🃏 juegos de alto nivel te esperan.<br />
                    Vive lo extraordinario.<br /> Vive Marco Polo. </h1>
            </div>
            <div class="text2">
                <h1 class="titulor">No es solo un juego, es una experiencia que recordarás.
                    Vive el lujo, la emoción y el trato exclusivo que solo en Casino Marco Polo puedes encontrar.
                    ¿Estás listo para sentirte verdaderamente VIP? </h1>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script>
        const formularioMember = document.getElementById('member-card');
        if (formularioMember) {
            formularioMember.addEventListener('submit', function (event) {
                event.preventDefault(); // Evita el envío del formulario por defecto
                loading.style.display = "flex";
                window.scrollTo(0, 0);
                navegarA(`/components/contacto/contacto.html`);
                window.location.hash = '';
                // Aquí puedes agregar la lógica para enviar el correo electrónico a tu servidor
            });
        }
    </script>
</body>

</html>