.first-section {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.first-section .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.first-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/resources/fondo-xp.png);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.first-content {
  text-align: center;
}

.first-section .first-content h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #f3ec78, #af4261);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: movimiento-gradiente 2s linear infinite alternate;
}

@keyframes movimiento-gradiente {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* EXPERIENCIAS */

.container-experiences {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-experiences .experiences-section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-experiences .experiences-section .center-text {
  padding: 20px;
  text-align: center;
}

.container-experiences .experiences-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* ¡Responsive! */
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container-experiences .restaurant-card {
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container-experiences .restaurant-card .restaurand-card-img {
  overflow: hidden;
  height: 250px;
}

.container-experiences .restaurant-card .restaurand-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.container-experiences .restaurant-card img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container-experiences .card-content {
  padding: 12px;
}

.container-experiences .card-content h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #06113C;
}

.container-experiences .card-content p {
  margin: 2px 0;
  font-size: 14px;
  color: #333;
}

.container-experiences .status.closed {
  color: red;
}

.container-experiences .status.open {
  color: green;
}

.container-experiences .status span {
  color: #555;
}

.container-experiences .info {
  font-size: 13px;
  color: #555;
}


/* CARD */
.section-card{
  background-color: white;padding: 20px;
  
}

 .member-card {
  background: linear-gradient(135deg, #2C16B0, #6622F8);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.member-card .member-content .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.member-card .member-content p {
  font-size: 15px;
  margin: 10px 0;
}

.member-card  .member-content button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.member-card  .member-content button:hover {
  background-color: white;
  color: #0a0c4f;
  transition: background-color 0.3s ease;
}

.section-suerte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  color: #27314F;
  background-color: white;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.section-suerte h1 {
  margin-bottom: 20px;
}

.cards-suerte {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* ¡Responsive! */
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}


.section-suerte .card-suerte {
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.section-suerte .card-suerte .card-img-suerte {
  overflow: hidden;
  height: 250px;
}

.section-suerte .card-suerte .card-img-suerte img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.section-suerte .card-suerte .card-img-suerte img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section-suerte .card-suerte .card-content-suerte {
  height: 200px;
}

.section-suerte .card-suerte h3 {
  padding: 5%;
}

.section-suerte .card-suerte p {
  padding: 5%;

}

.diagonal-bg {
  height: auto;
  background: linear-gradient(165deg, #27314F 50%, #fff 50%);
}


.experiences-title {
  position: relative;
  z-index: 1;
  color: white;
  padding: 50px;

}

.experiences-title .text1 {
  width: 50%;
}

.experiences-title h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 2.2rem;
}

.experiences-title .text2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  margin-left: 20%;
}

.experiences-title .text2 h1 {
  color: #27314F;
  font-size: 2rem;
  width: 60%;
}




@media (max-width: 768px) {

  /* EXPERIENCIAS */
  .container-experiences .experiences-section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .first-section .video-bg {
    display: none;
  }

  .container-experiences .experiences-section .experiences-grid {
    width: 90%;
  }

  .container-experiences .restaurant-card {
    width: 100%;
  }

  .container-experiences .member-card {
    width: 100%;
  }

  .cards-suerte {
    display: grid;
    width: 100%;
  }

  .section-suerte .card-suerte {
    width: 100%;
  }
  .section-suerte h1 {
  text-align: center;
  }

  .diagonal-bg {
    height: auto;
    background: linear-gradient(180deg, #27314F 55%, #fff 45%);
  }


  .experiences-title {
    position: relative;
    z-index: 1;
    color: white;
    padding: 50px;

  }

  .experiences-title .text1 {
    width: 100%;
  }

  .experiences-title .text1 h1 {}

  .experiences-title .text2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 0%;
  }

  .experiences-title .text2 h1 {
    width: 100%;
  }


}