<!DOCTYPE html>
<html>

<head>
  <title>Página de obtener tarjeta - Casino Marco Polo</title>
</head>

<body>
  <section class="fondo">
    <section>
      <div class="container">
        <div class="banner-obten-tarjeta">
          <div>
            <div class="content-image" style="text-align: center;">
              <img class="item" src="/resources/MY-MAWI-CARD-PLATINO.png" />
            </div>
            <div class="scroll-down-indicator">
              <span class="arrow"></span>
              <span class="arrow"></span>
              <span class="arrow"></span>
            </div>
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta">
          <div class="tarjeta-img">
            <img class="item efecto-gota-d" src="/resources/people-mymawi-1.png" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">TARJETA MYMAWI</h1>
            <br />
            <p>Usted puede hacer parte de la comunidad Aladdin a través de la tarjeta de membresía MYMAWI, que permite
              tener una mejor administración de sus fondos y sus premios en relación a los juegos y obtener múltiples
              beneficios adicionales.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta view-reverse">
          <div class="tarjeta-img">
            <img class="titulor efecto-gota-i" src="/resources/IMG_4460-2.jpg" />
          </div>
          <div class="tarjeta-desc ">
            <h1 class="type3-h1">BENEFICIOS DE LA TARJETA MYMAWI</h1>
            <br />
            <p>Usando permanentemente su tarjeta MYMAWI podrá disfrutar, entre otros, de los siguientes beneficios:</p>
            <br />
            <h3>Selección de beneficiarios</h3>
            <br />
            <ul>
              <li>Participar en progresivos misteriosos.</li>
              <li>Obtener puntos por valor apostado que pueden ser canjeados por dinero en efectivo, productos o
                servicios.</li>
              <li>Transportar créditos en la tarjeta de una máquina a otra.</li>
              <li>Canjear por dinero los puntos obtenidos.</li>
              <li>Ganar bonos para eventos especiales, día de la madre, día del padre, halloween, nuevo año chino,
                cumpleaños, etc.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="divider-section-section"></div>
      <section style="margin-top: 20px;margin-bottom: 20px;" id="ubicacion-seccion">
      </section>
      <div class="divider-section-section"></div>
    </section>

    <section>
      <div class="container">
        <div class="desc-tarjeta">
          <div class="tarjeta-img">
            <img class="titulo efecto-gota-d" src="/resources/IMG_4689.jpg" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">PORQUE SI</h1>
            <h1 class="type3-h1">Y PORQUE NO</h1>
            <br />
            <p>Usando su tarjeta MYMAWI usted SIEMPRE va a ganar puntos incluso si su crédito aumenta o disminuye,
              si gana o no gana igual siempre va a sumar puntos.
              Esto solo es posible obteniendo su tarjeta MYMAWI.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="desc-tarjeta view-reverse">
          <div class="tarjeta-img">
            <img class="titulo efecto-gota-i" src="/resources/IMG_4643.jpg" />
          </div>
          <div class="tarjeta-desc">
            <h1 class="type3-h1">¿QUÉ ES DINERO PROMOCIONAL?</h1>
            <br />
            <p>El dinero promocional es un regalo que Aladdin da a sus clientes y solo sirve para jugar, cuando un
              cliente obtiene un premio en dinero promocional ese valor se acredita en pesos colombianos en su tarjeta.
            </p>
            <p>La tarjeta MYMAWI administra una cuenta de dinero real y otra de dinero promocional, al momento de jugar
              la tarjeta SIEMPRE utilizará primero el dinero promocional que tenga, a medida que el cliente va ganando
              ese dinero se convierte en dinero real, el cual puede cobrar o utilizar para seguir jugando.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="divider-section-section"></div>
      <section id="promocion-seccion">
      </section>
      <div class="divider-section-section"></div>
      <br /><br /><br />
    </section>
  </section>
</body>

</html>