.fondo {
  position: relative;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #1F253A, rgba(0, 0, 0, 0)),
    url(/resources/mymawi-mitad.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  background-attachment: fixed;

}

.banner-obten-tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
}

.banner-obten-tarjeta .content-image {
  width: 600px;
  height: 100%;
}

.banner-obten-tarjeta .content-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.desc-tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.tarjeta-img {
  width: 40%;
}

.tarjeta-img img {
  width: 100%;
  height: 100%;
}

.tarjeta-desc {
  align-items: center;
  width: 50%;
  height: 50%;
}

ul {
  padding-left: 30px;
}

.scroll-down-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  animation: float 1.5s ease-in-out infinite;
}

.arrow {
  width: 20px;
  height: 20px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-45deg);
  animation: bounce 1.5s infinite;
  opacity: 0.7;
}

.arrow:nth-child(2) {
  animation-delay: 0.2s;
}

.arrow:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
    opacity: 0.7;
  }

  50% {
    transform: translateY(10px) rotate(-45deg);
    opacity: 1;
  }
}



.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slidepromo {
  flex: 0 0 33.3333%;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  background: #27314f;
  border: 2px solid #efb810;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  color: white;
}

.card a {
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #efb810;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: none;
  border: none;
  color: #efb810;
  cursor: pointer;
  z-index: 2;
}

.slider-nav.left {
  left: 10px;
}

.slider-nav.right {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 15px;
}

.dotpromo {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #777;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dotpromo.active {
  background: #efb810;
}



@media (max-width: 780px) {

  .fondo {
    position: relative;
  }

  .fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #1F253A, rgba(0, 0, 0, 0)),
      url(/resources/fondo-movil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    z-index: -1;
    background-attachment: fixed;
  }

  .banner-obten-tarjeta .content-image {
    width: 100%;
    height: 100%;
  }

  .banner-obten-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }


  .content-image {
    width: 100%;
    height: 100%;
  }


  .desc-tarjeta {
    display: inline;
    padding: 40px;
  }

  .tarjeta-desc {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .tarjeta-img {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .tarjeta-img img {
    width: 100%;
    height: 100%;
  }

  .reverse-view {
    flex-direction: column-reverse;
  }


  .slidepromo {
    flex: 0 0 100%;
  }
}

@media (max-width: 380px) {

  .fondo {
    position: relative;
  }

  .fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
    background-attachment: fixed;

  }
}