.fondo {
  background-size: cover;
  background-position: center;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/resources/mymawi-mitad.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;

}

.banner-obten-tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  gap: 100px;
}

.content-image {
  width: 300px;
  height: 500px;
}

.banner-obten-tarjeta .content-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.card-marcopolo {
  width: 600px;
  height: 350px;
  background-color: red;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-marcopolo h1 {
  font-size: 70px;
}

.img-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.img-test {
  position: absolute;
  left: 0;
  width: 40%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transform: translate(-280px);
}

.img-test:hover {
  transform: translate(100px);
}

.img-test-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-test2 {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 15%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transform: translate(100px);
}

.item-fondo2 {
  /* background: linear-gradient(180deg, #27314fc7 15%, #27314F, #27314F,
      #000, #27314F, #000 85%); */
      background-image: url(/resources/tarjeta-mymawi-prueba-fondo.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-fondo2 .content-item2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70vh;
  gap: 70px;
}


.solicitud-tarjeta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  background: transparent;
  color: white;
  z-index: 1;
}

.formulario {
  max-width: 400px;
  width: 100%;
  background: transparent;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.formulario h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario input,
.formulario select {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #ffffffdd;
  color: #333;
}

.formulario input::placeholder {
  color: #555;
}

.item-fondo3 {
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.content-item3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  flex-wrap: wrap;
}

.imagen-lateral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-lateral img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.frases-tarjeta {
  flex: 1 1 50%;
  color: #fff;
  text-align: center;
  padding: 30px;
}


/* SLIDER */
.slider-muestras {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-progresivo-content {}

.slider-progresivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 30px;
}

.slider-progresivos-actions {}

/* 
.slider-progresivo .slider-progresivo-img{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-progresivo .slider-progresivo-img img{
height: 100%;
border-radius: 10px;
} */

.slider-muestras .slider-wrapper-muestras {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-muestras .slide-muestras {
  min-width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slider-muestras .bg1-muestra {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)),
    url(/resources/slider-mymawi1.png);

}

.slider-muestras .bg2-muestra {
  background-image: url(/resources/slider-mymawi3.png);
}

.slider-muestras .bg3-muestra {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)),
  url(/resources/slider-mymawi2.png);
}
.slider-muestras .bg4-muestra {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)),
  url(/resources/fondo-rojo.jpg);
}

/* Radios ocultos */
.slider-muestras input[type="radio"] {
  display: none;
}

/* Botones de navegación (radios visuales) */
.slider-muestras label {
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  transition: background 0.3s;
  display: inline-block;
}

/* Contenedor de los puntos */
.slider-muestras .navigation-muestras {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Cuando esté seleccionado */
.slider-muestras input[type="radio"]:checked+label {
  background: white;
}

/* Flechas */
.slider-muestras .arrow-muestra {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.slider-muestras .arrow-left-muestra {
  left: 80px;
}

.slider-muestras .arrow-right-muestra {
  right: 80px;
}

/* Responsive */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .content-item3 {
    flex-direction: column;
  }

  .imagen-lateral img {
    height: auto;
    width: 100%;
  }

  .frases-tarjeta {
    padding: 20px;
    z-index: 1;
  }

  .frases-tarjeta h1 {
    font-size: 1.8rem;
  }

  .solicitud-tarjeta {
    justify-content: center;
    padding: 40px 20px;
    background: transparent;
  }

  .formulario {
    width: 100%;
    /* background-image:url(/resources/tarjeta-mymawi-prueba.png);
background-repeat: no-repeat;
background-size: cover; */
  }

  .banner-obten-tarjeta {
    flex-direction: column;
    height: auto;
    gap: 10px;
    height: 100vh;
  }

  .content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .banner-obten-tarjeta .content-image img {
    width: 100%;
    transform: rotate(0deg);
    border-radius: 0;
  }

  .banner-obten-tarjeta .content-text {
    display: none;
  }

  .container {
    padding: 0 0;
  }

  .banner-obten-tarjeta .content-image img:hover {
    transform: scale(1);
  }


  .img-test-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-test {
    left: 0;
    width: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: translateY(0px);
  }

  .item-fondo2 .content-item2 {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }

  .imagen-lateral img {
    padding: 30px;
  }

  .img-test-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .img-test2 {
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .item-fondo3 {
    height: auto;

  }

  .slider-muestras .bg1-muestra {
  background-image: url(/resources/slider-mymawi1-movil.png);
}

  
.slider-muestras .bg2-muestra {
  background-image: url(/resources/slider-mymawi2-movil.png);
}

.slider-muestras .bg3-muestra {
  background-image: url(/resources/mymawi-new.jpg);
}
.slider-muestras .bg4-muestra {
  background-image: url(/resources/fondo-rojo.jpg);
}
}