.section-ini {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/resources/fondo-prueba.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-slide-home {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 3;
  position: relative;
}

.content-home-banner {
  width: 400px;
}

/* .content-home-banner img{
position: absolute;
top: -80px;
left: 15%;
transform: translateX(-50%);
} */

.content-home-banner h3 {
  color: #fff;
  text-shadow:
    0 0 8px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
}

.content-home-banner p {
  color: #fff;
  text-shadow:
    0 0 8px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
}

.content-img-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.content-img-home img {
  width: 300px;
  height: 50%;
}

.content-img-home p {
  font-size: 2.5rem;
}


.content-slide-home h2 {
  padding-left: 20px;
  color: #fff;
  text-shadow:
    0 0 8px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
}

.content-home-banner-title {
  width: 100%;
  position: relative;
  left: -5px;
}

.content-home-banner-title h3 {
  line-height: 8rem;
}

/* slider ubicacion */

.background-ubicaciones {
  height: auto;
  padding: 70px 0;
}

.background-ubicacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.content-title-ubi {
  display: flex;
  width: 100%;
  padding: 20px 0;
  gap: 20px;
}

.content-title-ubi img {
  width: 20%;
  height: 100%;
}

.btn-ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-ubicacion a {
  text-decoration: none;
}

.background-ubicacion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(/resources/fondo-mapa.png);
  background-size: cover;
  background-position: center; */
  opacity: 0.5;
  z-index: -1;
}

.ubicaciones-ocultar {
  width: 100%;
  padding: 20px 0;
}

.content-card-ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

.card-ubicacion {
  width: 400px;
  height: 430px;
  overflow: hidden;
  border-radius: 8px;
}

.card-ubicacion-img {
  width: 100%;
  height: 50%;
}

.card-ubicacion-img img {
  width: 100%;
  height: 100%;
}

.card-ubicacion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 50%;
  background-color: #eeeeee;
  overflow: hidden;
}

.card-ubicacion-text h3 {
  color: #27314F;
}

.card-ubicacion-text p {
  color: #27314F;
  font-size: 1.4rem;
}

.card-ubicacion-text small {
  color: gray;
  font-size: 1.2rem;
}

.content-a-card {
  display: flex;
  justify-content: flex-end;
}

.card-ubicacion-text a {
  text-decoration: none;
  transition: all 0.4s ease;
}

.card-ubicacion-text a:hover {
  text-decoration: none;
  color: gray;
}


.seccion-1-label-ubicacion {
  display: flex;
  align-items: center;
  color: white;
}

.estado {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 8px;
  display: inline-block;
  color: white;
  margin-left: 5px;
}

.abierto {
  color: chartreuse;
  font-size: 1.2rem;
}

.cerrado {
  color: red;
  font-size: 1.2rem;
}

.desc-ubi-casino {
  color: white;
}

.desc-ubi-casino small {
  color: gray;
  font-size: 1.2rem;
}

.btn-ver-mas a {
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn-ver-mas a:hover {
  color: gray;
}

.card-ubicacion-text-seccion-2 {
  position: relative;
  width: 30%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status-text {
  display: flex;
  flex-direction: column;
  text-align: end;
  height: 100%;
}

.status-text p {
  color: chartreuse;
}

.status-text small {
  font-size: 1rem;
  color: gray;
}

.desc-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: end;
  width: 100%;
}

.desc-text small {
  font-size: 1rem;
  color: gray;
}

.desc-text a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 5px;
}


/* TARJETA-MYMAWI */
.container-tarjeta {
  width: 100vw;
  height: 100%;
  /* altura igual a la pantalla */
  position: relative;
  background-color: #1F253A;
  overflow: hidden;
}

.box-container-tarjeta {
  display: flex;
  width: 100%;
  height: 100%;
}

.box-left-tarjeta {
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}


.box-rigth-tarjeta {
  width: 50%;
  height: 100%;
  position: relative;
}

.box-rigth-tarjeta img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  display: block;
}


.section-start-tarjeta {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: linear-gradient(180deg, #27314fad, #27314fad), url(/resources/fondo-abstracto.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  padding: 20px;
  position: relative;
}

.section-start-tarjeta-text {
  display: flex;
  flex-direction: column;
}

.content-tarjeta-a a {
  text-decoration: none;
}

.parahacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0;
}

.parahacer-left {
  width: 30%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.parahacer-left p {
  font-size: 2.5rem;
}

.parahacer-rigth {
  display: flex;
  width: 70%;
}

.content-parahacer-acordeon {
  width: 33.33%;
  height: 600px;
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
}

.content-parahacer-acordeon:hover {
  width: 55%;
}

.content-parahacer-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.content-parahacer-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;
}


.content-parahacer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-parahacer-acordeon small {
  position: absolute;
  bottom: 30%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding: 10px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  font-size: 2rem;
}

.content-parahacer-acordeon:hover small {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.content-parahacer-acordeon p {
  font-size: 2.5rem;
  padding: 20px;
  position: absolute;

}

.fondo-content-mp-1 {
  background-image: linear-gradient(180deg, #ffffffc2, #ffffffc2), url(/resources/marcopoloBogota-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-content-mp-2 {
  background-image: linear-gradient(180deg, #ffffffc2, #ffffffc2), url(/resources/marcopoloLocalInter-3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content-mp {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.card-content-mp-reverse {
  flex-direction: row-reverse;
}

.card-content-mp .content-mp-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-content-mp .content-mp-rigth {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  padding: 50px 0;
  color: #1F253A;
}

.card-content-mp .content-mp-rigth h2 {
  font-size: 4.5rem;
}

.card-content-mp .content-mp-rigth h3 {
  font-size: 3rem;
}

.section-game {
  text-align: center;
}

.content-games {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

}

.game {
  display: grid;
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.game-img {
  overflow: hidden;
}

.game-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.game-img img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.game p {
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


.sliderC {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapperC {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100vw;
  height: 80vh;
  touch-action: pan-y;
  user-select: none;
  cursor: grab;
}

.slider-wrapperC:active {
  cursor: grabbing;
}

.slideC {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg1C {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(/resources/mp1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2C {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(/resources/mp2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg3C {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(/resources/mp3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

input[name="slider-radioC"] {
  display: none;
}

.slider-controlsC label {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  display: inline-block;
  transition: background 0.3s;
}

.slider-controlsC {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.slider-controlsC input[type="radio"]:checked+label {
  background: white;
}


.arrowC {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  font-size: 5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.arrowC-left {
  left: 0px;
}

.arrowC-right {
  right: 0px;
}


@media (max-width: 950px) {

  .section-ini {
    height: 80vh;
  }

}

@media (max-width: 800px) {

  .game {

    width: 150px;
    height: 200px;
  }

  .game p {
    width: 100%;
  }

  .game a {
    padding: 0;
  }

  .game-img img {
    border-radius: 0px;
  }

  .card-ubicacion {
    flex-direction: column;
  }

  .card-ubicacion .card-ubicacion-img {
    width: 100%;
  }

  .card-ubicacion .card-ubicacion-text {
    width: 100%;
  }

  .desc-text a {
    font-size: 0.8rem;
  }

  .card-ubicacion-text-seccion-1 {
    width: 60%;
    padding: 0;
  }

  .card-ubicacion-text-seccion-2 {
    width: 40%;

  }

  .seccion-1-label-ubicacion p {
    font-size: 1.2rem;
  }

  .card-ubicacion-text-seccion-1 h3 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .card-ubicacion-text-seccion-1 svg {
    margin-left: 2px;
  }

  .card-ubicacion-text-seccion-2 {
    height: auto;
    padding: 0;
  }

  .desc-ubi-casino {
    font-size: 1.5rem;
  }
}

@media (max-width:388px) {

  .desc-ubi-casino,
  .btn-ver-mas {
    font-size: 1.2rem;
  }

}