<!DOCTYPE html>
<html>

<head>
  <title>Página de inicio</title>
</head>

<body>
  <section class="section-ini">
    <!-- <section class="slider">
      <div class="slider-wrapper" id="sliderTrack">
        <div class="slide bg1"></div>
        <div class="slide bg2"></div>
        <div class="slide bg3"></div>
      </div> -->
      <!-- Controles -->
      <!-- <div style="display: none;" class="slider-controls">
        <input type="radio" name="slider-radio" id="trigger1" checked>
        <label for="trigger1"></label>
        <input type="radio" name="slider-radio" id="trigger2">
        <label for="trigger2"></label>
        <input type="radio" name="slider-radio" id="trigger3">
        <label for="trigger3"></label>
      </div>
      <div class="container">
        <div class="item content-slide-home">
          <img src="/resources/marcopolo.png" />
          <h1>La ruta a la fortuna</h1>
        </div>
        <div class="scroll-down-indicator">
          <span class="arrow"></span>
          <span class="arrow"></span>
          <span class="arrow"></span>
        </div>
      </div>
    </section> -->

    <!-- <div style="gap: 30px; display: none;">
      <button class="arrowh arrowh-left" id="prevBtnh">&#8249;</button>
      <button class="arrowh arrowh-right" id="nextBtnh">&#8250;</button>
    </div> -->
     <video autoplay muted loop playsinline class="background-video">
      
    <source src="/resources/MarcoPolo.mp4" type="video/mp4">
    Tu navegador no soporta video HTML5.
    
  </video>
  <div class="container">
        <div class="item content-slide-home">
          <img src="/resources/marcopolo.png" />
          <h1>La ruta a la fortuna</h1>
        </div>
        <div class="scroll-down-indicator">
          <span class="arrow"></span>
          <span class="arrow"></span>
          <span class="arrow"></span>
        </div>
      </div>
  <img src="/resources/banner-home-movil.png" alt="Banner móvil" class="background-image-mobile">
  </section>
  <div class="background-ubicacion ocultar">
    <div class="container ">
      <div style="text-align: center; 
                align-items: center;
                display: flex;  
                justify-content: center;
                padding: 20px;">
        <h1 class="type2-h1 item">Ubicaciones</h1>
      </div>
      <div class="item btn-ubicacion">
        <button class="item btn-design2" id="sedeBar">Barranquilla</button>
        <button class="item btn-design2" id="sedeBog">Bogotá</button>
        <button class="item btn-design2" id="sedeCas">Cali Sur</button>
        <button class="item btn-design2" id="sedeCao">Cali Oeste</button>
      </div>
      <div class="content-slider-ubicaciones">
        <section class="sliderubicacion">
          <div class="slider-wrapper-ubicacion" id="sliderTrackubicacion">
            <div style="cursor: pointer;" id="toBarranquilla" class="slideubicacion bg1ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Barranquilla,</h1>
                  <h1 class="type2-h1">Mallplaza Buenavista</h1>
                  <br />
                  <p class="type5-h1">📍 Cra 53 #99-148 Local A2073A piso 2</p>
                  <p class="type5-h1">📞 (+57) 316 0859199</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div style="cursor: pointer;" id="toBogota" class="slideubicacion bg2ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Bogotá 15</h1>
                  <br />
                  <p class="type5-h1">📍 Cra 15 #100-76</p>
                  <p class="type5-h1">📞 (+57) 323 453 1657</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4772047635433!2d-74.05000976723088!3d4.686819557814184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abde306ddc1%3A0xd87e4a68938251c0!2zQ3JhLiAxNSAjIDEwMC03NiwgVXNhcXXDqW4sIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses!2sco!4v1745857314522!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div style="cursor: pointer;" id="toCalisur" class="slideubicacion bg3ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Cali Sur,</h1>
                  <h1 class="type3-h1">Holguines T.C.</h1>
                  <br />
                  <p class="type5-h1">📍 Calle 100 B #11A-19 local #200</p>
                  <p class="type5-h1">📞 (+57) 317 439 1688</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.908634134753!2d-76.54216163462709!3d3.3725075423425954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a17a55c60df5%3A0xf8f1ed27d927b75c!2sCra.%20100%20%2311-60%20l%20200%2C%20Ciudad%20Jard%C3%ADn%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1745857520053!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div style="cursor: pointer;" id="toCalioeste" class="slideubicacion bg4ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Cali Oeste,</h1>
                  <h1 class="type3-h1">Hotel InterContinental</h1>
                  <br />
                  <p class="type5-h1">📍 Av 1 Oeste #2-72</p>
                  <p class="type5-h1">📞 (602)28857458</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7374.755703711711!2d-76.54228379878462!3d3.449849330955724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a7484d6175b5%3A0xb788380f5b914c0d!2sCasino%20Marco%20Polo!5e0!3m2!1sen!2sco!4v1750865895841!5m2!1sen!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <!-- Radios -->
          <div class="navigationubicacion">
            <input type="radio" name="slider-ubicacion" id="trigger1-ubicacion" checked>
            <label for="trigger1-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger2-ubicacion">
            <label for="trigger2-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger3-ubicacion">
            <label for="trigger3-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger4-ubicacion">
            <label for="trigger4-ubicacion"></label>
          </div>
        </section>

        <!-- Flechas -->
        <div style="gap: 30px;">
          <button class="arrow-ubicacion arrow-left-ubicacion" id="prevBtn-ubicacion">&#8249;</button>
          <button class="arrow-ubicacion arrow-right-ubicacion" id="nextBtn-ubicacion">&#8250;</button>
        </div>
      </div>
    </div>
  </div>

  <section class="ubicaciones-ocultar">
    <div class="container">
      <div class="ubicaciones-movil">
        <div class="card-ubicacion titulor" id="toBarraMovil">
          <div class="card-ubicacion-text">
            <h1 class="type5-h1">Sede Barranquilla</h1>
            <p>Saber más</p>
          </div>
          <div class="card-ubicacion-img img-fondo1">
            <img src="/resources/marcopoloBarranquilla.png" />
          </div>
        </div>
        <div class="card-ubicacion titulol" id="toBogMovil">
          <div class="card-ubicacion-text">
            <h1 class="type5-h1">Sede Bogotá</h1>
            <p>Saber más</p>
          </div>
          <div class="card-ubicacion-img img-fondo2">
            <img src="/resources/marcopoloBogota.png" />
          </div>
        </div>
        <div class="card-ubicacion titulor" id="toCaliSMovil">
          <div class="card-ubicacion-text">
            <h1 class="type5-h1">Sede Cali, Sur</h1>
            <p>Saber más</p>
          </div>
          <div class="card-ubicacion-img img-fondo3">
            <img src="/resources/marcopoloHolguines.jpg" />
          </div>
        </div>
        <div class="card-ubicacion titulol" id="toCaliOMovil">
          <div class="card-ubicacion-text">
            <h1 class="type5-h1">Sede Cali, Oeste</h1>
            <p>Saber más</p>
          </div>
          <div class="card-ubicacion-img img-fondo4">
            <img src="/resources/marcopoloLocalInter.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TARJETA-MYMAWI -->
  <section class="container-tarjeta">
    <div class='box-container-tarjeta container'>
      <div class='box-left-tarjeta '>
        <div class='box-left-tarjeta-content titulol' id="get-tarjeta">
          <h1>Ven por<br />
            tu tarjeta<br />
            MYMAWI</h1>
          <br />
          <br />
          <button class='btn-design2' onclick="ObtenerTarjeta()">Saber más</button>
        </div>
      </div>
      <div class='box-rigth-tarjeta'>
        <img src="/resources/Recurso-1@2x.jpg" alt="img-tarjeta"></img>
      </div>
    </div>
  </section>

  <!-- PROMOCIONES -->

  <section style="background-color: #27314f;">
    <section class="container" id="promocion-seccion">
    </section>
  </section>


  <!-- JUEGOS -->
  <section>
    <div class="container">
      <div class="section-game">
        <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
          <h1 class="type2-h1">Juegos</h1>
        </div>
        <div class="content-games">
          <div class="games">
            <div class="game">
              <div class="game-img">
                <img src="/resources/blackjack-carrusel.jpg" />
              </div>
              <p class="type5-h1">Blackjack</p>
            </div>
            <div class="game">
              <div class="game-img">
                <img src="/resources/ruleta.jpg" />
              </div>
              <p class="type5-h1">Ruleta</p>
            </div>
            <div class="game">
              <div class="game-img">
                <img src="/resources/baccarat-carrusel.jpg" />
              </div>
              <p class="type5-h1">Baccarat</p>
            </div>
            <div class="game">
              <div class="game-img">
                <img src="/resources/IMG_4480.jpg" />
              </div>
              <p class="type5-h1">Hipódromo</p>
            </div>
            <div class="game">
              <div class="game-img">
                <img src="/resources/poker.jpg" />
              </div>
              <p class="type5-h1">Póker</p>
            </div>
            <div class="game">
              <div class="game-img">
                <img src="/resources/slots.jpg" />
              </div>
              <p class="type5-h1">Slots</p>
            </div>
          </div>
        </div>
        <br />
        <button onclick="toGames()" class="btn-design2">Saber más</button>
      </div>
    </div>
  </section>
  <script src="/components/home/home.js"></script>
</body>

</html>