<!DOCTYPE html>
<html>

<head>
  <title>Página de inicio</title>
</head>

<body>
  <section class="section-ini">
    <section id="inicio" class="slider">
      <div class="slider-wrapper" id="sliderTrack">
        <div class="slide bg1"></div>
        <div class="slide bg2"></div>
        <div class="slide bg3"></div>
      </div>

      <!-- Radios -->
      <div class="navigation">
        <input type="radio" name="slider" id="trigger1" checked>
        <label for="trigger1"></label>

        <input type="radio" name="slider" id="trigger2">
        <label for="trigger2"></label>

        <input type="radio" name="slider" id="trigger3">
        <label for="trigger3"></label>
      </div>

      <!-- Flechas -->
      <button class="arrow arrow-left" id="prevBtn">&#8249;</button>
      <button class="arrow arrow-right" id="nextBtn">&#8250;</button>
    </section>
  </section>
  <div class="background-ubicacion">
    <div class="container ocultar">
      <div style="text-align: center; 
                align-items: center;
                display: flex; 
                justify-content: center;
                padding: 20px;">
        <h1 class="type-h1">Ubicaciones</h1>
      </div>
      <div class="content-slider-ubicaciones">
        <section class="sliderubicacion">
          <div class="slider-wrapper-ubicacion" id="sliderTrackubicacion">
            <div class="slideubicacion bg1ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Barranquilla,</h1>
                  <h1 class="type2-h1">Mall plaza</h1>
                  <h1 class="type2-h1">Buenavista</h1>
                  <br />
                  <p class="type5-h1">📍 Cra 53 N0 99 - 148 Local A2073A segundo piso</p>
                  <p class="type5-h1">📞 (+57) 316 0859199</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="content-btn">
                  <a href="#barranquilla" class="btn-design2">Ver más</a>
                </div>
              </div>
            </div>
            <div class="slideubicacion bg2ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Bogotá,</h1>
                  <h1 class="type2-h1">100 con 15</h1>
                  <br />
                  <p class="type5-h1">📍 Cra 15 # 100 - 76</p>
                  <p class="type5-h1">📞 (+57) 323 453 1657</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4772047635433!2d-74.05000976723088!3d4.686819557814184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abde306ddc1%3A0xd87e4a68938251c0!2zQ3JhLiAxNSAjIDEwMC03NiwgVXNhcXXDqW4sIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses!2sco!4v1745857314522!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="content-btn">
                  <a href="#bogota" class="btn-design2">Ver más</a>
                </div>
              </div>
            </div>
            <div class="slideubicacion bg3ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Cali Sur,</h1>
                  <h1 class="type2-h1">Holguines T.C.</h1>
                  <br />
                  <p class="type5-h1">📍 Calle 100 B # 11A - 19 local # 200.</p>
                  <p class="type5-h1">📞 (+57) 317 439 1688</p>
                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.908634134753!2d-76.54216163462709!3d3.3725075423425954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a17a55c60df5%3A0xf8f1ed27d927b75c!2sCra.%20100%20%2311-60%20l%20200%2C%20Ciudad%20Jard%C3%ADn%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1745857520053!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="content-btn">
                  <a href="#calisur" class="btn-design2">Ver más</a>
                </div>
              </div>
            </div>
            <div class="slideubicacion bg4ubicacion">
              <div class="content-info">
                <div class="info-white">
                </div>
                <div class="info-ubicacion">
                  <h1 class="type2-h1">Cali Oeste,</h1>
                  <h1 class="type2-h1">Hotel</h1>
                  <h1 class="type3-h1">Intercontinental</h1>
                  <br />
                  <p class="type5-h1">📍 Av 1 oeste Nro 2-72</p>
                  <p class="type5-h1">📞 (602)28857458</p>


                </div>
                <div class="content-iframe">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="content-btn">
                  <a href="#calioeste" class="btn-design2">Ver más</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Radios -->
          <div class="navigationubicacion">
            <input type="radio" name="slider-ubicacion" id="trigger1-ubicacion" checked>
            <label for="trigger1-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger2-ubicacion">
            <label for="trigger2-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger3-ubicacion">
            <label for="trigger3-ubicacion"></label>

            <input type="radio" name="slider-ubicacion" id="trigger4-ubicacion">
            <label for="trigger4-ubicacion"></label>
          </div>

          <!-- Flechas -->
        </section>
        <div style="gap: 30px;">
          <button class="arrow-ubicacion arrow-left-ubicacion" id="prevBtn-ubicacion">&#8249;</button>
          <button class="arrow-ubicacion arrow-right-ubicacion" id="nextBtn-ubicacion">&#8250;</button>
        </div>
      </div>

    </div>
  </div>




  <!-- SUPER CASH -->
  <section id="section-cash" class="container-box">
    <div class="container">
      <div class="box-content ">
        <div style="text-align: center; align-items: center;display: flex; justify-content: center;">
          <h1 class="type-h1">Ubicaciones</h1>
        </div>
        <div class="content-card-ubicaciones">
          <div class="card2">
            <div class="card-img">
              <img src="/resources/icon-barran.jpg" />
            </div>
            <div class="card-text">
              <h1 class="type5-h1">Barranquilla</h1>
              <a href="#barranquilla">saber más</a>
            </div>
          </div>
          <div class="card2">
            <div class="card-img">
              <img src="/resources/icon-bogota.jpg" />
            </div>
            <div class="card-text">
              <h1 class="type5-h1">Bogota</h1>
              <a href="#bogota">saber más</a>
            </div>
          </div>
          <div class="card2">
            <div class="card-img">
              <img src="/resources/icon-cali.jpg" />
            </div>
            <div class="card-text">
              <h1 class="type5-h1">Cali - Oeste - H. Intercontinental</h1>
              <a href="##calioeste">saber más</a>
            </div>
          </div>
          <div class="card2">
            <div class="card-img">
              <img src="/resources/icon-cali.jpg" />
            </div>
            <div class="card-text">
              <h1 class="type5-h1">Cali</h1>
              <a href="#calisur">saber más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- TARJETA-MYMAWI -->
  <section class="container-tarjeta">
    <div class='box-container-tarjeta container'>
      <div class='box-left-tarjeta '>
        <div class='box-left-tarjeta-content titulor' id="get-tarjeta">
          <h1>Ven por<br />
            tu tarjeta<br />
            Mymawi</h1>
          <br />
          <p>Con la Mymawi card siempre ganas,<br />
            regístrate y obtén beneficios exclusivos para<br />
            que tengas una experiencia completa en<br />
            casino Marco Polo.</p>
          <br />
          <button class='btn-design1' onclick="ObtenerTarjeta()">Saber más</button>
        </div>
      </div>
      <div class='box-rigth-tarjeta'>
        <img src="/resources/Recurso-1@2x.jpg" alt="img-tarjeta"></img>
      </div>
    </div>
  </section>

  <!-- PROMOCIONES -->

  <section class="promocion-container">
    <div class="promo">
      <h1>Vive nuestras promociones</h1>
    </div>
    <section class="card-view titulo">
      <section class="card">
        <div class="card-image">
          <img src="/resources/lamparadelasuerte.png" alt="Imagen 1" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1>Lampara de la suerte</h1>
          <p>
            Descubre la magia de la Lámpara de la Suerte,
            un símbolo de fortuna que ilumina tus mejores momentos.
            Con solo un deseo y una chispa de esperanza,
            esta lámpara te conecta con la energía positiva del juego,
            atrayendo oportunidades, premios y experiencias inolvidables.
            Déjala encendida y deja que la suerte haga el resto.
          </p>
          <!-- <button class="purple-button" onclick="saberMasPromo()">Ver más</button> -->
        </div>
      </section>

      <section class="card">
        <div class="card-image">
          <img src="/resources/girodorado.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1>
            Giro dorado
          </h1>
          <p>
            Prepárate para vivir la emoción del Giro Dorado,
            donde cada vuelta puede convertir tu momento en oro.
            Esta experiencia única combina la adrenalina del juego con el brillo de la fortuna,
            ofreciéndote la posibilidad de ganar premios brillantes y momentos inolvidables.
            ¡Da el giro y deja que la suerte te sorprenda!
          </p>
          <!-- <button class="purple-button" onclick="saberMasPromo()">Ver más</button> -->
        </div>
      </section>
      <section class="card">
        <div class="card-image">
          <img src="/resources/dadospoker.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1>
            Dados de poker
          </h1>
          <p>
            Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra.
            Cada tiro es una mezcla perfecta de estrategia, azar y emoción,
            donde los números pueden llevarte directo a la victoria.
            Siente la adrenalina con cada lanzamiento y demuestra que en este juego,
            el ganador eres tú.
          </p>
        </div>
      </section>
      <div style="text-align: centers;">
        <button class="purple-button" onclick="saberMasPromo()">Saber más</button>
      </div>
    </section>
  </section>
  </div>
  <script src="/components/home/home.js"></script>
</body>

</html>