.container-clubnavegantes .section-club-start {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-clubnavegantes .section-club-start::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/resources/fondo-negro.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.container-clubnavegantes .section-club-start .content-club-start {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
}

.container-clubnavegantes .section-club-start .content-club-start p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container-clubnavegantes .section-club-start2 {
    background: linear-gradient(80deg, #1F253A, #27314F, #1F253A, #27314F, #1F253A, #27314F, #1F253A, #27314F);

}

.container-clubnavegantes .sports-club {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 221, 221);
    width: 100%;
    height: 25vh;
}

.container-clubnavegantes .sports-club .sports-club-content {
    display: flex;
    width: 100%;
}

.container-clubnavegantes .sports-club img {
    width: 20%;
    height: 20%;
}

.container-clubnavegantes .sports-club p {
    padding-left: 20px;
    margin-right: 10%;
}

/* SEGUNDA SECTION */

.section-sports-club {
    background-color: rgb(221, 221, 221);
}

.title-sports-club {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 27, 27);
    width: 100%;
    height: 40vh;
}

.info-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-box {
    flex: 1;
    color: #222;
}

.info-box h3 {
    margin-bottom: 15px;
}

.info-box p {
    margin: 5px 0;
}

.info-box a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

.info-box a:hover {
    text-decoration: underline;
}

.numeros-progresivos {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #1F253A 50%, #9B2738 50%);
    color: #1F253A;
}

.numeros-progresivos .content-progresivos {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.numeros-progresivos .content-progresivos .content-progresivos-img {
    position: absolute;
    left: 0;
    width: 50vw;
    /* mitad horizontal de la pantalla */
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.numeros-progresivos .content-progresivos .content-progresivos-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.numeros-progresivos .content-progresivos .content-progresivos-text {
    right: 0;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.numeros-progresivos .content-progresivos .content-progresivos-text button {
    transform: rotate(-6deg);
}

.excel-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    max-height: 80vh;
    overflow: auto;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


.styled-table-container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.styled-table-container th,
.styled-table-container td {
    padding: 12px 16px;
    text-align: left;
}

.styled-table-container thead {
    background: linear-gradient(to right, #6622F8, #2C16B0, #6622F8, #2C16B0, #6622F8, #2C16B0);
    /* Morado oscuro */
    color: #ffffff;
}

.styled-table-container tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
}

.styled-table-container tbody tr:hover {
    background-color: #f0e6ff;
    /* Lila claro */
}

.styled-table-container td {
    color: #333;
}




@media (max-width: 768px) {
    .container-clubnavegantes .section-club-start .content-club-start h1 {
        font-size: 40px;
    }

    .container-clubnavegantes .section-club-start .content-club-start p {
        font-size: 20px;
    }

    .container-clubnavegantes .section-club-start2 {
        /* background: linear-gradient(90deg, #2C16B0 10%, #6622F8 90%); */
    }

    .container-clubnavegantes .sports-club {
        flex-wrap: wrap;
        height: auto;

    }

    .container-clubnavegantes .sports-club img {
        width: 80%;
        padding: 20px;
    }

    .container-clubnavegantes .sports-club p {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0;
        margin-right: 0;
    }

    .container-clubnavegantes .sports-club .sports-club-content {
        display: block;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }


    /* INFORMACION */
    .info-section {
        display: flex;
        flex-wrap: wrap;
    }

    .section-sports-club {
        height: auto;
        padding: 20px;
    }

    .title-sports-club {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }

    .info-section {
        display: grid;
        height: auto;
    }

    .numeros-progresivos {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        background: linear-gradient(90deg, #1F253A 50%, #9B2738 50%);
        color: #1F253A;
    }

    .numeros-progresivos .content-progresivos {
        width: 100%;
        display: contents;
    }

    .numeros-progresivos .content-progresivos .content-progresivos-img {
        position: relative;
        width: 100%;
        height: auto;

    }

    .numeros-progresivos .content-progresivos .content-progresivos-img img {
        width: 100%;
        height: 100%;
    }

    .numeros-progresivos .content-progresivos .content-progresivos-text {
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .numeros-progresivos .content-progresivos .content-progresivos-text button {
        transform: rotate(0deg);
    }
}