<!DOCTYPE html>
<html>

<head>
    <title>Página de Casinos - Casino Marco Polo</title>
</head>

<body>
    <div class="container-clubnavegantes">
        <section class="section-club-start" id="clubnavegantes-page">
            <div class="content-club-start">
                <h1>CAERSA RICE &</h1>
                <h1>SPORTSBOOK</h1>
                <h1>AT CAERSA PALACE</h1>
                <p>Descubre las mejores promociones y ofertas exclusivas para nuestros jugadores.</p>
                <button>Vive una experiencia</button>
            </div>
        </section>
        <section>
            <div class="sports-club">
                    <img src="../../resources/Recurso-8@2x.png" />
                    <p>
                        Zarpa hacia un mundo de emoción y recompensas exclusivas. Descubre los juegos más apasionantes,
                        bonos especiales y una comunidad de navegantes como tú, listos para conquistar cada apuesta.
                        ¡Únete a la travesía ganadora!<br />
                        Aquí, la pasión por el juego se une al conocimiento estratégico. Comparte tus experiencias,
                        aprende de otros navegantes expertos y desbloquea un universo de ventajas diseñadas para llevar
                        tus apuestas al siguiente nivel. ¡Navega con nosotros hacia la victoria!
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="title-sports-club">
                    <h2>Únete a la comunidad de navegantes</h2>
                </div>
            </div>
        </section>

    </div>
</body>

</html>