<!DOCTYPE html>
<html>

<head>
    <title>Página de Casinos - Casino Marco Polo</title>
</head>

<body>
    <div class="container-clubnavegantes">
        <section class="section-club-start" id="clubnavegantes-page">
            <div class="content-club-start">
                <h1>VAMOS NAVEGANTES</h1>
                <h1>UNETE</h1>
                <h1>A MARCO POLO</h1>
                <p>Descubre las mejores promociones y ofertas exclusivas para nuestros jugadores.</p>
                <button>Vive una experiencia</button>
            </div>
        </section>
        <section>
            <div class="sports-club">
                    <img src="../../resources/Recurso-8@2x.png" />
                    <p>
                        Zarpa hacia un mundo de emoción y recompensas exclusivas. Descubre los juegos más apasionantes,
                        bonos especiales y una comunidad de navegantes como tú, listos para conquistar cada apuesta.
                        ¡Únete a la travesía ganadora!<br />
                        Aquí, la pasión por el juego se une al conocimiento estratégico. Comparte tus experiencias,
                        aprende de otros navegantes expertos y desbloquea un universo de ventajas diseñadas para llevar
                        tus apuestas al siguiente nivel. ¡Navega con nosotros hacia la victoria!
                    </p>
                </div>
            </div>
        </section>
        <section class="section-sports-club">
            <div class="title-sports-club">
                    <div class="info-section">
                        <div class="info-box">
                          <h3>SPORTS BETTING HOURS</h3>
                          <p>Monday - Thursday | 8 AM - 10 PM</p>
                          <p>Fri | 8 AM - 11 PM</p>
                          <p>Sat | 7 AM - 11 PM</p>
                          <p>Sun | 7 AM - 10 PM</p>
                        </div>
                      
                        <div class="info-box">
                          <h3>ROSES AND RACES</h3>
                          <p>On May 3, 2025, experience the most thrilling horse racing event of the year.</p>
                          <p><a href="#">Reserve Now &rsaquo;</a></p>
                        </div>
                      
                        <div class="info-box">
                          <h3>MOBILE ORDERING</h3>
                          <p>
                            Try mobile ordering and have your food delivered right to your seat in the Sportsbook, so you don’t miss out on any of the action.
                            Text <strong>FOOD</strong> to <strong>833-228-0944</strong> to view the wonderful menu and place an order.
                          </p>
                        </div>
                      </div>
                      
                </div>
            </div>
        </section>

    </div>
</body>

</html>