.container-clubnavegantes .section-club-start {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-clubnavegantes .section-club-start::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/resources/fondo-negro.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.container-clubnavegantes .section-club-start .content-club-start {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
}

.container-clubnavegantes .section-club-start .content-club-start p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container-clubnavegantes .section-club-start2 {
    background: linear-gradient(80deg, #1F253A, #27314F, #1F253A, #27314F, #1F253A, #27314F, #1F253A, #27314F);

}

.container-clubnavegantes .sports-club {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 221, 221);
    width: 100%;
    height: 25vh;
}

.container-clubnavegantes .sports-club .sports-club-content {
    display: flex;
    width: 100%;
}

.container-clubnavegantes .sports-club img {
    width: 20%;
    height: 20%;
}

.container-clubnavegantes .sports-club p {
    padding-left: 20px;
    margin-right: 10%;
}

/* SEGUNDA SECTION */

.section-sports-club {
    background-color: rgb(221, 221, 221);
}

.title-sports-club {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 27, 27);
    width: 100%;
    height: 40vh;
}

.info-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-box {
    flex: 1;
    color: #222;
}

.info-box h3 {
    color: #2b2d42;
    font-size: 1rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.info-box p {
    margin: 5px 0;
    line-height: 1.5;
    font-size: 0.95rem;
}

.info-box a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

.info-box a:hover {
    text-decoration: underline;
}


/* APUESTAS DEPORTIVAS */

.container-apuesta {
    background-color: #fff;
    padding: 40px;
}

.container-apuesta .apuesta-deportiva {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;

}

.container-apuesta .apuesta-deportiva .apuesta-left {
    flex: 1;
}

.container-apuesta .apuesta-deportiva .apuesta-left p {
    color: #27314F;
    margin-top: 10px;
}

.container-apuesta .apuesta-deportiva .apuesta-buttons {
    display: flex;
    /* Para colocar los botones uno al lado del otro */
    gap: 20px;
    /* Espacio entre los botones */
    margin-top: 20%;
}

.container-apuesta .book-now {
    background-color: #6622F8;
    /* Rojo similar al de la imagen */
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
    transition: background-color 0.3s ease;
    /* Transición suave al pasar el ratón */
}

.container-apuesta .book-now:hover {
    background-color: #2C16B0;
    /* Un tono de rojo más oscuro al pasar el ratón */
}

.container-apuesta .learn-more {
    background-color: transparent;
    /* Fondo transparente */
    color: #2C16B0;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    /* Para poder posicionar el pseudo-elemento del subrayado */
    transition: color 0.3s ease;
    /* Transición suave al pasar el ratón */
}

.container-apuesta .learn-more::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    /* Ajusta la distancia del subrayado al texto */
    width: 100%;
    height: 1px;
    background-color: #2C16B0;
    transform: scaleX(0);
    /* El subrayado inicialmente no es visible */
    transform-origin: left center;
    transition: transform 0.3s ease;
    /* Transición suave para la aparición del subrayado */
}

.container-apuesta .learn-more:hover {
    color: #6622F8;
    /* Un tono de gris al pasar el ratón */
}

.container-apuesta .learn-more:hover::after {
    transform: scaleX(1);
    /* El subrayado se expande al pasar el ratón */
}



.container-apuesta .apuesta-deportiva .apuesta-rigth {
    flex: 1;
    overflow: hidden;
}

.container-apuesta .apuesta-deportiva .apuesta-rigth img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.container-apuesta .apuesta-deportiva .apuesta-rigth img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-apuesta-sitio {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(/resources/fondo-apuestas.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.container-apuesta-sitio .apt-sitio {
    display: flex;
    justify-content: flex-end;
}

.container-apuesta-sitio .apuesta-sitio {
    width: 40%;
    height: auto;
    padding: 2%;
    background-color: rgba(20, 20, 20, 0.719);
}

.container-apuesta-sitio .apuesta-sitio h1,
.container-apuesta-sitio .apuesta-sitio p {
    color: #fff;
    padding: 10px;
}

.container-apuesta-tv {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(/resources/fondo-apuestas2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.container-apuesta-tv .apt-tv {
    display: flex;
    justify-content: flex-start;
}

.container-apuesta-tv .apuesta-tv {
    width: 40%;
    height: auto;
    padding: 2%;
    background-color: rgba(20, 20, 20, 0.719);
}

.container-apuesta-tv .apuesta-tv h1,
.container-apuesta-tv .apuesta-tv p {
    color: #fff;
    padding: 10px;
}



@media (max-width: 768px) {
    .container-clubnavegantes .section-club-start .content-club-start h1 {
        font-size: 40px;
    }

    .container-clubnavegantes .section-club-start .content-club-start p {
        font-size: 20px;
    }

    .container-clubnavegantes .section-club-start2 {
        /* background: linear-gradient(90deg, #2C16B0 10%, #6622F8 90%); */
    }

    .container-clubnavegantes .sports-club {
        flex-wrap: wrap;
        height: auto;

    }

    .container-clubnavegantes .sports-club img {
        width: 80%;
        padding: 20px;
    }

    .container-clubnavegantes .sports-club p {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0;
        margin-right: 0;
    }

    .container-clubnavegantes .sports-club .sports-club-content {
        display: block;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }


    /* INFORMACION */
    .info-section {
        display: flex;
        flex-wrap: wrap;
    }

    .section-sports-club {
        height: auto;
        padding: 20px;
    }

    .title-sports-club {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }

    .info-section {
        display: grid;
        height: auto;
    }

    /* APUESTA */
    .container-apuesta {
        padding: 0;
    }

    .container-apuesta .apuesta-deportiva {
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    /* ANUNCIO */

    .container-apuesta-sitio {
        height: auto;
        background-image: url(/resources/blanco.jpg);
    }

    .container-apuesta-sitio .apuesta-sitio {
        width: 80%;
    }

    .container-apuesta-sitio .apuesta-sitio .apuesta-sitio-img {
        background-image: url(/resources/fondo-apuestas.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 30vh;
        margin-bottom: 20px;
    }

    .container-apuesta-sitio .apuesta-sitio {
        width: 100%;
        height: auto;
        padding: 5%;
        background-color: #fff;
    }

    .container-apuesta-sitio .apuesta-sitio h1 {
        color: #2c16b0;
        font-size: 40px;
        font-weight: 900;
        line-height: 2.2rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .container-apuesta-sitio .apuesta-sitio p {
        color: #1F253A;
        text-align: center;
        margin-bottom: 10px;
    }

    .container-apuesta-tv {
        background-image: url(/resources/blanco.jpg);
        background-size: cover;
        background-position: center;
        height: auto;
        flex-direction: column;
    }

    .container-apuesta-tv .apuesta-tv-img {
        background-image: url(/resources/fondo-apuestas2.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 30vh;
        margin-bottom: 20px;
    }

    .container-apuesta-tv .apuesta-tv {
        width: 100%;
        height: auto;
        padding: 5%;
        background-color: #fff;
    }

    .container-apuesta-tv .apuesta-tv h1 {
        color: #2c16b0;
        font-size: 40px;
        font-weight: 900;
        line-height: 2.2rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .container-apuesta-tv .apuesta-tv p {
        text-align: center;
        margin-bottom: 10px;
        color: #1F253A;
    }

}