.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
}

.content h1 {
  color: white;
  text-shadow: 0 0 10px #fff;
}

.container-marcopolovip {
  height: 100vh;
  background-image: url(/resources/cancheroVIP.png);
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el espacio */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.content-marcopolovip {
  text-align: center;

}

.content-marcopolovip h1 {
  color: #F6921E;
  text-shadow: 0 0 10px #F6921E;
}

.section-vip2 {
  background: linear-gradient(180deg, #27314F 30%, #CE2441 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-vip3 {
  background: #1E63D3;
}

.section-vip3 .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.section-vip3 .box-left-vip {
  flex: 0.5;
}

.section-vip3 .box-left-vip .box-left-vip-content{
  padding: 20%;
}

.section-vip3 .box-rigth-vip {
  flex: 0.5;
}

.section-vip3 .box-rigth-vip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content-section {
    background: linear-gradient(180deg, #CE2441 10%, #27314F 50%);
}

.container-marco .section-benefit {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.container-marco .section-benefit h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #2c16b0;
  font-size: 40px;
  font-weight: 900;
  line-height: 2.2rem;
}

.container-marco .section-level {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.container-marco .section-level h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #2c16b0;
  font-size: 40px;
  font-weight: 900;
  line-height: 2.2rem;
}


.container-marco .benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.container-marco .benefit {
  flex: 1 1 250px;
  background: linear-gradient(145deg, #222, #111);
  color: white;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.container-marco .benefit:hover {
  transform: translateY(-10px);
  border-color: #6622F8;
}

.container-marco .benefit h3 {
  color: #fff;
  margin-bottom: 15px;
}

.container-marco .levels {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.container-marco .level-card {
  flex: 1 1 280px;
  background: linear-gradient(145deg, #222, #111);
  border-radius: 15px;
  padding: 30px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
  border: 1px solid #444;
}

.container-marco .level-card.gold {
  border-color: #6622F8;
}

.container-marco .level-card.platinum {
  border-color: #e5e4e2;
}

.container-marco .level-card.diamond {
  border-color: #b9f2ff;
}

.container-marco .level-card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.container-marco .level-card p {
  font-size: 0.95rem;
}

.container-marco .cta {
  text-align: center;
  margin-top: 60px;
}

.vip-cta {
  background-color: #27314F;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.vip-cta h2 {
  margin: 10px;
}

.split-section {
  background: linear-gradient(90deg, #27314F 50%, #ececec 50%);

}

.split-section .split-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}

.split-section .split-left,
.split-right {
  flex: 1 1 50%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
  transition: color 0.3s ease;
}

.split-section .split-left {
  /* Fondo oscuro */
}

.split-section .split-right {
  /* Fondo claro */
}

.split-section .split-right h2,
.split-right p {
  color: #1f253a;
}

.split-section .split-left h2,
.split-left p {
  color: white;
}

.dealers-help {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  color: #1f253a;
  padding: 40px;
}


.dealers-help h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.dealers-help p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}



@media (max-width: 768px) {
  .container-marco .section h2 {
    font-size: 2rem;
  }

  .split-section {
    flex-direction: column;
  }

  .dealers-help {
    padding: 5%;
  }
}