<!DOCTYPE html>
<html>

<head>
    <title>MARCO-POLO-VIP</title>
</head>

<body>
    <div class="container-marco">
        <section class="container-marcopolovip">
            <div class="content-marcopolovip">
                <!-- <h1>SACA TÚ JUGADOR VIP INTERIOR</h1> -->
            </div>
        </section>
        <div class="content-section">
            <section class="section-benefit">
                <h2 class="titulor">Beneficios Exclusivos</h2>
                <div class="benefits">
                    <div class="benefit">
                        <h3>Eventos Privados</h3>
                        <p>Invitaciones a fiestas, cenas de lujo y torneos VIP solo para miembros.</p>
                    </div>
                    <div class="benefit">
                        <h3>Bonos Personalizados</h3>
                        <p>Obtén recompensas adaptadas a tu perfil y hábitos de juego.</p>
                    </div>
                    <div class="benefit">
                        <h3>Soporte Preferencial</h3>
                        <p>Atención 24/7 dedicada exclusivamente a nuestros miembros VIP.</p>
                    </div>
                </div>
            </section>

            <section class="section-level">
                <h2 class="titulol">Niveles VIP</h2>
                <div class="levels">
                    <div class="level-card gold">
                        <h3>Oro</h3>
                        <p>Acceso básico al club VIP. Ideal para nuevos miembros que quieren comenzar su travesía
                            premium.
                        </p>
                    </div>
                    <div class="level-card platinum">
                        <h3>Platino</h3>
                        <p>Bonificaciones mayores, regalos mensuales y atención prioritaria.</p>
                    </div>
                    <div class="level-card diamond">
                        <h3>Diamante</h3>
                        <p>Todo incluido: experiencias de lujo, viajes, y un concierge VIP dedicado.</p>
                    </div>
                </div>
            </section>
            <section class="vip-cta">
                <h2>¿Estás listo para entrar al círculo de marcopolo?</h2>
                <button>Registrate</button>
              </section>
            <!-- <div class="cta">
                <button>Únete al Club VIP</button>
            </div> -->
        </div>

    </div>

</body>

</html>