<!DOCTYPE html>
<html>

<head>
    <title>Ubicacion cali</title>
</head>

<body>
    <section class="fondo-ubicacionciudad">
        <div class="container">
          <h2 style="color: #27314F;text-align: center;" class="type-h1 item">Ubicaciones en la capital del valle</h2>
<br/>
            <div class="content-card-ubicacion">
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img"><img class="item" src="/resources/marcopoloHolguines.jpg"
                            alt="marcopoloBarranquilla">
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Cali Sur</h3>
                        <p>Al Sur de la sultana del Valle, en Holguines Trade Center se estrena el más
                        reciente Marco Polo.</p>
                        <small>Calle 100 B #11A-19 local #200</small>
                        <small>(+57) 317-810-5045</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#calisur">Saber más</a>
                        </div>

                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img"><img src="/resources/marcopoloLocalInter-2.png"
                            alt="marcopoloBarranquilla">
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Cali Oeste</h3>
                        <p>En las entrañas del afamado Hotel InterContinental de Cali se encuentra
                        Marco
                        Polo Inter, nuestro primer Marco Polo.</p>
                        <small>Av 1 Oeste #2-72</small>
                        <small>(+57) 315-564-9496</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#calioeste">Saber más</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="card-ubicacion">
            <div class="card-ubicacion-img"><img src="/resources/marcopoloLocalInter-2.png" alt="marcopoloBarranquilla">
            </div>
            <div class="card-ubicacion-text">
              <h3 class="type2-h1">Sede Cali Oeste</h3>
              <p>En las entrañas del afamado Hotel InterContinental de Cali se encuentra Marco
                Polo Inter, nuestro primer Marco Polo.</p>
              <small>Av 1 Oeste #2-72</small>
              <small>(602)28857458</small>
              <div class="content-a-card">
                <a class="btn-design1" href="#calioeste">Saber más</a>
              </div>
            </div>
          </div> -->
        </div>
        </div>
    </section>
</body>

</html>