.fondo-ubicacionciudad {
  /* background-color: rgb(226, 226, 226); */
  background-image: url(/resources/fondo-mapa.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}


.content-card-ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

.card-ubicacion {
  width: 400px;
  height: 430px;
  overflow: hidden;
  border-radius: 8px;
}

.card-ubicacion-img {
  width: 100%;
  height: 50%;
}

.card-ubicacion-img img {
  width: 100%;
  height: 100%;
}

.card-ubicacion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 50%;
  background-color: #fff;
  overflow: hidden;
}

.card-ubicacion-text h3 {
  color: #27314F;
  align-items: center;
}

.card-ubicacion-text p {
  color: #27314F;
  font-size: 1.6rem;
}

.card-ubicacion-text small {
  color: gray;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.content-a-card {
  display: flex;
  justify-content: flex-end;
}

@media (max-width:768px) {
  .fondo-ubicacionciudad {
    height: auto;
  }
}