<footer class="footer">
    <section class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#inicio" data-target="/components/home/index.html">
                    <img class="logo_footer" title="MarcoPolo" src="/resources/marcopolo.png" alt="logo" />
                </a>
                <br />
                <div class="content-logos-legales">
                    <div title="Vigilado Supersalud" class="content-logos-legales-img"><a target="_blank"
                            href="https://www.supersalud.gov.co/es-co/Paginas/Home.aspx"><img
                                src="/resources/Recurso-10.png" alt="marcopolo"></a></div>
                    <div title="Coljuegos" class="content-logos-legales-img"><a target="_blank"
                            href="https://www.coljuegos.gov.co/"> <img src="/resources/Recurso-12.png"
                                alt="marcopolo"></a></div>
                </div>
                <div class="content_icono_abierto">
                    <a title="Política de tratamiento de datos" href="#politicadatos">Política de
                        tratamiento de datos<img class="icono_abierto" src="/resources/abierto_blanco.png"
                            alt="MarcoPolo"></a>
                    <a title="MarcoPolo" href="#nosotros">Nosotros <img class="icono_abierto"
                            src="/resources/abierto_blanco.png" alt="MarcoPolo"></a>

                </div>
            </div>
            <div title="Social Media" class="footer-logo">
                <p>SÍGUENOS</p>
                <br />
                <div class="icons">
                    <a href="https://www.instagram.com/marcopolo.casino/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@MarcoPolo.Casino" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-logo-responsable">
                <div title="Juegos Responsable" class="footer-logo-responsable-info">
                    <div>
                        <a href="#juegosresponsable">
                            <img style="width: 120px;" src="/resources/Logo-Bien-Jugado-Aladdin.png" alt="logo" />
                        </a>
                    </div>
                    <div>
                        <small>
                            Fox Gaming S.A.S y Aladdin Hotel & Casino S.A.S son empresas que apoyan el juego
                            responsable, por lo
                            tanto no se promocionan para menores de 18 años. Si aún no tiene la mayoría de edad, por
                            favor no
                            ingrese a nuestros casinos y sitio web.
                        </small>
                    </div>
                    <div class="content_icono_abierto">
                        <a title="Juego Responsable" target="_blank" href="#juegosresponsable">Conocer Sitio <img
                                class="icono_abierto" src="/resources/abierto_blanco.png" alt="MarcoPolo"></a>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="footer-bottom">
            <p>TODOS LOS DERECHOS RESERVADOS <span id="fecha_site_mp"></span> - HECHO CON TODO <img src="/resources/corazon-blanco.png"
                    alt="marcopolo"> DE PARTE DEL EQUIPO DE COMUNICACIONES.</p>

        </div>
    </section>
    <script src="/components/footer/footer.js"></script>
</footer>