<footer class="footer">
    <section class="container">
        <div class="footer-subscriber">
            <label>Suscríbete y recibe nuestras noticias</label>
            <!-- <form> -->
            <div class="footer-subscriber-email">
                <input type="email" id="email-footer" placeholder="" required />
                <button type="button" class="boton-suscribete" onclick="footerRegister()">Suscríbete</button>
            </div>
            <!-- </form> -->
        </div>

        <div class="footer-content">
            <div class="footer-logo">
                <a href="#home"  data-target="/components/home/index.html">
                    <img src="/resources/marcopolo.png" alt="logo" />
                </a>
                <br />
                <label>Cali, Bogotá, Barranquilla</label>
                <label>contacto@marcopolo.com</label>
            </div>

            <div class="footer-section">
                <ul>
                </ul>
            </div>

            <div class="footer-section">
                <ul>
                    <li><a href="#nosotros"  data-target="/components/home/index.html">Nosotros</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <ul>
                </ul>
            </div>
        </div>

        <div class="footer-logos-legales">
            <div><img src="/resources/Recurso-10.png" alt="logo vigilado" /></div>
            <div><img src="/resources/Recurso-11.png" alt="logo aladdin" /></div>
            <div><img src="/resources/Recurso-12.png" alt="logo coljuegos" /></div>
        </div>

        <div class="footer-bottom">
            <p>TODOS LOS DERECHOS RESERVADOS 2025.</p>
        </div>
    </section>
    <script src="/components/footer/footer.js"></script>
</footer>