<footer class="footer">
    <section class="container">
        <div class="footer-subscriber">
            <!-- <label>Suscríbete y recibe nuestras noticias</label> -->
            <!-- <div class="footer-subscriber-email">
                <input type="email" id="email-footer" placeholder="" required />
                <button type="button" class="boton-suscribete" onclick="footerRegister()">Suscríbete</button>
            </div> -->
            <div class="social-container">
    <p>SÍGUENOS</p>
    <div class="icons">
      <!-- <a href="https://www.facebook.com/ViveAladdin" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
      <a href="https://www.instagram.com/marcopolo.casino/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/c/ViveAladdin" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
        </div>

        <div class="footer-content">
            <div class="footer-logo">
                <a href="#inicio" data-target="/components/home/index.html">
                    <img src="/resources/marcopolo.png" alt="logo" />
                </a>
                <br />
            </div>
            <div class="footer-section">
                <ul>
                    <li><a href="#nosotros" data-target="/components/home/index.html">Nosotros</a></li>
                    <li>Cali, Bogotá, Barranquilla</li>
                </ul>
            </div>
        </div>

        <div class="footer-logos-legales">
            <div class="img-legal"><img src="/resources/Recurso-10.png" alt="logo vigilado" /></div>
            <div>
                <div class="footer-logo-responsable">
                    <a href="#juegosresponsable">
                        <img src="/resources/Logo-Bien-Jugado-Aladdin.png" alt="logo" />
                    </a>
                    <small>
                        Aladdin Hotel & Casino S.A.S es una empresa que apoya el juego responsable, por lo tanto no se
                        promociona para menores de 18 años. Si aún no tiene la mayoría de edad, por favor no ingrese a
                        nuestros casinos y sitio web.
                    </small>
                    <br />
                </div>
            </div>
            <div class="img-legal"><img src="/resources/Recurso-12.png" alt="logo coljuegos" /></div>
        </div>

        <div class="footer-bottom">
            <p>TODOS LOS DERECHOS RESERVADOS 2025.</p>
        </div>
    </section>
    <script src="/components/footer/footer.js"></script>
</footer>