<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="container-vidanocturna">
        <section class="container-vida-nocturna">
            <h1>Maneja tu vida nocturna con MARCOPOLO</h1>
        </section>

        <section class="section">
            <h2>Vibra Nocturna MARCOPOLO</h2>
            <div class="features">
              <div class="feature">
                <h3>Juegos Exclusivos</h3>
                <p>Salas privadas con ruletas, blackjack, póker y tragamonedas solo para miembros nocturnos VIP.</p>
              </div>
              <div class="feature">
                <h3>Ambiente Musical</h3>
                <p>Musica en vivó, cócteles especiales y la mejor mezcla de fiesta y emoción en la ciudad.</p>
              </div>
              <div class="feature">
                <h3>Acceso Prioritario</h3>
                <p>Evita filas y accede directamente al corazón del entretenimiento premium nocturno.</p>
              </div>
            </div>
        
            <div class="cta">
              <button>Quiero Mi Pase Nocturno</button>
            </div>
          </section>
    </div>
</body>

</html>