<h1 style="text-align: center;" class="type-h1">Te invitamos a conocer nuestros casinos</h1>
<div class="slider-container">
    <div title="Ubicaciones" class="slider-track" id="sliderTrack">
        <!-- <div id="toBarranUbi" class="slide">
            <img src="/resources/marcopoloBarranquilla-2.png" alt="Ruleta Digital" />
            <p>Barranquilla, Mallplaza Buenavista</p>
        </div> -->
        <div id="toBogotaUbi" class="slide">
            <img src="/resources/marcopoloBogota-2.png" alt="Ruleta" />
            <p>Bogotá</p>
        </div>
        <div id="toCaliSUbi" class="slide">
            <img src="/resources/marcopoloHolguines.jpg" alt="Máquinas" />
            <p>Cali Sur, Holguines T.C.</p>
        </div>
        <div id="toCaliIUbi" class="slide">
            <img src="/resources/marcopoloLocalInter-2.png" alt="Extra" />
            <p>Cali Oeste, Hotel interContinental</p>   
        </div>
    </div>
    
    <div class="dots" id="dotsContainer"></div>
    <button style="display: none;" id="btn-prev" class="arrowu left">⫷</button>
    <button style="display: none;" id="btn-next" class="arrowu right">⫸</button>
</div>