
  .slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
  border-radius: 12px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.3333%;
  height: 220px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #27314F;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.arrowu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #27314F;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.arrowu.left {
  left: 0;
}

.arrowu.right {
  right: 0;
}

.dots {
  text-align: center;
  margin-top: 15px;
}

.dots button {
  border: none;
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  pointer-events: none;
}

.dots .active {
  background-color: #fff;
}

/* Responsive */
@media (max-width: 1024px) {
  .slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .slide {
    flex: 0 0 100%;
  }
}