.slots {
  background-image: url(/resources/background-blackjack-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
}

.slot-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(35deg, #27314F, #1F253A, #27314F, #1F253A, #27314F, #1F253A, #27314F, #1F253A);
  width: 600px;
  padding: 15px;
  border-radius: 22px;
  border: hwb(58 18% 70%) solid 10px;
  box-shadow: 0 0 20px #efb810;
  text-align: center;
  transition: animation 2s ease;
  animation: sombra-animada 2s infinite;
  gap: 5px;
}


@keyframes sombra-animada {
  0% {
    box-shadow: 0 0 20px #efb810;
  }

  5% {
    box-shadow: 0 0 18px #efb810;
  }

  10% {
    box-shadow: 0 0 16px #efb810;
  }

  15% {
    box-shadow: 0 0 14px #efb810;
  }

  20% {
    box-shadow: 0 0 12px #efb810;
  }

  25% {
    box-shadow: 0 0 10px #efb810;
  }

  30% {
    box-shadow: 0 0 12px #efb810;
  }

  35% {
    box-shadow: 0 0 14px #efb810;
  }

  40% {
    box-shadow: 0 0 16px #efb810;
  }

  45% {
    box-shadow: 0 0 18px #efb810;
  }

  50% {
    box-shadow: 0 0 20px #efb810;
  }

  55% {
    box-shadow: 0 0 18px #efb810;
  }

  60% {
    box-shadow: 0 0 16px #efb810;
  }

  65% {
    box-shadow: 0 0 14px #efb810;
  }

  70% {
    box-shadow: 0 0 12px #efb810;
  }

  75% {
    box-shadow: 0 0 10px #efb810;
  }

  80% {
    box-shadow: 0 0 12px #efb810;
  }

  85% {
    box-shadow: 0 0 14px #efb810;
  }

  90% {
    box-shadow: 0 0 16px #efb810;
  }

  95% {
    box-shadow: 0 0 18px #efb810;
  }

  100% {
    box-shadow: 0 0 20px #efb810;
  }
}

.slot-img {
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
}

.slot-container img {
  border-radius: 20px;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.reels {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.reel {
  width: 400px;
  height: 200px;
  overflow: hidden;
  background: white;
  border: 2px solid #efb810;
  border-radius: 8px;
  position: relative;
}

.reel img {
  width: 400px;
  height: 200px;
  display: block;
  object-fit: contain;
}

.spin-track {
  position: absolute;
  top: 0;
  width: 100%;
  animation: spinAnim 1s ease-out forwards;
}

@keyframes spinAnim {
  0% {
    top: 0;
  }

  100% {
    top: -650px;
  }

}

.divider-actions {
  width: 100%;
  height: 10px;
  background: linear-gradient(35deg, #000, #444444, #000, #444444);
  margin-bottom: 20px;
  border-radius: 20px;
}

.content-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 10px;
}

.bloque-lateral {
  width: 80px;
  height: 105px;
  background: linear-gradient(35deg, red, rgb(134, 39, 39), red, rgb(134, 39, 39));
  border-radius: 20px;
  box-shadow: 0 0 10px #e0d24f;
}

.btn-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(35deg, green, rgb(40, 177, 63), green, rgb(40, 177, 63));
  height: 90px;
  border-radius: 20px;
}

.message {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {

  .slots {
    background-image: url(/resources/background-blackjack-mobile-home.png);
    width: 100%;
  }

  .slot-container {
    width: 100%;
  }

  .spin-track {
    position: absolute;
    top: 0;
    width: 100%;
    animation: spinAnim 1s ease-out forwards;
  }

  @keyframes spinAnim {
    0% {
      top: 0;
    }

    100% {
      top: -350px;
    }

  }

  .reel {
    height: 80px;
  }

}

@media (max-width: 429px) {
  .spin-track {
    animation: spinAnim 1s ease-out forwards;
  }

  @keyframes spinAnim {
    0% {
      top: 0;
    }

    100% {
      top: -320px;
    }

  }

}

@media (max-width: 380px) {
  .spin-track {
    animation: spinAnim 1s ease-out forwards;
  }

  @keyframes spinAnim {
    0% {
      top: 0;
    }

    100% {
      top: -270px;
    }

  }

}