<!DOCTYPE html>
<html>

<head>
    <title>Casino de Barranquilla</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <section class="sliderbarranquilla">
                        <div class="slider-wrapperbarranquilla" id="sliderTrackbarranquilla">
                            <div class="slidebarranquilla bg1barranquilla"></div>
                            <div class="slidebarranquilla bg2barranquilla"></div>
                            <div class="slidebarranquilla bg3barranquilla"></div>
                        </div>
                        <div style="display: none;" class="slider-controlsbarranquilla">
                            <input type="radio" name="slider-radio-barranquilla" id="trigger1barranquilla" checked>
                            <label for="trigger1barranquilla"></label>
                            <input type="radio" name="slider-radio-barranquilla" id="trigger2barranquilla">
                            <label for="trigger2barranquilla"></label>
                            <input type="radio" name="slider-radio-barranquilla" id="trigger3barranquilla">
                            <label for="trigger3barranquilla"></label>
                        </div>
                        <div style="display: none;" class="content-flechabarranquilla">
                            <button class="arrowhbarranquilla arrowh-leftbarranquilla"
                                id="prevBtnhbarranquilla">&#8249;</button>
                            <button class="arrowhbarranquilla arrowh-rightbarranquilla"
                                id="nextBtnhbarranquilla">&#8250;</button>
                        </div>
                    </section>
                </div>
                <div class="content-casin-text">
                    <!-- <img src="/resources/logocasino.png" /> -->
                    <div class="container">
                        <div class="content-casin-text-content">
                            <h2>MarcoPolo Mallplaza</h2>
                            <br />
                            <h2>Barranquilla</h2>
                            <br />
                            <br />
                            <div class="content-casin-text-desc">
                                <p class="item type5-h1">En la arenosa con Marco Polo es que se goza, ubicado en
                                    Mallplaza
                                    Buenavista,
                                    este Marco Polo ofrece un espacio discreto pero elegante, es el más pequeño de la
                                    familia
                                    pero
                                    tiene ese toque de elegancia y esa frescura que busca el barranquillero “que no goza
                                    arrebatado”.</p>

                                <p class="item type5-h1"> Su ambiente fresco y familiar y sus espacios amplios se
                                    complementan
                                    con el
                                    esmerado servicio de nuestro personal siempre atento a satisfacer las expectativas
                                    de
                                    nuestros
                                    visitantes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-collage">
                    <img src="/resources/IMG_4262.jpg" alt="marcopolo">
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">


                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M192 0C86 0 0 86 0 192c0 77.4 108.9 233.5 168.6 313.7a24 24 0 0 0 38.8 0C275.1 425.5 384 269.4 384 192 384 86 298 0 192 0zm0 272a80 80 0 1 1 0-160 80 80 0 0 1 0 160z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Barranquilla</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M3 22V2h18v20H3zm16-2V4H5v16h14zM7 20h2v-2H7v2zm0-4h2v-2H7v2zm0-4h2v-2H7v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Mallplaza Buenavista</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 384 512">
                            <path
                                d="M168 0C75.1 0 0 75.1 0 168c0 88.4 120.1 240.4 168 312 47.9-71.6 168-223.6 168-312C336 75.1 260.9 0 168 0zm0 256a88 88 0 1 1 0-176 88 88 0 0 1 0 176z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Cra 53 #99-148 Local A2073A piso 2</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M6.62 10.79a15.053 15.053 0 0 0 6.59 6.59l2.2-2.2a1.004 1.004 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3 5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.58.11.33.03.7-.24.97l-2.2 2.24z" />
                        </svg>

                        <br />

                        <h2 style="color: white;">(+57) 316-085-9199</h2>
                    </div>


                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="background-ubicacion-juegos">
            <section id="juegos-view"></section>
            <section class="container">
                <div class="section-ubi">
                    <div class="titulo content-ubi">
                        <a href="#bogota">
                            <img src="/resources/marcopoloBogota.png" alt="mp">
                            <p>Bogotá</p>
                        </a>
                    </div>
                    <div class="titulo content-ubi">
                        <a href="#calisur">
                            <img src="/resources/marcopoloHolguines.jpg" alt="mp">
                            <p>Cali Sur, <br />Holguines T.C.</p>
                        </a>
                    </div>
                    <div class="titulo content-ubi">
                        <a href="#calioeste">
                            <img src="/resources/marcopoloLocalInter.png" alt="mp">
                            <p>Cali Oeste,<br /> Hotel InterContinental</p>
                        </a>
                    </div>
                </div>
                <div style="text-align: center;padding: 20px 0;">
                    <a class="btn-design2" href="#inicio?id=ubicaciones">Volver a ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>