<!DOCTYPE html>
<html>

<head>
    <title>Casino de Bogotá</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <section class="sliderbogota">
                        <div class="slider-wrapperbogota" id="sliderTrackbogota">
                            <div class="slidebogota bg1bogota"></div>
                            <div class="slidebogota bg2bogota"></div>
                            <div class="slidebogota bg3bogota"></div>
                        </div>
                        <div style="display: none;" class="slider-controlsbogota">
                            <input type="radio" name="slider-radio-bogota" id="trigger1bogota" checked>
                            <label for="trigger1bogota"></label>
                            <input type="radio" name="slider-radio-bogota" id="trigger2bogota">
                            <label for="trigger2bogota"></label>
                            <input type="radio" name="slider-radio-bogota" id="trigger3bogota">
                            <label for="trigger3bogota"></label>
                        </div>
                        <div style="display: none;" class="content-flechabogota">
                            <button class="arrowhbogota arrowh-leftbogota" id="prevBtnhbogota">&#8249;</button>
                            <button class="arrowhbogota arrowh-rightbogota" id="nextBtnhbogota">&#8250;</button>
                        </div>
                    </section>
                </div>
                <div class="content-casin-text">
                    <!-- <img src="/resources/logocasino.png" /> -->
                    <div class="container">
                        <div class="content-casin-text-content">
                            <h2>MarcoPolo 100</h2>
                            <br />
                            <h2>Bogota</h2>
                            <br />
                            <div class="content-casin-text-desc">
                                <p class="item type5-h1">En una de las zonas más exclusivas de la capital colombiana se
                                    levanta
                                    imponente
                                    Marco Polo 100,
                                    con amplio parqueadero privado, dos rutas de acceso y una oferta completa de mesas
                                    y máquinas.</p>
                                <p class="item type5-h1">Marco Polo 100 se caracteriza por la elegancia de sus espacios
                                    y
                                    ese aire de exclusividad a la altura de Bogotá, 2.600 metros más cerca de las
                                    estrellas
                                    y casi tres mil metros cuadrados al servicio de nuestros clientes.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="content-collage">
                    <img src="/resources/interior_marcopolo_bogota.jpeg" alt="marcopolo">
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M3 22V2h18v20H3zm16-2V4H5v16h14zM7 20h2v-2H7v2zm0-4h2v-2H7v2zm0-4h2v-2H7v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Bogotá</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 384 512">
                            <path
                                d="M168 0C75.1 0 0 75.1 0 168c0 88.4 120.1 240.4 168 312 47.9-71.6 168-223.6 168-312C336 75.1 260.9 0 168 0zm0 256a88 88 0 1 1 0-176 88 88 0 0 1 0 176z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Cra 15 #100-76</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M6.62 10.79a15.053 15.053 0 0 0 6.59 6.59l2.2-2.2a1.004 1.004 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3 5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.58.11.33.03.7-.24.97l-2.2 2.24z" />
                        </svg>

                        <br />

                        <h2 style="color: white;">(+57) 318-338-4656</h2>
                    </div>

                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4772047635433!2d-74.05000976723088!3d4.686819557814184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abde306ddc1%3A0xd87e4a68938251c0!2zQ3JhLiAxNSAjIDEwMC03NiwgVXNhcXXDqW4sIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses!2sco!4v1745857314522!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="background-ubicacion-juegos">
            <section id="juegos-view-2"></section>
            <section class="container">
                <div class="section-ubi">
                    <!-- <div class="titulo content-ubi">
                        <a href="#barranquilla">
                            <img src="/resources/marcopoloBarranquilla.png" alt="">
                            <p>Barranquilla,<br /> Mallplaza Buenavista</p>
                        </a>
                    </div> -->
                    <div class="titulo content-ubi">
                        <a href="#calisur">
                            <img src="/resources/marcopoloHolguines.jpg" alt="">
                            <p>Cali Sur, <br />Holguines T.C.</p>
                        </a>
                    </div>
                    <div class="titulo content-ubi">
                        <a href="#calioeste">
                            <img src="/resources/marcopoloLocalInter.png" alt="">
                            <p>Cali Oeste, <br />Hotel InterContinental</p>
                        </a>
                    </div>
                </div>
                <div style="text-align: center;padding: 20px 0;">
                    <a class="btn-design2" href="#inicio?id=ubicaciones">Volver a ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>