<!DOCTYPE html>
<html>

<head>
    <title>Casino de Bogotá</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <img src="/resources/marcopoloBogota.png" />
                </div>
                <div class="content-casin-text">
                    <img src="/resources/logocasino.png" />
                    <h1 class="type3-h1">Bogotá</h1>
                    <br />
                    <p class="type5-h1">En una de las zonas más exclusivas de la capital colombiana se levanta imponente Marco Polo 100,
                        con amplio parqueadero privado, dos rutas de acceso y una oferta completa de mesas
                        y máquinas. Marco Polo 100 se caracteriza por la elegancia de sus espacios y
                        ese aire de exclusividad a la altura de Bogotá, 2.600 metros más cerca de las estrellas
                        y casi tres mil metros cuadrados al servicio de nuestros clientes.</p>
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <h2 style="color: white;">Bogotá</h2>
                    <h2 class="type3-h1">100 con 15</h2>
                    <h2 style="color: white;">📍 Cra 15 # 100 - 76</h2>
                    <h2 style="color: white;">📞(+57) 323 453 1657</h2>
                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.4772047635433!2d-74.05000976723088!3d4.686819557814184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abde306ddc1%3A0xd87e4a68938251c0!2zQ3JhLiAxNSAjIDEwMC03NiwgVXNhcXXDqW4sIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses!2sco!4v1745857314522!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="carousel-track" id="carouselTrack">
                <div class="content-track">
                    <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                </div>
                <div>
                    <img src="/resources/ruleta.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="section-slider-casinos">
                <br />
                <div class="slider-container">
                    <div class="slider-track" id="sliderTrack">
                        <div class="slide">
                            <div class="card">
                                <a href="#calioeste">
                                    <img src="/resources/marcopoloLocalInter.png" alt="">
                                    <p>Cali Oeste, Hotel Intercontinental</p>
                                </a>
                            </div>
                             <div class="card">
                                <a href="#barranquilla">
                                    <img src="/resources/marcopoloBarranquilla.png" alt="">
                                    <p>Barranquilla</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#calisur">
                                    <img src="/resources/marcopoloHolguines.png" alt="">
                                    <p>Cali Sur, Holguines T.C.</p>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </section>
    </section>
</body>

</html>