<!DOCTYPE html>
<html>

<head>
    <title>Casino de barranquilla</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <img src="/resources/marcopoloLocalInter.png" />
                </div>
                <div class="content-casin-text">
                    <img src="/resources/logocasino.png" />
                    <h1 class="type3-h1">InterContinental</h1>
                    <br />
                    <p class="type5-h1">En las entrañas del afamado Hotel InterContinental de Cali se encuentra Marco
                        Polo Inter, nuestro primer Marco Polo, tres pisos dedicados al entretenimiento y la diversión de
                        los caleños y turistas de gusto refinado, con acceso desde la calle o desde el hotel, nuestros
                        visitantes encontrarán espacios llenos de luces y colores producidos por nuestras máquinas que
                        contrastan con la elegancia y el confort del diseño interior al mejor estilo Marco Polo.</p>
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <h2 class="type3-h1">Cali Oeste</h2>
                    <h2 style="color: white;">Hotel - InterContinental</h2>
                    <h2 style="color: white;">📍 Av 1 oeste Nro 2-72</h2>
                    <h2 style="color: white;">📞 (602)28857458</h2>
                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7374.755703711711!2d-76.54228379878462!3d3.449849330955724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a7484d6175b5%3A0xb788380f5b914c0d!2sCasino%20Marco%20Polo!5e0!3m2!1sen!2sco!4v1750865895841!5m2!1sen!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <section id="toPromo" class="container navigation-ubicacionesU">
            <div class="carousel-infiniteU">
                <h1 style="text-align: center;" class="type2-h1">Entretenimiento y Servicios:</h1>
                <br />
                <div id="toCasinos" class="carousel-trackU">
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>

                    <!-- Duplicado para animación infinita -->
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="section-ubi">
                <div class="content-ubi">
                    <a href="#barranquilla">
                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                        <p>Barranquilla, Mallplaza Buenavista</p>
                    </a>
                </div>
                <div class="content-ubi">
                    <a href="#calisur">
                        <img src="/resources/marcopoloHolguines.jpg" alt="">
                        <p>Cali Sur, Holguines T.C.</p>
                    </a>
                </div>
                <div class="content-ubi">
                    <a href="#bogota">
                        <img src="/resources/marcopoloBogota.png" alt="">
                        <p>Bogotá</p>
                    </a>
                </div>
            </div>
        </section>
    </section>
</body>

</html>