<!DOCTYPE html>
<html>

<head>
    <title>Casino de barranquilla</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <img src="/resources/marcopoloLocalInter.png" />
                </div>
                <div class="content-casin-text">
                    <img src="/resources/mpIntercontinentalPuerta.png" />
                    <p class="type5-h1">En las entrañas del afamado Hotel Intercontinental de Cali se encuentra Marco Polo 15,
                        nuestro primer Marco Polo, tres pisos dedicados al entretenimiento y
                        la diversión de los caleños y turistas de gusto refinado,
                        con acceso desde la calle o desde el hotel,
                        nuestros visitantes encontrarán espacios llenos de luces y
                        colores producidos por nuestras máquinas que contrastan con la elegancia y
                        el confort del diseño interior al mejor estilo Marco Polo.</p>
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <h2 style="color: white;">Cali Oeste</h2>
                    <h2 class="type3-h1">Hotel</h2>
                    <h2 class="type3-h1">Intercontinental</h2>
                    <h2 style="color: white;">📍 Av 1 oeste Nro 2-72</h2>
                    <h2 style="color: white;">📞 (602)28857458</h2>
                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3166765853266!2d-74.8296131091053!3d11.014849932201688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42c4cd175908d%3A0x9b9bfcb63575d493!2sCentro%20Comercial%20Mallplaza%20Buenavista!5e0!3m2!1ses!2sco!4v1745857050019!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="carousel-track" id="carouselTrack">
                <div class="content-track">
                    <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                </div>
                <div>
                    <img src="/resources/ruleta.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
                <div>
                    <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                </div>
                <div>
                    <img src="/resources/slots.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                </div>
                <div>
                    <img src="/resources/poker.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                </div>
                <div>
                    <img src="/resources/hipodromo.jpg" alt="1" />
                    <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="section-slider-casinos">
                <br />
                <div class="slider-container">
                    <button class="slider-nav left" id="btn-prev">&#10094;</button>
                    <div class="slider-track" id="sliderTrack">
                        <div class="slide">
                            <div class="card">
                                <a href="#barranquilla">

                                    <img src="/resources/marcopoloBarranquilla.png" alt="">
                                    <p>Barranquilla, Mall plaza Buenavista</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#calisur">

                                    <img src="/resources/marcopoloHolguines.png" alt="">
                                    <p>Cali Sur, Holguines T.C.</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#bogota">
                                    <img src="/resources/marcopoloBogota.png" alt="">
                                    <p>Bogotá</p>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="card">
                                <a href="#calioeste">
                                    <img src="/resources/marcopoloLocalInter.png" alt="">
                                    <p>Cali Oeste, Hotel Intercontinental</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#barranquilla">

                                    <img src="/resources/marcopoloBarranquilla.png" alt="">
                                    <p>Barranquilla, Mall plaza Buenavista</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#calisur">
                                    <img src="/resources/marcopoloHolguines.png" alt="">
                                    <p>Cali Sur, Holguines T.C.</p>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="card">
                                <a href="#bogota">
                                    <img src="/resources/marcopoloBogota.png" alt="">
                                    <p>Bogotá,</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#barranquilla">

                                    <img src="/resources/marcopoloBarranquilla.png" alt="">
                                    <p>Barranquilla, Mall plaza Buenavista</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#calisur">

                                    <img src="/resources/marcopoloHolguines.png" alt="">
                                    <p>Cali Sur, Holguines T.C.</p>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="card">
                                <a href="#calisur">
                                    <img src="/resources/marcopoloHolguines.png" alt="">
                                    <p>Cali Sur, Holguines T.C.</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#calioeste">
                                    <img src="/resources/marcopoloLocalInter.png" alt="">
                                    <p>Cali Oeste, Hotel Intercontinental</p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#barranquilla">
                                    <img src="/resources/marcopoloBarranquilla.png" alt="">
                                    <p>Barranquilla, Mall plaza Buenavista</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="slider-nav right" id="btn-next">&#10095;</button>
                </div>

                <div class="dots" id="dots"></div>
            </div>
        </section>
    </section>
</body>

</html>