<!DOCTYPE html>
<html>

<head>
    <title>Cali Sur</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="item content-casin-img">
                    <section class="slidersur">
                        <div class="slider-wrappersur" id="sliderTracksur">
                            <div class="slidesur bg1sur"></div>
                            <div class="slidesur bg2sur"></div>
                            <div class="slidesur bg3sur"></div>
                        </div>
                        <div style="display: none;" class="slider-controlssur">
                            <input type="radio" name="slider-radio-sur" id="trigger1sur" checked>
                            <label for="trigger1sur"></label>
                            <input type="radio" name="slider-radio-sur" id="trigger2sur">
                            <label for="trigger2sur"></label>
                            <input type="radio" name="slider-radio-sur" id="trigger3sur">
                            <label for="trigger3sur"></label>
                        </div>
                        <div style="display: none;" class="content-flechasur">
                            <button class="arrowhsur arrowh-leftsur" id="prevBtnhsur">&#8249;</button>
                            <button class="arrowhsur arrowh-rightsur" id="nextBtnhsur">&#8250;</button>
                        </div>
                    </section>

                </div>
                <div class="content-casin-text">
                    <!-- <img src="/resources/logocasino.png" /> -->
                    <h2>MarcoPolo Holguines</h2>
                    <br />
                    <h2>Cali Sur</h2>
                    <br />
                    <div class="content-casin-text-desc">
                        <p class="item type5-h1">Al Sur de la sultana del Valle, en Holguines Trade Center se estrena el
                            más
                            reciente Marco Polo, un lugar de gusto exquisito para los habitantes de este sector.</p>
                        <p class="item type5-h1">
                            Marco Polo Holguines presenta espacios majestuosos, una oferta de entretenimiento completa
                            y una experiencia inolvidable para sus visitantes,
                            quienes puede llegar de manera muy sencilla desde cualquier punto de la ciudad.</p>
                    </div>

                </div>
                <div class="content-collage">
                    <img src="/resources/IMG_4399.jpg" alt="marcopolo">
                    <br/>
                    <p>Donde la elegancia y la comodidad se convierten en una sola experiencia.</p>
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M192 0C86 0 0 86 0 192c0 77.4 108.9 233.5 168.6 313.7a24 24 0 0 0 38.8 0C275.1 425.5 384 269.4 384 192 384 86 298 0 192 0zm0 272a80 80 0 1 1 0-160 80 80 0 0 1 0 160z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Cali Sur</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M3 22V2h18v20H3zm16-2V4H5v16h14zM7 20h2v-2H7v2zm0-4h2v-2H7v2zm0-4h2v-2H7v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Holguines T.C.</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 384 512">
                            <path
                                d="M168 0C75.1 0 0 75.1 0 168c0 88.4 120.1 240.4 168 312 47.9-71.6 168-223.6 168-312C336 75.1 260.9 0 168 0zm0 256a88 88 0 1 1 0-176 88 88 0 0 1 0 176z" />
                        </svg>
                        <br />
                        <h2 style="color: white;">Calle 100 B #11A-19 local #200</h2>
                    </div>
                    <div class="content-ubi-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M6.62 10.79a15.053 15.053 0 0 0 6.59 6.59l2.2-2.2a1.004 1.004 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3 5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.58.11.33.03.7-.24.97l-2.2 2.24z" />
                        </svg>

                        <br />

                        <h2 style="color: white;">(+57) 317-810-5045</h2>
                    </div>
                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.9138413699816!2d-76.54236452418684!3d3.371236151745556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a100704a4bc9%3A0xe1428e033efa6876!2sCasino%20Marco%20Polo%20Holguines!5e0!3m2!1sen!2sco!4v1719244138242!5m2!1sen!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <section id="juegos-view-2"></section>
        <section class="container">
            <div class="section-ubi">
                <div class="titulo content-ubi">
                    <a href="#barranquilla">
                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                        <p>Barranquilla, <br />Mallplaza Buenavista</p>
                    </a>
                </div>
                <div class="titulo content-ubi">
                    <a href="#calioeste">
                        <img src="/resources/marcopoloLocalInter.png" alt="">
                        <p>Cali Oeste, <br />Hotel InterContinental</p>
                    </a>
                </div>
                <div class="titulo content-ubi">
                    <a href="#bogota">
                        <img src="/resources/marcopoloBogota.png" alt="">
                        <p>Bogotá</p>
                    </a>
                </div>
            </div>
            <div style="text-align: center;padding: 20px 0;">
                <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a ubicaciones</a>
            </div>
        </section>
    </section>
</body>

</html>