<!DOCTYPE html>
<html>

<head>
    <title>Cali Sur</title>
</head>

<body>
    <section class="casin">
        <div class="container">
            <div class="content-casin">
                <div class="content-casin-img">
                    <section class="slidersur">
                        <div class="slider-wrappersur" id="sliderTracksur">
                            <div style="cursor: pointer;" class="slidesur bg1sur"></div>
                            <div style="cursor: pointer;" class="slidesur bg2sur"></div>
                            <div style="cursor: pointer;" class="slidesur bg3sur"></div>
                        </div>
                        <div class="slider-controlssur">
                            <input type="radio" name="slider-radio-sur" id="trigger1sur" checked>
                            <label for="trigger1sur"></label>
                            <input type="radio" name="slider-radio-sur" id="trigger2sur">
                            <label for="trigger2sur"></label>
                            <input type="radio" name="slider-radio-sur" id="trigger3sur">
                            <label for="trigger3sur"></label>
                        </div>
                        <div class="content-flechasur">
                            <button class="arrowhsur arrowh-leftsur" id="prevBtnhsur">&#8249;</button>
                            <button class="arrowhsur arrowh-rightsur" id="nextBtnhsur">&#8250;</button>
                        </div>
                    </section>

                </div>
                <div class="content-casin-text">
                    <img src="/resources/logocasino.png" />
                    <h1 class="type3-h1">Holguines</h1>
                    <br />
                    <p class="type5-h1">Al Sur de la sultana del Valle, en Holguines Trade Center se estrena el más
                        reciente Marco Polo, un lugar de gusto exquisito para los habitantes de este sector.
                        Marco Polo Holguines presenta espacios majestuosos, una oferta de entretenimiento completa
                        y una experiencia inolvidable para sus visitantes,
                        quienes puede llegar de manera muy sencilla desde cualquier punto de la ciudad.</p>
                </div>
            </div>
            <div class="address-casin">
                <div class="address-text">
                    <h2 class="type3-h1">Cali Sur</h2>
                    <h2 style="color: white;">Holguines T.C.</h2>
                    <h2 style="color: white;">📍 Calle 100 B #11A-19 local #200</h2>
                    <h2 style="color: white;">📞(+57) 317 439 1688</h2>
                </div>
                <div class="address-ubicacion">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.9138413699816!2d-76.54236452418684!3d3.371236151745556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a100704a4bc9%3A0xe1428e033efa6876!2sCasino%20Marco%20Polo%20Holguines!5e0!3m2!1sen!2sco!4v1719244138242!5m2!1sen!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <section id="toPromo" class="container navigation-ubicacionesU">
            <div class="carousel-infiniteU">
                <h1 style="text-align: center;" class="type2-h1">Entretenimiento y Servicios:</h1>
                <br />
                <div id="toCasinos" class="carousel-trackU">
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>

                    <!-- Duplicado para animación infinita -->
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/baccarat-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Baccarat</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/ruleta.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Ruleta Manual y electrónica</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/blackjack-carrusel.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Black Jack</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/slots.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Slots</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/poker.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Póker</p>
                    </div>
                    <div class="slideU">
                        <img src="/resources/hipodromo.jpg" alt="1" />
                        <p class="type5-h1" style="color: white; text-align: center;">Hipódromo</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="section-ubi">
                <div class="content-ubi">
                    <a href="#barranquilla">
                        <img src="/resources/marcopoloBarranquilla.png" alt="">
                        <p>Barranquilla, Mallplaza Buenavista</p>
                    </a>
                </div>
                <div class="content-ubi">
                    <a href="#calioeste">
                        <img src="/resources/marcopoloLocalInter.png" alt="">
                        <p>Cali Oeste, Hotel InterContinental</p>
                    </a>
                </div>
                <div class="content-ubi">
                    <a href="#bogota">
                        <img src="/resources/marcopoloBogota.png" alt="">
                        <p>Bogotá</p>
                    </a>
                </div>
            </div>
        </section>
    </section>
</body>

</html>