.casin {
  position: relative;
  /* Necesario para que ::before funcione bien */
  z-index: 0;
  min-height: 100vh;
  /* Asegura que tenga suficiente altura para que se vea */
}


.casin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/resources/fondo-color-global2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


.content-casin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 50px;
  position: relative;
}

.content-casin-img {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

/* .content-casin-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.content-casin-text {
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
}

.content-casin-text img {
  width: 70%;
}

.content-casin-text h2 {
  font-size: 4rem;
}


.content-casin-text p {
  text-align: justify;
  width: 100%;
  line-height: 2rem;
}

.address-casin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.content-ubi-icon-1{

}

.content-ubi-icon-1 svg{
  width: 30px;
  height: 30px;
  fill: #fff;
}

.address-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 25px;
  text-align: center;
  background-color: #27314F;
  border-radius: 20px;
}

.address-ubicacion {
  width: 100%;
  height: 600px;
}

.address-ubicacion iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 0 40px 40px;
}


.section-ubi {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.content-ubi {
  background: #27314f;
  border: 2px solid #e3e4e5;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  color: white;
  width: 100%;
}

.content-ubi a {
  text-decoration: none;
}

.content-ubi img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.content-ubi p {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #e3e4e5;
}



/* Slider de cada ubicacion */

/* BARRANQUILLA */

.sliderbarranquilla {
  width: 100%;
  overflow: hidden;
}

.slider-wrapperbarranquilla {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 400px;
}

.slidebarranquilla {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg1barranquilla {
  background-image: url(/resources/marcopoloBarranquilla-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

.bg2barranquilla {
  background-image: url(https://img.freepik.com/vector-gratis/ilustracion-realista-juegos-casino_52683-99923.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

.bg3barranquilla {
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-estandarte-juego-poquer-casino-espacio-texto_1017-54064.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

/* Ocultar radios */
input[name="slider-radio-barranquilla"] {
  display: none;
}

/* Botones navegaci贸n (puntos) */
.slider-controlsbarranquilla label {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #efb810;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  display: inline-block;
  transition: background 0.3s;
}

/* Contenedor de puntos */
.slider-controlsbarranquilla {
  position: relative;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Punto activo */
.slider-controlsbarranquilla input[type="radio"]:checked+label {
  background: #efb810;
}

.content-flechabarranquilla {
  position: relative;
  bottom: 280px;
}

/* Flechas */
.arrowhbarranquilla {
  position: relative;
  background: transparent;
  color: #efb810;
  font-size: 5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.arrowh-leftbarranquilla {
  left: 0px;
}

.arrowh-rightbarranquilla {
  left: 490px;
}

.content-slide-homebarranquilla {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 30vh;
  padding: 0 5px;
  box-sizing: border-box;
}

.content-slide-homebarranquilla img {
  width: 300px;
}

.content-slide-homebarranquilla h1 {
  font-size: 2.2rem;
  color: #efb810;
}


/* BOGOTA */

.sliderbogota {
  width: 100%;
  overflow: hidden;
}

.slider-wrapperbogota {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 400px;
}

.slidebogota {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg1bogota {
  background-image: url(/resources/marcopoloBogota-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

.bg2bogota {
  background-image: url(https://img.freepik.com/vector-gratis/ilustracion-realista-juegos-casino_52683-99923.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

.bg3bogota {
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-estandarte-juego-poquer-casino-espacio-texto_1017-54064.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

/* Ocultar radios */
input[name="slider-radio-bogota"] {
  display: none;
}

/* Botones navegaci贸n (puntos) */
.slider-controlsbogota label {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #efb810;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  display: inline-block;
  transition: background 0.3s;
}

/* Contenedor de puntos */
.slider-controlsbogota {
  position: relative;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Punto activo */
.slider-controlsbogota input[type="radio"]:checked+label {
  background: #efb810;
}

.content-flechabogota {
  position: relative;
  bottom: 280px;
}

/* Flechas */
.arrowhbogota {
  position: relative;
  background: transparent;
  color: #efb810;
  font-size: 5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.arrowh-leftbogota {
  left: 0px;
}

.arrowh-rightbogota {
  left: 490px;
}

.content-slide-homebogota {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 30vh;
  padding: 0 5px;
  box-sizing: border-box;
}

.content-slide-homebogota img {
  width: 300px;
}

.content-slide-homebogota h1 {
  font-size: 2.2rem;
  color: #efb810;
}

/* CALI OESTE */

.slideroeste {
  width: 100%;
  overflow: hidden;
}

.slider-wrapperoeste {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 400px;
}

.slideoeste {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg1oeste {
  background-image: url(/resources/marcopoloLocalInter-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-position: top;
}

.bg2oeste {
  background-image: url(https://img.freepik.com/vector-gratis/ilustracion-realista-juegos-casino_52683-99923.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.bg3oeste {
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-estandarte-juego-poquer-casino-espacio-texto_1017-54064.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Ocultar radios */
input[name="slider-radio-oeste"] {
  display: none;
}

/* Botones navegaci贸n (puntos) */
.slider-controlsoeste label {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #efb810;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  display: inline-block;
  transition: background 0.3s;
}

/* Contenedor de puntos */
.slider-controlsoeste {
  position: relative;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Punto activo */
.slider-controlsoeste input[type="radio"]:checked+label {
  background: #efb810;
}

.content-flechaoeste {
  position: relative;
  bottom: 280px;
}

/* Flechas */
.arrowhoeste {
  position: relative;
  background: transparent;
  color: #efb810;
  font-size: 5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.arrowh-leftoeste {
  left: 0px;
}

.arrowh-rightoeste {
  left: 490px;
}

.content-slide-homeoeste {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 30vh;
  padding: 0 5px;
  box-sizing: border-box;
}

.content-slide-homeoeste img {
  width: 300px;
}

.content-slide-homeoeste h1 {
  font-size: 2.2rem;
  color: #efb810;
}


/* CALI SUR */

.slidersur {
  width: 100%;
  overflow: hidden;
}

.slider-wrappersur {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 400px;
}

.slidesur {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bg1sur {
  background-image: url(/resources/marcopoloHolguines.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.bg2sur {
  background-image: url(https://img.freepik.com/vector-gratis/ilustracion-realista-juegos-casino_52683-99923.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.bg3sur {
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-estandarte-juego-poquer-casino-espacio-texto_1017-54064.jpg?semt=ais_hybrid&w=740);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Ocultar radios */
input[name="slider-radio-sur"] {
  display: none;
}

/* Botones navegaci贸n (puntos) */
.slider-controlssur label {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #efb810;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  display: inline-block;
  transition: background 0.3s;
}

/* Contenedor de puntos */
.slider-controlssur {
  position: relative;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Punto activo */
.slider-controlssur input[type="radio"]:checked+label {
  background: #efb810;
}

.content-flechasur {
  position: relative;
  bottom: 280px;
}

/* Flechas */
.arrowhsur {
  position: relative;
  background: transparent;
  color: #efb810;
  font-size: 5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.arrowh-leftsur {
  left: 0px;
}

.arrowh-rightsur {
  left: 490px;
}

.content-slide-homesur {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 30vh;
  padding: 0 5px;
  box-sizing: border-box;
}

.content-slide-homesur img {
  width: 300px;
}

.content-slide-homesur h1 {
  font-size: 2.2rem;
  color: #efb810;
}




@media (max-width: 768px) {

  .content-casin {
    display: grid;
    height: auto;
  }

  .address-casin {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;

  }

  .address-ubicacion {
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .address-ubicacion iframe {
    width: 100%;
    height: 100%;
  }

  .address-text {
    height: 100%;
    text-align: center;
    padding: 20px;
  }

  .content-casin-img {
    width: 100%;
    height: 300px;
  }

  .content-casin-img img {
    width: 100%;
    height: 100%;
  }

  .content-casin-text {
    width: 100%;

  }


  .section-ubi {
    flex-direction: column;
  }

}

@media (max-width: 380px) {
  .content-casin {
    height: 150vh;
    display: grid;
  }

  .address-casin {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    height: 100vh;
  }

  .address-text {
    width: 100%;
    height: 100%;
  }

  .address-ubicacion {
    width: 100%;
    height: 100%;
  }

  .address-ubicacion iframe {
    width: 100%;
    height: 100%;
  }

  .address-text {
    height: auto;
    text-align: center;
  }

  .carousel-track .content-track {
    height: 190px;
  }


}