.container-ruleta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    color: azure;
    gap: 30px;
    background-image: url(/resources/background-blackjack-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-ruleta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
}

.content2-ruleta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}


.modal-content2 {
    background-color: #fff;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    max-height: 80vh;
    overflow: hidden;
    /* evita que el contenido sobresalga */
    display: flex;
    flex-direction: column;
}

.modal-body {
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 10px;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content2>h2 {
    text-align: center;
}


.styled-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.styled-table-container th,
.styled-table-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


.styled-table-container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.styled-table-container th,
.styled-table-container td {
    padding: 12px 16px;
    text-align: left;
}

.styled-table-container thead {
    background: linear-gradient(to right, #6622F8, #2C16B0, #6622F8, #2C16B0, #6622F8, #2C16B0);
    /* Morado oscuro */
    color: #ffffff;
}

.styled-table-container tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
}

.styled-table-container tbody tr:hover {
    background-color: #f0e6ff;
    /* Lila claro */
}

.styled-table-container td {
    color: #333;
}

.styled-table-container .explain-values p {
    border-left: 5px solid black;
    padding-left: 10px;
    margin-bottom: 40px;
}

.canvas-view {
    background-image: url(/resources/ruletanegra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    padding: 26px;
}


@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .container-ruleta {
        background-image: url(/resources/background-blackjack-mobile-home.png);
        width: 100%;
        padding: 20px;
        height: 100vh;
    }

    .container-ruleta {
        height: auto;
        padding: 20px;
    }

    .container-ruleta canvas {
        width: 100%;
        height: 100%;
    }

    .content-ruleta {
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .canvas-view {
        padding: 17px;
    }
}

@media (max-width: 400px) {
    .canvas-view {
        padding: 15px;

    }
}