.content-politica {
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    padding: 30px;
    margin: 30px 0;
}

.content-politica h2 {
    text-decoration: underline;
}

.content-politica p {
    padding-left: 40px;
    line-height: 1.5rem;
    text-align: justify;
}

.content-politica span {
    text-align: justify;
    margin-bottom: 10px;
}

.content-politica h4 {
    font-weight: bold;
}

.content-politica ul {
    padding-left: 40px;
}

.content-politica ul li {
    margin-bottom: 8px;
    line-height: 1.5rem;
    text-align: justify;
}