@font-face {
  font-family: "Averta Black";
  src: url("/fonts/AVERTA BLACK.OTF") format("opentype");
}

@font-face {
  font-family: "Averta Bold";
  src: url("/fonts/AVERTA BOLD.OTF") format("opentype");
}

@font-face {
  font-family: "Averta ExtraBold";
  src: url("/fonts/AVERTA EXTRA BOLD.OTF") format("opentype");
}

@font-face {
  font-family: "Averta ExtraThin";
  src: url("/fonts/AVERTA EXTRATHIN.OTF") format("opentype");
}

@font-face {
  font-family: "Averta Light";
  src: url("/fonts/AVERTA LIGHT.OTF") format("opentype");
}

@font-face {
  font-family: "Averta SemiBold";
  src: url("/fonts/AVERTA SEMIBOLD.OTF") format("opentype");
}

@font-face {
  font-family: "Averta Thin";
  src: url("/fonts/AVERTA THIN.OTF") format("opentype");
}
