.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  input[type="radio"] {
    display: none;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-size: cover;
    background-position: center;
    transition: left 0.5s ease;
    z-index: 1;
  }

  input:checked + .slide {
    left: 0;
    z-index: 2;
  }

  .nav-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
  }

  .nav-dots label {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
  }

  /* input#slide1:checked ~ .nav-dots label[for="slide1"],
  input#slide2:checked ~ .nav-dots label[for="slide2"],
  input#slide3:checked ~ .nav-dots label[for="slide3"],
  input#slide4:checked ~ .nav-dots label[for="slide4"],
  input#slide5:checked ~ .nav-dots label[for="slide5"] {
    background: black;
  } */


  .bg1 { background-image: url(/resourse/s1.jpg); }
  .bg2 { background-image: url(/resourse/s2.jpg); }
  .bg3 { background-image: url(/resourse/s3.jpg); }

  @media (max-width: 768px) {
    .nav-dots label {
      width: 10px;
      height: 10px;
    }
  }


