* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Interphases Pro Variable', sans-serif !important; 
}

html {
    overflow-x: hidden;
    background-color: #1F253A;
    scroll-behavior: smooth;
}

