/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Interphases Pro Variable', sans-serif !important; 
}

body, html {
    overflow-x: hidden;
    background-color: #1F253A;
    scroll-behavior: auto;
}

.container {
  width: 100%;
  max-width: 1200px; /* ancho máximo */
  margin: 0 auto;     /* centra horizontalmente */
  padding: 0 20px;    /* espacio a los lados */
}



/* DISEÑO DE BOTONES */
.purple-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5100ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.purple-button:hover {
  background-color: #2C16B0;
  transition: background-color 0.3s ease;
}

.btn-design1 {
  padding: 8px 16px;
  background-color: #5000fc;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  font-size: 14px;
  font-weight: 1000;
  transition: background-color 0.3s ease;
}

.btn-design1:hover {
  background-color: white;
  color: #5000fc;
  transition: background-color 0.3s ease;
}


.btn-design2 {
  padding: 8px 16px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  font-size: 14px;
  font-weight: 1000;
  transition: background-color 0.3s ease;
}

.btn-design2:hover {
  background-color: #5000fc;
  color: white;
  transition: background-color 0.3s ease;
}

/* TIPOS DE TITULOS */

.type-h1 {
  color: #2c16b0;
  font-size: 40px;
  font-weight: 900;
  line-height: 2.2rem;
}

.type2-h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 2.2rem;
}

/* TRANSICION DE ITEMS */


.titulo {
  opacity: 0; /* Empieza oculto */
  transform: translateY(50px); /* Opcional: empieza más abajo */
  transition: transform 1.5s ease-out, opacity 0.2s ease-out;
}

.titulor {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 0.9s ease-out, opacity 0.5s ease-out;
}

.titulol {
  opacity: 0;
  transform: translateX(-50px);
  transition: transform 0.9s ease-out, opacity 0.5s ease-out;
}

.item {
  animation: aparecer 0.8s ease forwards;
}

@keyframes aparecer {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* DISEÑO DE LINEAS */


.linea-horizontal {
  width: 100%; /* Ocupa todo el ancho de su contenedor padre */
  height: 2px;   /* Grosor de la línea */
  background-color: #F6921E; /* Color de la línea */
  margin: 20px 0; /* Espacio arriba y abajo de la línea (opcional) */
}

.linea-vertical {
  width: 2px;      /* Grosor de la línea */
  height: 390px;    /* Altura de la línea (ajusta según necesites) */
  background-color: #F6921E; /* Color de la línea */
  margin: 0 10px;  /* Espacio a la izquierda y derecha de la línea (opcional) */
  display: inline-block; /* Para que no ocupe todo el ancho */
}


/* MENSAJE DE EXITO */
.success-message {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 12px 16px;
  border-left: 6px solid #198754;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

/* SPINNER DE LOADER */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle-loader {
  position: relative;
  width: 200px;
  height: 200px;
  animation: rotate 6s linear infinite;
}

.circle-loader span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.circle-loader span:nth-child(1) { transform: rotate(0deg) translate(100px) rotate(0deg); }
.circle-loader span:nth-child(2) { transform: rotate(24deg) translate(100px) rotate(-24deg); }
.circle-loader span:nth-child(3) { transform: rotate(48deg) translate(100px) rotate(-48deg); }
.circle-loader span:nth-child(4) { transform: rotate(72deg) translate(100px) rotate(-72deg); }
.circle-loader span:nth-child(5) { transform: rotate(96deg) translate(100px) rotate(-96deg); }
.circle-loader span:nth-child(6) { transform: rotate(120deg) translate(100px) rotate(-120deg); }
.circle-loader span:nth-child(7) { transform: rotate(144deg) translate(100px) rotate(-144deg); }
.circle-loader span:nth-child(8) { transform: rotate(168deg) translate(100px) rotate(-168deg); }
.circle-loader span:nth-child(9) { transform: rotate(192deg) translate(100px) rotate(-192deg); }
.circle-loader span:nth-child(10) { transform: rotate(216deg) translate(100px) rotate(-216deg); }
.circle-loader span:nth-child(11) { transform: rotate(240deg) translate(100px) rotate(-240deg); }
.circle-loader span:nth-child(12) { transform: rotate(264deg) translate(100px) rotate(-264deg); }
.circle-loader span:nth-child(13) { transform: rotate(288deg) translate(100px) rotate(-288deg); }
.circle-loader span:nth-child(14) { transform: rotate(312deg) translate(100px) rotate(-312deg); }
.circle-loader span:nth-child(15) { transform: rotate(336deg) translate(100px) rotate(-336deg); }

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  @media  (max-width: 768px){
    html {
      overflow-x: hidden;
  }
    .purple-button {
      font-size: 13px;
      width: auto;
      text-align: center;
    }
    .container {    /* centra horizontalmente */
      padding: 20px;    /* espacio a los lados */
    }
  }