* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Interphases Pro Variable', sans-serif !important; 
}

html {
    overflow-x: hidden;
    background-color: #1F253A;
    scroll-behavior: smooth;
}


.linea-horizontal {
  width: 100%; /* Ocupa todo el ancho de su contenedor padre */
  height: 2px;   /* Grosor de la línea */
  background-color: #F6921E; /* Color de la línea */
  margin: 20px 0; /* Espacio arriba y abajo de la línea (opcional) */
}

.linea-vertical {
  width: 2px;      /* Grosor de la línea */
  height: 390px;    /* Altura de la línea (ajusta según necesites) */
  background-color: #F6921E; /* Color de la línea */
  margin: 0 10px;  /* Espacio a la izquierda y derecha de la línea (opcional) */
  display: inline-block; /* Para que no ocupe todo el ancho */
}



/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    color: #854f1d;
    border-radius: 50%;
    display: grid;
    background: 
      conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
      -4px -4px/calc(50% + 2px) calc(50% + 2px),
      radial-gradient(farthest-side,currentColor 6px,#0000 7px calc(100% - 6px),currentColor calc(100% - 5px)) no-repeat;
    animation: l10 2s infinite linear;
    position: relative;
  }
  .loader:before {
    content: "";
    border-radius: inherit;
    background: inherit;
    transform: rotate(45deg);
  }
  @keyframes l10 {to{transform: rotate(.5turn)}}